extends /_layout/default.pug

block view
  .c-fade-in
    .c-row
      .c-col-lg-12
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Bootstrap Breadcrumb
            .c-card-header-actions
              a.c-card-header-action(href='http://coreui.io/docs/components/bootstrap-breadcrumb/', target='_blank')
                small.c-text-muted docs
          .c-card-body
            nav(aria-label='breadcrumb', role='navigation')
              ol.c-breadcrumb
                li.c-breadcrumb-item.c-active(aria-current='page') Home
            nav(aria-label='breadcrumb', role='navigation')
              ol.c-breadcrumb
                li.c-breadcrumb-item
                  a(href='#') Home
                li.c-breadcrumb-item.c-active(aria-current='page') Library
            nav(aria-label='breadcrumb', role='navigation')
              ol.c-breadcrumb
                li.c-breadcrumb-item
                  a(href='#') Home
                li.c-breadcrumb-item
                  a(href='#') Library
                li.c-breadcrumb-item.c-active(aria-current='page') Data
            nav.c-breadcrumb
              a.c-breadcrumb-item(href='#') Home
              a.c-breadcrumb-item(href='#') Library
              a.c-breadcrumb-item(href='#') Data
              span.c-breadcrumb-item.c-active Bootstrap
    // /.c-row
