extends /_layout/default.pug

block view
  .c-fade-in
    .c-row
      .c-col-sm-12.c-col-xl-6
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Collapse
            .c-card-header-actions
              a.c-card-header-action(href='http://coreui.io/docs/components/bootstrap-collapse/', target='_blank')
                small.c-text-muted docs
          .c-card-body
            p
              a.c-btn.c-btn-primary(data-toggle='c-collapse', href='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
                | Link with href
              button.c-btn.c-btn-primary(type='button', data-toggle='c-collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
                | Button with data-target
            #collapseExample.c-collapse
              .c-card.c-card-body
                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Collapse
            small multiple targets
          .c-card-body
            p
              a.c-btn.c-btn-primary(data-toggle='c-collapse', href='#multiCollapseExample1', aria-expanded='false', aria-controls='multiCollapseExample1') Toggle first element
              button.c-btn.c-btn-primary(type='button', data-toggle='c-collapse', data-target='#multiCollapseExample2', aria-expanded='false', aria-controls='multiCollapseExample1') Toggle second element
              button.c-btn.c-btn-primary(type='button', data-toggle='c-collapse', data-target='.multi-collapse', aria-expanded='false', aria-controls='multiCollapseExample1 multiCollapseExample2') Toggle both elements
            .c-row
              .c-col-sm-12.c-col-md-6
                #multiCollapseExample1.c-collapse.multi-collapse
                  .c-card.c-card-body
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              .c-col-sm-12.c-col-md-6
                #multiCollapseExample2.c-collapse.multi-collapse
                  .c-card.c-card-body
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      .c-col-sm-12.c-col-xl-6
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Collapse
            small accordion
          .c-card-body
            .c-accordion#accordion(role='tablist')
              .c-card.c-mb-0
                #headingOne.c-card-header(role='tab')
                  h5.c-mb-0
                    a(data-toggle='c-collapse', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                      | Collapsible Group Item #1
                #collapseOne.c-collapse.c-show(role='tabpanel', aria-labelledby='headingOne', data-parent='#accordion')
                  .c-card-body
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              .c-card.c-mb-0
                #headingTwo.c-card-header(role='tab')
                  h5.c-mb-0
                    a.c-collapsed(data-toggle='c-collapse', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                      | Collapsible Group Item #2
                #collapseTwo.c-collapse(role='tabpanel', aria-labelledby='headingTwo', data-parent='#accordion')
                  .c-card-body
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              .c-card.c-mb-0
                #headingThree.c-card-header(role='tab')
                  h5.c-mb-0
                    a.c-collapsed(data-toggle='c-collapse', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                      | Collapsible Group Item #3
                #collapseThree.c-collapse(role='tabpanel', aria-labelledby='headingThree', data-parent='#accordion')
                  .c-card-body
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Collapse
            small custom accordion
          .c-card-body
            #exampleAccordion(data-children='.item')
              .item
                a(data-toggle='c-collapse', data-parent='#exampleAccordion', href='#exampleAccordion1', aria-expanded='true', aria-controls='exampleAccordion1')
                  | Toggle item
                #exampleAccordion1.c-collapse.c-show(role='tabpanel')
                  p.c-mb-3
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.
              .item
                a(data-toggle='c-collapse', data-parent='#exampleAccordion', href='#exampleAccordion2', aria-expanded='false', aria-controls='exampleAccordion2')
                  | Toggle item 2
                #exampleAccordion2.c-collapse(role='tabpanel')
                  p.c-mb-3
                    | Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
