extends /_layout/default.pug

block view
  .c-fade-in
    .c-row
      .c-col-sm-6
        .c-card
          .c-card-header
            strong Credit Card
            small Form
          .c-card-body
            .c-row
              .c-col-sm-12
                .c-form-group
                  label(for='name') Name
                  input#name.c-form-control(type='text', placeholder='Enter your name')
            // /.c-row
            .c-row
              .c-col-sm-12
                .c-form-group
                  label(for='ccnumber') Credit Card Number
                  input#ccnumber.c-form-control(type='text', placeholder='0000 0000 0000 0000')
            // /.c-row
            .c-row
              .c-form-group.c-col-sm-4
                label(for='ccmonth') Month
                select#ccmonth.c-form-control
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
                  option 6
                  option 7
                  option 8
                  option 9
                  option 10
                  option 11
                  option 12
              .c-form-group.c-col-sm-4
                label(for='ccyear') Year
                select#ccyear.c-form-control
                  option 2014
                  option 2015
                  option 2016
                  option 2017
                  option 2018
                  option 2019
                  option 2020
                  option 2021
                  option 2022
                  option 2023
                  option 2024
                  option 2025
              .c-col-sm-4
                .c-form-group
                  label(for='cvv') CVV/CVC
                  input#cvv.c-form-control(type='text', placeholder='123')
            // /.c-row
      // /.c-col
      .c-col-sm-6
        .c-card
          .c-card-header
            strong Company
            small Form
          .c-card-body
            .c-form-group
              label(for='company') Company
              input#company.c-form-control(type='text', placeholder='Enter your company name')
            .c-form-group
              label(for='vat') VAT
              input#vat.c-form-control(type='text', placeholder='PL1234567890')
            .c-form-group
              label(for='street') Street
              input#street.c-form-control(type='text', placeholder='Enter street name')
            .c-row
              .c-form-group.c-col-sm-8
                label(for='city') City
                input#city.c-form-control(type='text', placeholder='Enter your city')
              .c-form-group.c-col-sm-4
                label(for='postal-code') Postal Code
                input#postal-code.c-form-control(type='text', placeholder='Postal Code')
            // /.c-row
            .c-form-group
              label(for='country') Country
              input#country.c-form-control(type='text', placeholder='Country name')
      // /.c-col
    // /.c-row
    .c-row
      .c-col-md-6
        .c-card
          .c-card-header
            strong Basic Form
            |           Elements
          .c-card-body
            form.form-horizontal(action='', method='post', enctype='multipart/form-data')
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label Static
                .c-col-md-9
                  p.c-form-control-static Username
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='text-input') Text Input
                .c-col-md-9
                  input#text-input.c-form-control(type='text', name='text-input', placeholder='Text')
                  span.help-block This is a help text
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='email-input') Email Input
                .c-col-md-9
                  input#email-input.c-form-control(type='email', name='email-input', placeholder='Enter Email', autocomplete='email')
                  span.help-block Please enter your email
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='password-input') Password
                .c-col-md-9
                  input#password-input.c-form-control(type='password', name='password-input', placeholder='Password', autocomplete='new-password')
                  span.help-block Please enter a complex password
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='date-input') Date Input
                .c-col-md-9
                  input#date-input.c-form-control(type='date', name='date-input', placeholder='date')
                  span.help-block Please enter a valid date
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='disabled-input') Disabled Input
                .c-col-md-9
                  input#disabled-input.c-form-control(type='text', name='disabled-input', placeholder='Disabled', disabled='')
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='textarea-input') Textarea
                .c-col-md-9
                  textarea#textarea-input.c-form-control(name='textarea-input', rows='9', placeholder='Content..')
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='select1') Select
                .c-col-md-9
                  select#select1.c-form-control(name='select1')
                    option(value='0') Please select
                    option(value='1') Option #1
                    option(value='2') Option #2
                    option(value='3') Option #3
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='select2') Select Large
                .c-col-md-9
                  select#select2.c-form-control.c-form-control-lg(name='select2')
                    option(value='0') Please select
                    option(value='1') Option #1
                    option(value='2') Option #2
                    option(value='3') Option #3
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='select3') Select Small
                .c-col-md-9
                  select#select3.c-form-control.c-form-control-sm(name='select3')
                    option(value='0') Please select
                    option(value='1') Option #1
                    option(value='2') Option #2
                    option(value='3') Option #3
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='disabledSelect') Disabled Select
                .c-col-md-9
                  select#disabledSelect.c-form-control(disabled='')
                    option(value='0') Please select
                    option(value='1') Option #1
                    option(value='2') Option #2
                    option(value='3') Option #3
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='multiple-select') Multiple select
                .c-col-md-9
                  select#multiple-select.c-form-control(name='multiple-select', size='5', multiple='')
                    option(value='1') Option #1
                    option(value='2') Option #2
                    option(value='3') Option #3
                    option(value='4') Option #4
                    option(value='5') Option #5
                    option(value='6') Option #6
                    option(value='7') Option #7
                    option(value='8') Option #8
                    option(value='9') Option #9
                    option(value='10') Option #10
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label Radios
                .c-col-md-9.c-col-form-label
                  .c-form-check
                    input#radio1.c-form-check-input(type='radio', value='radio1', name='radios')
                    label.c-form-check-label(for='radio1')
                      | Option 1
                  .c-form-check
                    input#radio2.c-form-check-input(type='radio', value='radio2', name='radios')
                    label.c-form-check-label(for='radio2')
                      | Option 2
                  .c-form-check
                    input#radio3.c-form-check-input(type='radio', value='radio2', name='radios')
                    label.c-form-check-label(for='radio3')
                      | Option 3
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label Inline Radios
                .c-col-md-9.c-col-form-label
                  .c-form-check.c-form-check-inline.c-mr-1
                    input#inline-radio1.c-form-check-input(type='radio', value='option1', name='inline-radios')
                    label.c-form-check-label(for='inline-radio1') One
                  .c-form-check.c-form-check-inline.c-mr-1
                    input#inline-radio2.c-form-check-input(type='radio', value='option2', name='inline-radios')
                    label.c-form-check-label(for='inline-radio2') Two
                  .c-form-check.c-form-check-inline.c-mr-1
                    input#inline-radio3.c-form-check-input(type='radio', value='option3', name='inline-radios')
                    label.c-form-check-label(for='inline-radio3') Three
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label Checkboxes
                .c-col-md-9.c-col-form-label
                  .c-form-check.checkbox
                    input#check1.c-form-check-input(type='checkbox', value='')
                    label.c-form-check-label(for='check1')
                      | Option 1
                  .c-form-check.checkbox
                    input#check2.c-form-check-input(type='checkbox', value='')
                    label.c-form-check-label(for='check2')
                      | Option 2
                  .c-form-check.checkbox
                    input#check3.c-form-check-input(type='checkbox', value='')
                    label.c-form-check-label(for='check3')
                      | Option 3
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label Inline Checkboxes
                .c-col-md-9.c-col-form-label
                  .c-form-check.c-form-check-inline.c-mr-1
                    input#inline-checkbox1.c-form-check-input(type='checkbox', value='check1')
                    label.c-form-check-label(for='inline-checkbox1') One
                  .c-form-check.c-form-check-inline.c-mr-1
                    input#inline-checkbox2.c-form-check-input(type='checkbox', value='check2')
                    label.c-form-check-label(for='inline-checkbox2') Two
                  .c-form-check.c-form-check-inline.c-mr-1
                    input#inline-checkbox3.c-form-check-input(type='checkbox', value='check3')
                    label.c-form-check-label(for='inline-checkbox3') Three
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='file-input') File input
                .c-col-md-9
                  input#file-input(type='file', name='file-input')
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='file-multiple-input') Multiple File input
                .c-col-md-9
                  input#file-multiple-input(type='file', name='file-multiple-input', multiple='')
          .c-card-footer
            button.c-btn.c-btn-sm.c-btn-primary(type='submit')
              i.fa.fa-dot-circle-o
              |  Submit
            button.c-btn.c-btn-sm.c-btn-danger(type='reset')
              i.fa.fa-ban
              |  Reset
        .c-card
          .c-card-header
            strong Inline
            |           Form
          .c-card-body
            form.c-form-inline(action='', method='post')
              .c-form-group
                label.c-mr-1(for='exampleInputName2') Name
                input#exampleInputName2.c-form-control(type='text', placeholder='Jane Doe', autocomplete='name')
              .c-form-group
                label.c-mx-1(for='exampleInputEmail2') Email
                input#exampleInputEmail2.c-form-control(type='email', placeholder='jane.doe@example.com', autocomplete='email')
          .c-card-footer
            button.c-btn.c-btn-sm.c-btn-primary(type='submit')
              i.fa.fa-dot-circle-o
              |  Submit
            button.c-btn.c-btn-sm.c-btn-danger(type='reset')
              i.fa.fa-ban
              |  Reset
      .c-col-md-6
        .c-card
          .c-card-header
            strong Horizontal
            |           Form
          .c-card-body
            form.form-horizontal(action='', method='post')
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='hf-email') Email
                .c-col-md-9
                  input#hf-email.c-form-control(type='email', name='hf-email', placeholder='Enter Email..', autocomplete='email')
                  span.help-block Please enter your email
              .c-form-group.c-row
                label.c-col-md-3.c-col-form-label(for='hf-password') Password
                .c-col-md-9
                  input#hf-password.c-form-control(type='password', name='hf-password', placeholder='Enter Password..', autocomplete='current-password')
                  span.help-block Please enter your password
          .c-card-footer
            button.c-btn.c-btn-sm.c-btn-primary(type='submit')
              i.fa.fa-dot-circle-o
              |  Submit
            button.c-btn.c-btn-sm.c-btn-danger(type='reset')
              i.fa.fa-ban
              |  Reset
        .c-card
          .c-card-header
            strong Normal
            |           Form
          .c-card-body
            form(action='', method='post')
              .c-form-group
                label(for='nf-email') Email
                input#nf-email.c-form-control(type='email', name='nf-email', placeholder='Enter Email..', autocomplete='email')
                span.help-block Please enter your email
              .c-form-group
                label(for='nf-password') Password
                input#nf-password.c-form-control(type='password', name='nf-password', placeholder='Enter Password..', autocomplete='current-password')
                span.help-block Please enter your password
          .c-card-footer
            button.c-btn.c-btn-sm.c-btn-primary(type='submit')
              i.fa.fa-dot-circle-o
              |  Submit
            button.c-btn.c-btn-sm.c-btn-danger(type='reset')
              i.fa.fa-ban
              |  Reset
        .c-card
          .c-card-header
            | Input
            strong Grid
          .c-card-body
            form.form-horizontal(action='', method='post')
              .c-form-group.c-row
                .c-col-sm-3
                  input.c-form-control(type='text', placeholder='.c-col-sm-3')
              .c-form-group.c-row
                .c-col-sm-4
                  input.c-form-control(type='text', placeholder='.c-col-sm-4')
              .c-form-group.c-row
                .c-col-sm-5
                  input.c-form-control(type='text', placeholder='.c-col-sm-5')
              .c-form-group.c-row
                .c-col-sm-6
                  input.c-form-control(type='text', placeholder='.c-col-sm-6')
              .c-form-group.c-row
                .c-col-sm-7
                  input.c-form-control(type='text', placeholder='.c-col-sm-7')
              .c-form-group.c-row
                .c-col-sm-8
                  input.c-form-control(type='text', placeholder='.c-col-sm-8')
              .c-form-group.c-row
                .c-col-sm-9
                  input.c-form-control(type='text', placeholder='.c-col-sm-9')
              .c-form-group.c-row
                .c-col-sm-10
                  input.c-form-control(type='text', placeholder='.c-col-sm-10')
              .c-form-group.c-row
                .c-col-sm-11
                  input.c-form-control(type='text', placeholder='.c-col-sm-11')
              .c-form-group.c-row
                .c-col-sm-12
                  input.c-form-control(type='text', placeholder='.c-col-sm-12')
          .c-card-footer
            button.c-btn.c-btn-sm.c-btn-primary(type='submit')
              i.fa.fa-user
              |  Login
            button.c-btn.c-btn-sm.c-btn-danger(type='reset')
              i.fa.fa-ban
              |  Reset
        .c-card
          .c-card-header
            | Input
            strong Sizes
          .c-card-body
            form.form-horizontal(action='', method='post')
              .c-form-group.c-row
                label.c-col-sm-5.c-col-form-label(for='input-small') Small Input
                .c-col-sm-6
                  input#input-small.c-form-control.c-form-control-sm(type='text', name='input-small', placeholder='.c-form-control-sm')
              .c-form-group.c-row
                label.c-col-sm-5.c-col-form-label(for='input-normal') Normal Input
                .c-col-sm-6
                  input#input-normal.c-form-control(type='text', name='input-normal', placeholder='Normal')
              .c-form-group.c-row
                label.c-col-sm-5.c-col-form-label(for='input-large') Large Input
                .c-col-sm-6
                  input#input-large.c-form-control.c-form-control-lg(type='text', name='input-large', placeholder='.c-form-control-lg')
          .c-card-footer
            button.c-btn.c-btn-sm.c-btn-primary(type='submit')
              i.fa.fa-dot-circle-o
              |  Submit
            button.c-btn.c-btn-sm.c-btn-danger(type='reset')
              i.fa.fa-ban
              |  Reset
      // /.c-col
    // /.c-row
    .c-row
      .c-col-sm-6
        .c-card
          .c-card-header
            strong Validation states
            |           Form
          .c-card-body
            .c-form-group
              label.form-col-form-label(for='inputSuccess1') Input with success
              input#inputSuccess1.c-form-control.c-is-valid(type='text')
            .c-form-group
              label.form-col-form-label(for='inputError1') Input with error
              input#inputError1.c-form-control.c-is-invalid(type='text')
              .c-invalid-feedback
                | Please provide a valid informations.
      // /.c-col
      .c-col-sm-6
        .c-card
          .c-card-header
            strong Validation
            code was-validated
          .c-card-body.c-was-validated
            .c-form-group
              label.form-col-form-label(for='inputSuccess2') Input with success
              input#inputSuccess2.c-form-control.c-is-valid(type='text')
            .c-form-group
              label.form-col-form-label(for='inputError2') Input required
              input#inputError2.c-form-control.c-is-invalid(type='text', required='')
              .c-invalid-feedback
                | Please provide a valid informations.
      // /.c-col
    // /.c-row
    .c-row
      .c-col-sm-4
        .c-card
          .c-card-header
            strong Icon/Text
            |           Groups
          .c-card-body
            form.form-horizontal(action='', method='post')
              .c-form-group.c-row
                .c-col-md-12
                  .c-input-group
                    .c-input-group-prepend
                      span.c-input-group-text
                        i.fa.fa-user
                    input#input1-group1.c-form-control(type='text', name='input1-group1', placeholder='Username', autocomplete='username')
              .c-form-group.c-row
                .c-col-md-12
                  .c-input-group
                    input#input2-group1.c-form-control(type='email', name='input2-group1', placeholder='Email', autocomplete='email')
                    .c-input-group-append
                      span.c-input-group-text
                        i.fa.fa-envelope-o
              .c-form-group.c-row
                .c-col-md-12
                  .c-input-group
                    .c-input-group-prepend
                      span.c-input-group-text
                        i.fa.fa-euro
                    input#input3-group1.c-form-control(type='text', name='input3-group1', placeholder='..')
                    .c-input-group-append
                      span.c-input-group-text .00
          .c-card-footer
            button.c-btn.c-btn-sm.c-btn-success(type='submit')
              i.fa.fa-dot-circle-o
              |  Submit
            button.c-btn.c-btn-sm.c-btn-danger(type='reset')
              i.fa.fa-ban
              |  Reset
      .c-col-sm-4
        .c-card
          .c-card-header
            strong Buttons
            |           Groups
          .c-card-body
            form.form-horizontal(action='', method='post')
              .c-form-group.c-row
                .c-col-md-12
                  .c-input-group
                    span.c-input-group-prepend
                      button.c-btn.c-btn-primary(type='button')
                        i.fa.fa-search
                        |  Search
                    input#input1-group2.c-form-control(type='text', name='input1-group2', placeholder='Username', autocomplete='username')
              .c-form-group.c-row
                .c-col-md-12
                  .c-input-group
                    input#input2-group2.c-form-control(type='email', name='input2-group2', placeholder='Email', autocomplete='email')
                    span.c-input-group-append
                      button.c-btn.c-btn-primary(type='button') Submit
              .c-form-group.c-row
                .c-col-md-12
                  .c-input-group
                    span.c-input-group-prepend
                      button.c-btn.c-btn-primary(type='button')
                        i.fa.fa-facebook
                    input#input3-group2.c-form-control(type='text', name='input3-group2', placeholder='Search')
                    span.c-input-group-append
                      button.c-btn.c-btn-primary(type='button')
                        i.fa.fa-twitter
          .c-card-footer
            button.c-btn.c-btn-sm.c-btn-success(type='submit')
              i.fa.fa-dot-circle-o
              |  Submit
            button.c-btn.c-btn-sm.c-btn-danger(type='reset')
              i.fa.fa-ban
              |  Reset
      .c-col-sm-4
        .c-card
          .c-card-header
            strong Dropdowns
            |           Groups
          .c-card-body
            form.form-horizontal(action='', method='post')
              .c-form-group.c-row
                .c-col-md-12
                  .c-input-group
                    .c-input-group-prepend
                      button.c-btn.c-btn-primary.c-dropdown-toggle(type='button', data-toggle='c-dropdown')
                        | Action
                        span.caret
                      .c-dropdown-menu
                        a.c-dropdown-item(href='#') Action
                        a.c-dropdown-item(href='#') Another action
                        a.c-dropdown-item(href='#') Something else here
                        .c-dropdown-divider(role='separator')
                        a.c-dropdown-item(href='#') Separated link
                    input#input1-group3.c-form-control(type='text', name='input1-group3', placeholder='Username', autocomplete='username')
              .c-form-group.c-row
                .c-col-md-12
                  .c-input-group
                    input#input2-group3.c-form-control(type='email', name='input2-group3', placeholder='Email', autocomplete='email')
                    .c-input-group-append
                      button.c-btn.c-btn-primary.c-dropdown-toggle(type='button', data-toggle='c-dropdown')
                        | Action
                        span.caret
                      .c-dropdown-menu.c-dropdown-menu-right
                        a.c-dropdown-item(href='#') Action
                        a.c-dropdown-item(href='#') Another action
                        a.c-dropdown-item(href='#') Something else here
                        .c-dropdown-divider(role='separator')
                        a.c-dropdown-item(href='#') Separated link
              .c-row
                .c-col-md-12
                  .c-input-group
                    .c-input-group-prepend
                      button.c-btn.c-btn-primary(type='button') Action
                      button.c-btn.c-btn-primary.c-dropdown-toggle.c-dropdown-toggle-split(type='button', data-toggle='c-dropdown')
                        span.caret
                      .c-dropdown-menu
                        a.c-dropdown-item(href='#') Action
                        a.c-dropdown-item(href='#') Another action
                        a.c-dropdown-item(href='#') Something else here
                        .c-dropdown-divider(role='separator')
                        a.c-dropdown-item(href='#') Separated link
                    input#input3-group3.c-form-control(type='text', name='input3-group3', placeholder='..')
                    .c-input-group-append
                      button.c-btn.c-btn-primary.c-dropdown-toggle(type='button', data-toggle='c-dropdown')
                        span.caret
                      .c-dropdown-menu.c-dropdown-menu-right
                        a.c-dropdown-item(href='#') Action
                        a.c-dropdown-item(href='#') Another action
                        a.c-dropdown-item(href='#') Something else here
                        .c-dropdown-divider(role='separator')
                        a.c-dropdown-item(href='#') Separated link
          .c-card-footer
            button.c-btn.c-btn-sm.c-btn-success(type='submit')
              i.fa.fa-dot-circle-o
              |  Submit
            button.c-btn.c-btn-sm.c-btn-danger(type='reset')
              i.fa.fa-ban
              |  Reset
    .c-row
      .c-col-md-6
        .c-card
          .c-card-header
            | Use the grid for big devices!
            small
              code .c-col-lg-*
              code .c-col-md-*
              code .c-col-sm-*
          .c-card-body
            form.form-horizontal(action='', method='post')
              .c-form-group.c-row
                .c-col-md-8
                  input.c-form-control(type='text', placeholder='.c-col-md-8')
                .c-col-md-4
                  input.c-form-control(type='text', placeholder='.c-col-md-4')
              .c-form-group.c-row
                .c-col-md-7
                  input.c-form-control(type='text', placeholder='.c-col-md-7')
                .c-col-md-5
                  input.c-form-control(type='text', placeholder='.c-col-md-5')
              .c-form-group.c-row
                .c-col-md-6
                  input.c-form-control(type='text', placeholder='.c-col-md-6')
                .c-col-md-6
                  input.c-form-control(type='text', placeholder='.c-col-md-6')
              .c-form-group.c-row
                .c-col-md-5
                  input.c-form-control(type='text', placeholder='.c-col-md-5')
                .c-col-md-7
                  input.c-form-control(type='text', placeholder='.c-col-md-7')
              .c-form-group.c-row
                .c-col-md-4
                  input.c-form-control(type='text', placeholder='.c-col-md-4')
                .c-col-md-8
                  input.c-form-control(type='text', placeholder='.c-col-md-8')
          .c-card-footer
            button.c-btn.c-btn-sm.c-btn-primary(type='submit') Action
            button.c-btn.c-btn-sm.c-btn-danger(type='button') Action
            button.c-btn.c-btn-sm.c-btn-warning(type='button') Action
            button.c-btn.c-btn-sm.c-btn-info(type='button') Action
            button.c-btn.c-btn-sm.c-btn-success(type='button') Action
      .c-col-md-6
        .c-card
          .c-card-header
            | Input Grid for small devices!
            small
              code .c-col-*
          .c-card-body
            form.form-horizontal(action='', method='post')
              .c-form-group.c-row
                .c-col-4
                  input.c-form-control(type='text', placeholder='.c-col-4')
                .c-col-8
                  input.c-form-control(type='text', placeholder='.c-col-8')
              .c-form-group.c-row
                .c-col-5
                  input.c-form-control(type='text', placeholder='.c-col-5')
                .c-col-7
                  input.c-form-control(type='text', placeholder='.c-col-7')
              .c-form-group.c-row
                .c-col-6
                  input.c-form-control(type='text', placeholder='.c-col-6')
                .c-col-6
                  input.c-form-control(type='text', placeholder='.c-col-6')
              .c-form-group.c-row
                .c-col-7
                  input.c-form-control(type='text', placeholder='.c-col-5')
                .c-col-5
                  input.c-form-control(type='text', placeholder='.c-col-5')
              .c-form-group.c-row
                .c-col-8
                  input.c-form-control(type='text', placeholder='.c-col-8')
                .c-col-4
                  input.c-form-control(type='text', placeholder='.c-col-4')
          .c-card-footer
            button.c-btn.c-btn-sm.c-btn-primary(type='submit') Action
            button.c-btn.c-btn-sm.c-btn-danger(type='button') Action
            button.c-btn.c-btn-sm.c-btn-warning(type='button') Action
            button.c-btn.c-btn-sm.c-btn-info(type='button') Action
            button.c-btn.c-btn-sm.c-btn-success(type='button') Action
    .c-row
      .c-col-sm-4
        .c-card
          .c-card-header
            | Example Form
          .c-card-body
            form(action='', method='post')
              .c-form-group
                .c-input-group
                  .c-input-group-prepend
                    span.c-input-group-text Username
                  input#username3.c-form-control(type='text', name='username3', autocomplete='username')
                  .c-input-group-append
                    span.c-input-group-text
                      i.fa.fa-user
              .c-form-group
                .c-input-group
                  .c-input-group-prepend
                    span.c-input-group-text Email
                  input#email3.c-form-control(type='email', name='email3', autocomplete='email')
                  .c-input-group-append
                    span.c-input-group-text
                      i.fa.fa-envelope
              .c-form-group
                .c-input-group
                  .c-input-group-prepend
                    span.c-input-group-text Password
                  input#password3.c-form-control(type='password', name='password3', autocomplete='new-password')
                  .c-input-group-append
                    span.c-input-group-text
                      i.fa.fa-asterisk
              .c-form-group.form-actions
                button.c-btn.c-btn-sm.c-btn-primary(type='submit') Submit
      .c-col-sm-4
        .c-card
          .c-card-header
            | Example Form
          .c-card-body
            form(action='', method='post')
              .c-form-group
                .c-input-group
                  input#username2.c-form-control(type='text', name='username2', placeholder='Username', autocomplete='username')
                  .c-input-group-append
                    span.c-input-group-text
                      i.fa.fa-user
              .c-form-group
                .c-input-group
                  input#email2.c-form-control(type='email', name='email2', placeholder='Email', autocomplete='email')
                  .c-input-group-append
                    span.c-input-group-text
                      i.fa.fa-envelope
              .c-form-group
                .c-input-group
                  input#password2.c-form-control(type='password', name='password2', placeholder='Password', autocomplete='new-password')
                  .c-input-group-append
                    span.c-input-group-text
                      i.fa.fa-asterisk
              .c-form-group.form-actions
                button.c-btn.c-btn-sm.c-btn-secondary(type='submit') Submit
      .c-col-sm-4
        .c-card
          .c-card-header
            | Example Form
          .c-card-body
            form(action='', method='post')
              .c-form-group
                .c-input-group
                  .c-input-group-prepend
                    span.c-input-group-text
                      i.fa.fa-user
                  input#username.c-form-control(type='text', name='username', placeholder='Username', autocomplete='username')
              .c-form-group
                .c-input-group
                  .c-input-group-prepend
                    span.c-input-group-text
                      i.fa.fa-envelope
                  input#email.c-form-control(type='email', name='email', placeholder='Email', autocomplete='email')
              .c-form-group
                .c-input-group
                  .c-input-group-prepend
                    span.c-input-group-text
                      i.fa.fa-asterisk
                  input#password.c-form-control(type='password', name='password', placeholder='Password', autocomplete='new-password')
              .c-form-group.form-actions
                button.c-btn.c-btn-sm.c-btn-success(type='submit') Submit
    // /.c-row
    .c-row
      .c-col-lg-12
        .c-card
          .c-card-header
            i.fa.fa-edit
            | Form Elements
          .c-card-body
            form.form-horizontal
              .c-form-group
                label.c-col-form-label(for='prependedInput') Prepended text
                .controls
                  .input-prepend.c-input-group
                    .c-input-group-prepend
                      span.c-input-group-text @
                    input#prependedInput.c-form-control(size='16', type='text')
                  p.help-block Here's some help text
              .c-form-group
                label.c-col-form-label(for='appendedInput') Appended text
                .controls
                  .c-input-group
                    input#appendedInput.c-form-control(size='16', type='text')
                    .c-input-group-append
                      span.c-input-group-text .00
                  span.help-block Here's more help text
              .c-form-group
                label.c-col-form-label(for='appendedPrependedInput') Append and prepend
                .controls
                  .input-prepend.c-input-group
                    .c-input-group-prepend
                      span.c-input-group-text $
                    input#appendedPrependedInput.c-form-control(size='16', type='text')
                    .c-input-group-append
                      span.c-input-group-text .00
              .c-form-group
                label.c-col-form-label(for='appendedInputButton') Append with button
                .controls
                  .c-input-group
                    input#appendedInputButton.c-form-control(size='16', type='text')
                    span.c-input-group-append
                      button.c-btn.c-btn-secondary(type='button') Go!
              .c-form-group
                label.c-col-form-label(for='appendedInputButtons') Two-button append
                .controls
                  .c-input-group
                    input#appendedInputButtons.c-form-control(size='16', type='text')
                    span.c-input-group-append
                      button.c-btn.c-btn-secondary(type='button') Search
                      button.c-btn.c-btn-secondary(type='button') Options
              .form-actions
                button.c-btn.c-btn-primary(type='submit') Save changes
                button.c-btn.c-btn-secondary(type='button') Cancel
      // /.c-col
    // /.c-row
