extends /_layout/default.pug

block view
  .c-fade-in
    .c-row
      .c-col-sm-12.c-col-xl-6
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Jumbotron
            .c-card-header-actions
              a.c-card-header-action(href='http://coreui.io/docs/components/bootstrap-jumbotron/', target='_blank')
                small.c-text-muted docs
          .c-card-body
            .c-jumbotron
              h1.c-display-3 Hello, world!
              p.c-lead
                | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
              hr.c-my-4
              p
                | It uses utility classes for typography and spacing to space content out within the larger container.
              p.c-lead
                a.c-btn.c-btn-primary.c-btn-lg(href='#', role='button') Learn more
      .c-col-sm-12.c-col-xl-6
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Jumbotron
            small fluid
          .c-card-body
            .c-jumbotron.c-jumbotron-fluid
              .c-container
                h1.c-display-3 Fluid jumbotron
                p.c-lead
                  | This is a modified jumbotron that occupies the entire horizontal space of its parent.
