extends /_layout/default.pug

block view
  .c-fade-in
    .c-row
      .c-col-sm-12.c-col-xl-6
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Navs
            .c-card-header-actions
              a.c-card-header-action(href='http://coreui.io/docs/components/bootstrap-navs/', target='_blank')
                small.c-text-muted docs
          .c-card-body
            ul.c-nav
              li.c-nav-item
                a.c-nav-link.c-active(href='#') Active
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link.c-disabled(href='#') Disabled
            hr
            nav.c-nav
              a.c-nav-link.c-active(href='#') Active
              a.c-nav-link(href='#') Link
              a.c-nav-link(href='#') Link
              a.c-nav-link.c-disabled(href='#') Disabled
            hr
            ul.c-nav.c-justify-content-center
              li.c-nav-item
                a.c-nav-link.c-active(href='#') Active
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link.c-disabled(href='#') Disabled
            hr
            ul.c-nav.c-justify-content-end
              li.c-nav-item
                a.c-nav-link.c-active(href='#') Active
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link.c-disabled(href='#') Disabled
      .c-col-sm-12.c-col-xl-3
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Navs
            small vertical
          .c-card-body
            nav.c-nav.c-flex-column
              a.c-nav-link.c-active(href='#') Active
              a.c-nav-link(href='#') Link
              a.c-nav-link(href='#') Link
              a.c-nav-link.c-disabled(href='#') Disabled
      .c-col-sm-12.c-col-xl-3
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Navs
            small vertical
          .c-card-body
            ul.c-nav.c-flex-column
              li.c-nav-item
                a.c-nav-link.c-active(href='#') Active
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link.c-disabled(href='#') Disabled
    .c-row
      .c-col-sm-12.c-col-xl-6
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Navs
            small tabs
          .c-card-body
            ul.c-nav.c-nav-tabs
              li.c-nav-item
                a.c-nav-link.c-active(href='#') Active
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link.c-disabled(href='#') Disabled
      .c-col-sm-12.c-col-xl-6
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Navs
            small pills
          .c-card-body
            ul.c-nav.c-nav-pills
              li.c-nav-item
                a.c-nav-link.c-active(href='#') Active
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link.c-disabled(href='#') Disabled
    .c-row
      .c-col
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Navs
            small fill and justify
          .c-card-body
            ul.c-nav.c-nav-pills.c-nav-fill
              li.c-nav-item
                a.c-nav-link.c-active(href='#') Active
              li.c-nav-item
                a.c-nav-link(href='#') Longer nav link
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link.c-disabled(href='#') Disabled
            hr
            nav.c-nav.c-nav-pills.c-nav-fill
              a.c-nav-item.c-nav-link.c-active(href='#') Active
              a.c-nav-item.c-nav-link(href='#') Link
              a.c-nav-item.c-nav-link(href='#') Link
              a.c-nav-item.c-nav-link.c-disabled(href='#') Disabled
            hr
            nav.c-nav.c-nav-pills.c-nav-justified
              a.c-nav-link.c-active(href='#') Active
              a.c-nav-link(href='#') Longer nav link
              a.c-nav-link(href='#') Link
              a.c-nav-link.c-disabled(href='#') Disabled
            hr
            nav.c-nav.c-nav-pills.c-nav-justified
              a.c-nav-item.c-nav-link.c-active(href='#') Active
              a.c-nav-item.c-nav-link(href='#') Link
              a.c-nav-item.c-nav-link(href='#') Link
              a.c-nav-item.c-nav-link.c-disabled(href='#') Disabled
    .c-row
      .c-col
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Navs
            small with flex
          .c-card-body
            nav.c-nav.c-nav-pills.c-flex-column.c-flex-sm-row
              a.c-flex-sm-fill.c-text-sm-center.c-nav-link.c-active(href='#') Active
              a.c-flex-sm-fill.c-text-sm-center.c-nav-link(href='#') Link
              a.c-flex-sm-fill.c-text-sm-center.c-nav-link(href='#') Link
              a.c-flex-sm-fill.c-text-sm-center.c-nav-link.c-disabled(href='#') Disabled
    .c-row
      .c-col
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Navs
            small tabs with dropdowns
          .c-card-body
            ul.c-nav.c-nav-tabs
              li.c-nav-item
                a.c-nav-link.c-active(href='#') Active
              li.c-nav-item.c-dropdown
                a.c-nav-link.c-dropdown-toggle(data-toggle='c-dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
                .c-dropdown-menu
                  a.c-dropdown-item(href='#') Action
                  a.c-dropdown-item(href='#') Another action
                  a.c-dropdown-item(href='#') Something else here
                  .c-dropdown-divider
                  a.c-dropdown-item(href='#') Separated link
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link.c-disabled(href='#') Disabled
      .c-col
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Navs
            small pills with dropdowns
          .c-card-body
            ul.c-nav.c-nav-pills
              li.c-nav-item
                a.c-nav-link.c-active(href='#') Active
              li.c-nav-item.c-dropdown
                a.c-nav-link.c-dropdown-toggle(data-toggle='c-dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Dropdown
                .c-dropdown-menu
                  a.c-dropdown-item(href='#') Action
                  a.c-dropdown-item(href='#') Another action
                  a.c-dropdown-item(href='#') Something else here
                  .c-dropdown-divider
                  a.c-dropdown-item(href='#') Separated link
              li.c-nav-item
                a.c-nav-link(href='#') Link
              li.c-nav-item
                a.c-nav-link.c-disabled(href='#') Disabled
    .c-row
      .c-col
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Navs
            small with tab JavaScript plugin
          .c-card-body
            ul#myTab1.c-nav.c-nav-tabs(role='tablist')
              li.c-nav-item
                a#home-tab.c-nav-link.c-active(data-toggle='c-tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Home
              li.c-nav-item
                a#profile-tab.c-nav-link(data-toggle='c-tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Profile
              li.c-nav-item
                a#contact-tab.c-nav-link(data-toggle='c-tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Contact
            #myTab1Content.c-tab-content
              #home.c-tab-pane.c-fade.c-show.c-active(role='tabpanel', aria-labelledby='home-tab')
                | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                | synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                | retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                | placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
              #profile.c-tab-pane.c-fade(role='tabpanel', aria-labelledby='profile-tab')
                | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1
                | labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
                | beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
                | vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica
                | VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                | 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                | stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
              #contact.c-tab-pane.c-fade(role='tabpanel', aria-labelledby='contact-tab')
                | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro
                | fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone
                | skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings
                | gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel
                | fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer
                | blog stumptown. Pitchfork sustainable tofu synth chambray yr.
            hr
            .c-row
              .c-col
                ul#pills-tab.c-nav.c-nav-pills.c-mb-1(role='tablist')
                  li.c-nav-item
                    a#pills-home-tab.c-nav-link.c-active(data-toggle='pill', href='#pills-home', role='tab', aria-controls='pills-home', aria-selected='true') Home
                  li.c-nav-item
                    a#pills-profile-tab.c-nav-link(data-toggle='pill', href='#pills-profile', role='tab', aria-controls='pills-profile', aria-selected='false') Profile
                  li.c-nav-item
                    a#pills-contact-tab.c-nav-link(data-toggle='pill', href='#pills-contact', role='tab', aria-controls='pills-contact', aria-selected='false') Contact
                #pills-tabContent.c-tab-content
                  #pills-home.c-tab-pane.c-fade.c-show.c-active(role='tabpanel', aria-labelledby='pills-home-tab')
                    | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                    | synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                    | retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                    | placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                  #pills-profile.c-tab-pane.c-fade(role='tabpanel', aria-labelledby='pills-profile-tab')
                    | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1
                    | labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
                    | beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad
                    | vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica
                    | VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                    | 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                    | stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                  #pills-contact.c-tab-pane.c-fade(role='tabpanel', aria-labelledby='pills-contact-tab')
                    | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro
                    | fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone
                    | skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings
                    | gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel
                    | fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer
                    | blog stumptown. Pitchfork sustainable tofu synth chambray yr.
            hr
