extends /_layout/default.pug

block view
  .c-fade-in
    .c-row
      .c-col-md-12
        .c-card
          .c-card-header
            | 3d Switch
          .c-card-body
            label.c-switch.c-switch-3d.c-switch-primary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-3d.c-switch-secondary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-3d.c-switch-success
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-3d.c-switch-warning
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-3d.c-switch-info
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-3d.c-switch-danger
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-3d.c-switch-primary
              input.c-switch-input(type='checkbox', checked='', disabled)
              span.c-switch-slider
            label.c-switch.c-switch-3d.c-switch-primary
              input.c-switch-input(type='checkbox', disabled)
              span.c-switch-slider
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch default
          .c-card-body
            label.c-switch.c-switch-primary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-secondary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-success
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-warning
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-info
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-danger
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch default - pills
          .c-card-body
            label.c-switch.c-switch-pill.c-switch-primary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-secondary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-success
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-warning
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-info
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-danger
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch outline
          .c-card-body
            label.c-switch.c-switch-outline-primary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-outline-secondary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-outline-success
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-outline-warning
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-outline-info
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-outline-danger
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch outline - pills
          .c-card-body
            label.c-switch.c-switch-pill.c-switch-outline-primary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-outline-secondary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-outline-success
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-outline-warning
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-outline-info
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-outline-danger
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch outline alternative
          .c-card-body
            label.c-switch.c-switch-outline-primary-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-outline-secondary-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-outline-success-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-outline-warning-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-outline-info-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-outline-danger-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch outline alternative - pills
          .c-card-body
            label.c-switch.c-switch-pill.c-switch-outline-primary-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-outline-secondary-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-outline-success-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-outline-warning-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-outline-info-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
            label.c-switch.c-switch-pill.c-switch-outline-danger-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch with text
          .c-card-body
            label.c-switch.c-switch-label.c-switch-primary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-secondary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-success
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-warning
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-info
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-danger
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch with text - pills
          .c-card-body
            label.c-switch.c-switch-label.c-switch-pill.c-switch-primary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-secondary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-success
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-warning
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-info
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-danger
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch with text outline
          .c-card-body
            label.c-switch.c-switch-label.c-switch-outline-primary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-outline-secondary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-outline-success
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-outline-warning
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-outline-info
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-outline-danger
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch with text outline - pills
          .c-card-body
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-primary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-secondary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-success
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-warning
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-info
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-danger
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch with text outline alternative
          .c-card-body
            label.c-switch.c-switch-label.c-switch-outline-primary-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-outline-secondary-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-outline-success-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-outline-warning-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-outline-info-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-outline-danger-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch with text outline alternative - pills
          .c-card-body
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-primary-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-secondary-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-success-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-warning-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-info-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-danger-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='On', data-unchecked='Off')
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch with icon
          .c-card-body
            label.c-switch.c-switch-label.c-switch-primary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-secondary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-success
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-warning
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-info
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-danger
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch with icon - pills
          .c-card-body
            label.c-switch.c-switch-label.c-switch-pill.c-switch-primary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-secondary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-success
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-warning
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-info
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-danger
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch with icon outline
          .c-card-body
            label.c-switch.c-switch-label.c-switch-outline-primary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-outline-secondary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-outline-success
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-outline-warning
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-outline-info
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-outline-danger
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch with icon outline - pills
          .c-card-body
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-primary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-secondary
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-success
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-warning
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-info
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-danger
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch with icon outline alternative
          .c-card-body
            label.c-switch.c-switch-label.c-switch-outline-primary-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-outline-secondary-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-outline-success-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-outline-warning-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-outline-info-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-outline-danger-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
      // /.c-col
      .c-col-md-6
        .c-card
          .c-card-header
            | Switch with icon outline alternative - pills
          .c-card-body
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-primary-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-secondary-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-success-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-warning-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-info-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
            label.c-switch.c-switch-label.c-switch-pill.c-switch-outline-danger-alt
              input.c-switch-input(type='checkbox', checked='')
              span.c-switch-slider(data-checked='&#x2713', data-unchecked='&#x2715')
      // /.c-col
      .c-col-md-12
        .c-card
          .c-card-header
            | Sizes
          .c-card-body.c-p-0
            table.c-table.c-table-hover.c-table-striped.c-table-align-middle.c-mb-0
              thead
                tr
                  th Size
                  th Example
                  th CSS Class
              tbody
                tr
                  td
                    | Large
                  td
                    label.c-switch.c-switch-lg.c-switch-3d.c-switch-primary
                      input.c-switch-input(type='checkbox', checked='')
                      span.c-switch-slider
                  td
                    | Add following class
                    code .c-switch-lg
                tr
                  td
                    | Normal
                  td
                    label.c-switch.c-switch-3d.c-switch-primary
                      input.c-switch-input(type='checkbox', checked='')
                      span.c-switch-slider
                  td
                    | -
                tr
                  td
                    | Small
                  td
                    label.c-switch.c-switch-sm.c-switch-3d.c-switch-primary
                      input.c-switch-input(type='checkbox', checked='')
                      span.c-switch-slider
                  td
                    | Add following class
                    code .c-switch-sm
      // /.c-col
    // /.c-row
