.c-sidebar.c-sidebar-light.c-sidebar-right.c-sidebar-fixed#aside
  if !starter
    ul.c-nav.c-nav-tabs(role="tablist")
      li.c-nav-item
        a.c-nav-link.active(data-toggle="c-tab" href="#timeline" role="tab")
          i.icon-list
      li.c-nav-item
        a.c-nav-link(data-toggle="c-tab" href="#messages" role="tab")
          i.icon-speech
      li.c-nav-item
        a.c-nav-link(data-toggle="c-tab" href="#settings" role="tab")
          i.icon-settings
    // Tab panes
    .c-tab-content
      #timeline.c-tab-pane.active(role="tabpanel")
        .c-list-group.c-list-group-accent
          .c-list-group-item.c-list-group-item-accent-secondary.c-bg-light.c-text-center.c-font-weight-bold.c-text-muted.c-text-uppercase.c-small
            | Today
          .c-list-group-item.c-list-group-item-accent-warning.c-list-group-item-divider
            .c-avatar.c-float-right
              img.c-img-avatar(src='img/avatars/7.jpg', alt='admin@bootstrapmaster.com')
            div
              | Meeting with
              strong Lucas
            small.c-text-muted.c-mr-3
              i.icon-calendar
              |   1 - 3pm
            small.c-text-muted
              i.icon-location-pin
              |   Palo Alto, CA
          .c-list-group-item.c-list-group-item-accent-info
            .c-avatar.c-float-right
              img.c-img-avatar(src='img/avatars/4.jpg', alt='admin@bootstrapmaster.com')
            div
              | Skype with
              strong Megan
            small.c-text-muted.c-mr-3
              i.icon-calendar
              |   4 - 5pm
            small.c-text-muted
              i.icon-social-skype
              |   On-line
          .c-list-group-item.c-list-group-item-accent-secondary.c-bg-light.c-text-center.c-font-weight-bold.c-text-muted.c-text-uppercase.c-small
            | Tomorrow
          .c-list-group-item.c-list-group-item-accent-danger.c-list-group-item-divider
            div
              | New UI Project -
              strong deadline
            small.c-text-muted.c-mr-3
              i.icon-calendar
              |   10 - 11pm
            small.c-text-muted
              i.icon-home
              |   creativeLabs HQ
            .c-avatars-stack.c-mt-2
              .c-avatar.c-avatar-xs
                img.c-img-avatar(src='img/avatars/2.jpg', alt='admin@bootstrapmaster.com')
              .c-avatar.c-avatar-xs
                img.c-img-avatar(src='img/avatars/3.jpg', alt='admin@bootstrapmaster.com')
              .c-avatar.c-avatar-xs
                img.c-img-avatar(src='img/avatars/4.jpg', alt='admin@bootstrapmaster.com')
              .c-avatar.c-avatar-xs
                img.c-img-avatar(src='img/avatars/5.jpg', alt='admin@bootstrapmaster.com')
              .c-avatar.c-avatar-xs
                img.c-img-avatar(src='img/avatars/6.jpg', alt='admin@bootstrapmaster.com')
          .c-list-group-item.c-list-group-item-accent-success.c-list-group-item-divider
            div
              strong #10 Startups.Garden
              |  Meetup
            small.c-text-muted.c-mr-3
              i.icon-calendar
              |   1 - 3pm
            small.c-text-muted
              i.icon-location-pin
              |   Palo Alto, CA
          .c-list-group-item.c-list-group-item-accent-primary.c-list-group-item-divider
            div
              strong Team meeting
            small.c-text-muted.c-mr-3
              i.icon-calendar
              |   4 - 6pm
            small.c-text-muted
              i.icon-home
              |   creativeLabs HQ
            .c-avatars-stack.c-mt-2
              .c-avatar.c-avatar-xs
                img.c-img-avatar(src='img/avatars/2.jpg', alt='admin@bootstrapmaster.com')
              .c-avatar.c-avatar-xs
                img.c-img-avatar(src='img/avatars/3.jpg', alt='admin@bootstrapmaster.com')
              .c-avatar.c-avatar-xs
                img.c-img-avatar(src='img/avatars/4.jpg', alt='admin@bootstrapmaster.com')
              .c-avatar.c-avatar-xs
                img.c-img-avatar(src='img/avatars/5.jpg', alt='admin@bootstrapmaster.com')
              .c-avatar.c-avatar-xs
                img.c-img-avatar(src='img/avatars/6.jpg', alt='admin@bootstrapmaster.com')
              .c-avatar.c-avatar-xs
                img.c-img-avatar(src='img/avatars/7.jpg', alt='admin@bootstrapmaster.com')
              .c-avatar.c-avatar-xs
                img.c-img-avatar(src='img/avatars/8.jpg', alt='admin@bootstrapmaster.com')
      #messages.c-tab-pane.c-p-3(role="tabpanel")
        .message
          .c-py-3.c-pb-5.c-mr-3.c-float-left
            .c-avatar
              img.c-img-avatar(src="img/avatars/7.jpg" alt="admin@bootstrapmaster.com")
              span.c-avatar-status.c-badge-success
          div
            small.c-text-muted Lukasz Holeczek
            small.c-text-muted.c-float-right.c-mt-1 1:52 PM
          .c-text-truncate.c-font-weight-bold Lorem ipsum dolor sit amet
          small.c-text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
        hr
        .message
          .c-py-3.c-pb-5.c-mr-3.c-float-left
            .c-avatar
              img.c-img-avatar(src="img/avatars/7.jpg" alt="admin@bootstrapmaster.com")
              span.c-avatar-status.c-badge-success
          div
            small.c-text-muted Lukasz Holeczek
            small.c-text-muted.c-float-right.c-mt-1 1:52 PM
          .c-text-truncate.c-font-weight-bold Lorem ipsum dolor sit amet
          small.c-text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
        hr
        .message
          .c-py-3.c-pb-5.c-mr-3.c-float-left
            .c-avatar
              img.c-img-avatar(src="img/avatars/7.jpg" alt="admin@bootstrapmaster.com")
              span.c-avatar-status.c-badge-success
          div
            small.c-text-muted Lukasz Holeczek
            small.c-text-muted.c-float-right.c-mt-1 1:52 PM
          .c-text-truncate.c-font-weight-bold Lorem ipsum dolor sit amet
          small.c-text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
        hr
        .message
          .c-py-3.c-pb-5.c-mr-3.c-float-left
            .c-avatar
              img.c-img-avatar(src="img/avatars/7.jpg" alt="admin@bootstrapmaster.com")
              span.c-avatar-status.c-badge-success
          div
            small.c-text-muted Lukasz Holeczek
            small.c-text-muted.c-float-right.c-mt-1 1:52 PM
          .c-text-truncate.c-font-weight-bold Lorem ipsum dolor sit amet
          small.c-text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
        hr
        .message
          .c-py-3.c-pb-5.c-mr-3.c-float-left
            .c-avatar
              img.c-img-avatar(src="img/avatars/7.jpg" alt="admin@bootstrapmaster.com")
              span.c-avatar-status.c-badge-success
          div
            small.c-text-muted Lukasz Holeczek
            small.c-text-muted.c-float-right.c-mt-1 1:52 PM
          .c-text-truncate.c-font-weight-bold Lorem ipsum dolor sit amet
          small.c-text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
      #settings.c-tab-pane.c-p-3(role="tabpanel")
        h6 Settings
        .c-aside-options
          .clearfix.c-mt-4
            small
              b Option 1
            label.c-switch.c-switch-label.c-switch-pill.c-switch-success.c-switch-sm.c-float-right
              input.c-switch-input(type="checkbox" checked="")
              span.c-switch-slider(data-checked="On" data-unchecked="Off")
          div
            small.c-text-muted
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .c-aside-options
          .clearfix.c-mt-3
            small
              b Option 2
            label.c-switch.c-switch-label.c-switch-pill.c-switch-success.c-switch-sm.c-float-right
              input.c-switch-input(type="checkbox")
              span.c-switch-slider(data-checked="On" data-unchecked="Off")
          div
            small.c-text-muted
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .c-aside-options
          .clearfix.c-mt-3
            small
              b Option 3
            label.c-switch.c-switch-label.c-switch-pill.c-switch-success.c-switch-sm.c-float-right
              input.c-switch-input(type="checkbox")
              span.c-switch-slider(data-checked="On" data-unchecked="Off")
        .c-aside-options
          .clearfix.c-mt-3
            small
              b Option 4
            label.c-switch.c-switch-label.c-switch-pill.c-switch-success.c-switch-sm.c-float-right
              input.c-switch-input(type="checkbox" checked="")
              span.c-switch-slider(data-checked="On" data-unchecked="Off")
        hr
        h6 System Utilization
        .c-text-uppercase.c-mb-1.c-mt-4
          small
            b CPU Usage
        .c-progress.c-progress-xs
          .c-progress-bar.c-bg-info(role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
        small.c-text-muted 348 Processes. 1/4 Cores.
        .c-text-uppercase.c-mb-1.c-mt-2
          small
            b Memory Usage
        .c-progress.c-progress-xs
          .c-progress-bar.c-bg-warning(role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100")
        small.c-text-muted 11444GB/16384MB
        .c-text-uppercase.c-mb-1.c-mt-2
          small
            b SSD 1 Usage
        .c-progress.c-progress-xs
          .c-progress-bar.c-bg-danger(role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100")
        small.c-text-muted 243GB/256GB
        .c-text-uppercase.c-mb-1.c-mt-2
          small
            b SSD 2 Usage
        .c-progress.c-progress-xs
          .c-progress-bar.c-bg-success(role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100")
        small.c-text-muted 25GB/256GB
