//
   * CoreUI - Free Bootstrap Admin Template
   * @version v2.0.0
   * @link https://coreui.io
   * Copyright (c) 2018 creativeLabs Łukasz Holeczek
   * Licensed under MIT (https://coreui.io/license)
= "\n"
