// Breadcrumb
ol.c-breadcrumb
  li.c-breadcrumb-item Home
  if !starter
    li.c-breadcrumb-item
      a(href="#") Admin
    li.c-breadcrumb-item.active Dashboard
    // Breadcrumb Menu
    li.c-breadcrumb-menu.c-d-md-down-none
      .c-btn-group(role="group" aria-label="Button group")
        a.c-btn(href="#")
          i.icon-speech
        a.c-btn(href="./")
          i.icon-graph
          |   Dashboard
        a.c-btn(href="#")
          i.icon-settings
          |   Settings
