// Breadcrumb
ol.breadcrumb
  li.breadcrumb-item Home
  if !starter
    li.breadcrumb-item
      a(href="#") Admin
    li.breadcrumb-item.active Dashboard
    // Breadcrumb Menu
    li.breadcrumb-menu.d-md-down-none
      .btn-group(role="group" aria-label="Button group")
        a.btn(href="#")
          i.icon-speech
        a.btn(href="./")
          i.icon-graph
          |   Dashboard
        a.btn(href="#")
          i.icon-settings
          |   Settings
