footer.app-footer
  div
    a(href='http://backstrap.net') BackStrap 
    span
      | &nbsp;&copy; 2019 Cristian Tabacitu.
  div.ml-auto
    span
      | Powered by 
    a(href='https://coreui.io') CoreUI
    span
      | &nbsp;&&nbsp;
    a(href='https://backpackforlaravel.com') Backpack for Laravel
