header.c-header.c-header-light.c-header-fixed
  button.c-header-toggler.c-class-toggler.c-d-lg-none.c-mr-auto(type="button" data-target="#sidebar" data-class="c-sidebar-show")
    span.c-header-toggler-icon
  a.c-header-brand(href="#")
    img.c-header-brand-full(src="img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo")
    img.c-header-brand-minimized(src="img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo")
  button.c-header-toggler.c-class-toggler.c-d-md-down-none(type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true")
    span.c-header-toggler-icon
  button.c-header-toggler.c-class-toggler.c-d-lg-none(type="button" data-target="#sidebar" data-class="c-sidebar-show")
    span.c-header-toggler-icon
  if !starter
    ul.c-nav.c-header-nav.c-d-md-down-none
      li.c-nav-item.c-px-3
        a.c-nav-link(href="#") Dashboard
      li.c-nav-item.c-px-3
        a.c-nav-link(href="#") Users
      li.c-nav-item.c-px-3
        a.c-nav-link(href="#") Settings
    ul.c-nav.c-header-nav.c-ml-auto
      li.c-nav-item.c-d-md-down-none
        a.c-nav-link(href="#")
          i.icon-bell
          span.c-badge.c-badge-pill.c-badge-danger 5
      li.c-nav-item.c-d-md-down-none
        a.c-nav-link(href="#")
          i.icon-list
      li.c-nav-item.c-d-md-down-none
        a.c-nav-link(href="#")
          i.icon-location-pin
      li.c-nav-item.c-dropdown
        a.c-nav-link(data-toggle="c-dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
          img.c-img-avatar(src="img/avatars/6.jpg" alt="admin@bootstrapmaster.com")
        .c-dropdown-menu.c-dropdown-menu-right
          .c-dropdown-header.c-text-center
            strong Account
          a.c-dropdown-item(href="#")
            i.fa.fa-bell-o
            |  Updates
            span.c-badge.c-badge-info 42
          a.c-dropdown-item(href="#")
            i.fa.fa-envelope-o
            |  Messages
            span.c-badge.c-badge-success 42
          a.c-dropdown-item(href="#")
            i.fa.fa-tasks
            |  Tasks
            span.c-badge.c-badge-danger 42
          a.c-dropdown-item(href="#")
            i.fa.fa-comments
            |  Comments
            span.c-badge.c-badge-warning 42
          .c-dropdown-header.c-text-center
            strong Settings
          a.c-dropdown-item(href="#")
            i.fa.fa-user
            |  Profile
          a.c-dropdown-item(href="#")
            i.fa.fa-wrench
            |  Settings
          a.c-dropdown-item(href="#")
            i.fa.fa-usd
            |  Payments
            span.c-badge.c-badge-secondary 42
          a.c-dropdown-item(href="#")
            i.fa.fa-file
            |  Projects
            span.c-badge.c-badge-primary 42
          .c-dropdown-divider
          a.c-dropdown-item(href="#")
            i.fa.fa-shield
            |  Lock Account
          a.c-dropdown-item(href="#")
            i.fa.fa-lock
            |  Logout
  button.c-header-toggler.c-class-toggler.c-d-md-down-none(type="button" data-target="#aside" data-class="c-sidebar-lg-show" responsive="true")
    span.c-header-toggler-icon
  button.c-header-toggler.c-class-toggler.c-d-lg-none(type="button" data-target="#aside" data-class="c-sidebar-show")
    span.c-header-toggler-icon
