// CoreUI and necessary plugins
script(src='node_modules/jquery/dist/jquery.min.js')
script(src='node_modules/popper.js/dist/umd/popper.min.js')
script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
script(src='node_modules/pace-progress/pace.min.js')
script(src='node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js')
script(src='node_modules/@coreui/coreui/dist/js/coreui.min.js')
script(src='node_modules/pnotify/dist/iife/Pnotify.js')
script(src='node_modules/pnotify/dist/iife/PnotifyButtons.js')
script(src='node_modules/pnotify/dist/iife/PnotifyConfirm.js')
script(src='node_modules/pnotify/dist/iife/PnotifyMobile.js')
script(src='node_modules/pnotify/dist/iife/PnotifyNonBlock.js')

script.
 PNotify.defaults.styling = 'bootstrap4';

block scripts

if ajax
  script.
    $('#ui-view').ajaxLoad();
    $(document).ajaxComplete(function() {
      Pace.restart()
    });