extends /pages.pug

block view
  .container
    .row.justify-content-center
      .col-md-6
        .clearfix
          h1.float-left.display-3.mr-4 404
          h4.pt-3 Oops! You're lost.
          p.text-muted The page you are looking for was not found.
        .input-prepend.input-group
          .input-group-prepend
            span.input-group-text
              i.fa.fa-search
          input#prependedInput.form-control(size='16', type='text', placeholder='What are you looking for?')
          span.input-group-append
            button.btn.btn-info(type='button') Search
