extends /pages.pug

block view
  .c-container
    .c-row.c-justify-content-center
      .c-col-md-6
        .clearfix
          h1.c-float-left.c-display-3.c-mr-4 404
          h4.c-pt-3 Oops! You're lost.
          p.c-text-muted The page you are looking for was not found.
        .input-prepend.c-input-group
          .c-input-group-prepend
            span.c-input-group-text
              i.fa.fa-search
          input#prependedInput.c-form-control(size='16', type='text', placeholder='What are you looking for?')
          span.c-input-group-append
            button.c-btn.c-btn-info(type='button') Search
