extends /pages.pug

block view
  .c-container
    .c-row.c-justify-content-center
      .c-col-md-8
        .c-card-group
          .c-card.c-p-4
            .c-card-body
              h1 Login
              p.c-text-muted Sign In to your account
              .c-input-group.c-mb-3
                .c-input-group-prepend
                  span.c-input-group-text
                    i.icon-user
                input.c-form-control(type='text', placeholder='Username')
              .c-input-group.c-mb-4
                .c-input-group-prepend
                  span.c-input-group-text
                    i.icon-lock
                input.c-form-control(type='password', placeholder='Password')
              .c-row
                .c-col-6
                  button.c-btn.c-btn-primary.c-px-4(type='button') Login
                .c-col-6.c-text-right
                  button.c-btn.c-btn-link.c-px-0(type='button') Forgot password?
          .c-card.c-text-white.c-bg-primary.c-py-5.c-d-md-down-none(style='width:44%')
            .c-card-body.c-text-center
              div
                h2 Sign up
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                button.c-btn.c-btn-primary.active.c-mt-3(type='button') Register Now!
