extends /pages.pug

block view
  .container
    .row.justify-content-center
      .col-md-6
        .card.mx-4
          .card-body.p-4
            h1 Register
            p.text-muted Create your account
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text
                  i.icon-user
              input.form-control(type='text', placeholder='Username')
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text @
              input.form-control(type='text', placeholder='Email')
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text
                  i.icon-lock
              input.form-control(type='password', placeholder='Password')
            .input-group.mb-4
              .input-group-prepend
                span.input-group-text
                  i.icon-lock
              input.form-control(type='password', placeholder='Repeat password')
            button.btn.btn-block.btn-success(type='button') Create Account
          .card-footer.p-4
            .row
              .col-6
                button.btn.btn-block.btn-facebook(type='button')
                  span facebook
              .col-6
                button.btn.btn-block.btn-twitter(type='button')
                  span twitter
