# Autodetect text files
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf

# Force images/fonts to be handled as binaries
*.jpg binary
*.jpeg binary
*.gif binary
*.png binary
*.t3x binary
*.t3d binary
*.exe binary
*.data binary
*.ttf binary
*.eof binary
*.eot binary
*.swf binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.ogg binary
*.flv binary
