- var static = true
doctype html
include ../_partials/banner.pug
include ../_mixins/breadcrumb.pug
include ../_mixins/callout.pug
include ../_mixins/callout-custom.pug
include ../_mixins/example.pug

html(lang='en')
  head
    base(href=base)
    include ../_partials/head.pug
    block canonical
    block styles
  body
    include ../_partials/sidebar.pug
    .wrapper.d-flex.flex-column.min-vh-100.bg-light
      include ../_partials/header.pug
      .body.flex-grow-1.px-3
        .container-lg
          block view
      include ../_partials/footer.pug
    include ../_partials/scripts.pug
