@mixin hover-state() {
    background: $brand-primary !important;
    color: #fff !important;
}

@mixin active-state() {
    background: transparent;
}

// Disabled Navigation
@import "navigation/disabled";

// Sidebar Navigation
@import "navigation/sidebar";

// Top Navigation
@import "navigation/top";
