mixin callout(name, href)
  .callout.callout-info.bg-white
    | CoreUI #{name} has been created as an extension of Bootstrap #{name}. #{name} is delivered with some new features, variants, and unique design that matches CoreUI Design System requirements.
    br
    br
    | For more information please visit our official
    |
    a(href=href target="_blank") documentation
    | .
