mixin example(url)
  - var id = Math.floor(Math.random() * (15 - 1300) + 1300)
  
  .example
    ul.nav.nav-tabs(role="tablist")
      li.nav-item
        a.nav-link.active(data-coreui-toggle="tab" href="#preview-"+id role="tab")
          svg.icon.me-2
            use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-media-play")
            |
          | Preview
      if url
        li.nav-item
          a.nav-link(href=url target="_blank")
            svg.icon.me-2
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-code")
              |
            | Code
    .tab-content.rounded-bottom
      .tab-pane.p-3.active.preview(role="tabpanel" id="preview-"+id )
        block
