<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary" ng-controller="cardChartCtrl1">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <h4 class="mb-0">9.823</h4>
          <p>Members online</p>
        </div>
        <div class="chart-wrapper px-3" style="height:70px;">
          <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info" ng-controller="cardChartCtrl2">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <h4 class="mb-0">9.823</h4>
          <p>Members online</p>
        </div>
        <div class="chart-wrapper px-3" style="height:70px;">
          <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning" ng-controller="cardChartCtrl3">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <h4 class="mb-0">9.823</h4>
          <p>Members online</p>
        </div>
        <div class="chart-wrapper" style="height:70px;">
          <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="70"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger" ng-controller="cardChartCtrl4">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <h4 class="mb-0">9.823</h4>
          <p>Members online</p>
        </div>
        <div class="chart-wrapper px-3" style="height:70px;">
          <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colors="colors" height="70"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card" ng-controller="cardChartCtrl11">
        <div class="card-header text-white bg-primary">
          <div class="font-weight-bold">
            <span>SALE</span>
            <span class="float-right">$1.890,65</span>
          </div>
          <div>
            <span>
              <small>Today 6:43 AM</small>
            </span>
            <span class="float-right">
              <small>+432,50 (15,78%)</small>
            </span>
          </div>
          <div class="chart-wrapper" style="height:40px;">
            <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="40"></canvas>
          </div>
          <div class="chart-wrapper" style="height:40px;">
            <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="false" chart-options="options2" chart-colors="colors2" height="40"></canvas>
          </div>
        </div>
        <div class="card-body py-3 px-4">
          <div class="row">
            <div class="col-5">
              <strong>+$780,98</strong>
              <br>
              <span class="text-muted">
                <small>Weekly change</small>
              </span>
            </div>
            <div class="col-7 p-0">
              <div class="chart-wrapper">
                <canvas class="chart chart-bar float-right" chart-data="data3" chart-labels="labels3" chart-legend="false" chart-series="false" chart-options="options3" chart-colors="colors3" height="44" width="130" style="margin-top:-7px;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body py-0 px-4 b-t-1">
          <div class="row">
            <div class="col-6 b-r-1 py-3">
              <div class="font-weight-bold">9.127</div>
              <div class="text-muted">
                <small>Deals</small>
              </div>
            </div>
            <div class="col-6 py-3 text-right">
              <div class="font-weight-bold">$189.783,87</div>
              <div class="text-muted">
                <small>Total Income</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card" ng-controller="cardChartCtrl11">
        <div class="card-header text-white bg-danger">
          <div class="font-weight-bold">
            <span>SALE</span>
            <span class="float-right">$1.890,65</span>
          </div>
          <div>
            <span>
              <small>Today 6:43 AM</small>
            </span>
            <span class="float-right">
              <small>+432,50 (15,78%)</small>
            </span>
          </div>
          <div class="chart-wrapper" style="height:40px;">
            <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="40"></canvas>
          </div>
          <div class="chart-wrapper" style="height:40px;">
            <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="false" chart-options="options2" chart-colors="colors2" height="40"></canvas>
          </div>
        </div>
        <div class="card-body py-3 px-4">
          <div class="row">
            <div class="col-5">
              <strong>+$780,98</strong>
              <br>
              <span class="text-muted">
                <small>Weekly change</small>
              </span>
            </div>
            <div class="col-7 p-0">
              <div class="chart-wrapper">
                <canvas class="chart chart-bar float-right" chart-data="data3" chart-labels="labels3" chart-legend="false" chart-series="false" chart-options="options3" chart-colors="colors3" height="44" width="130" style="margin-top:-7px;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body py-0 px-4 b-t-1">
          <div class="row">
            <div class="col-6 b-r-1 py-3">
              <div class="font-weight-bold">9.127</div>
              <div class="text-muted">
                <small>Deals</small>
              </div>
            </div>
            <div class="col-6 py-3 text-right">
              <div class="font-weight-bold">$189.783,87</div>
              <div class="text-muted">
                <small>Total Income</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card" ng-controller="cardChartCtrl11">
        <div class="card-header text-white bg-success">
          <div class="font-weight-bold">
            <span>SALE</span>
            <span class="float-right">$1.890,65</span>
          </div>
          <div>
            <span>
              <small>Today 6:43 AM</small>
            </span>
            <span class="float-right">
              <small>+432,50 (15,78%)</small>
            </span>
          </div>
          <div class="chart-wrapper" style="height:40px;">
            <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="40"></canvas>
          </div>
          <div class="chart-wrapper" style="height:40px;">
            <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="false" chart-options="options2" chart-colors="colors2" height="40"></canvas>
          </div>
        </div>
        <div class="card-body py-3 px-4">
          <div class="row">
            <div class="col-5">
              <strong>+$780,98</strong>
              <br>
              <span class="text-muted">
                <small>Weekly change</small>
              </span>
            </div>
            <div class="col-7 p-0">
              <div class="chart-wrapper">
                <canvas class="chart chart-bar float-right" chart-data="data3" chart-labels="labels3" chart-legend="false" chart-series="false" chart-options="options3" chart-colors="colors3" height="44" width="130" style="margin-top:-7px;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body py-0 px-4 b-t-1">
          <div class="row">
            <div class="col-6 b-r-1 py-3">
              <div class="font-weight-bold">9.127</div>
              <div class="text-muted">
                <small>Deals</small>
              </div>
            </div>
            <div class="col-6 py-3 text-right">
              <div class="font-weight-bold">$189.783,87</div>
              <div class="text-muted">
                <small>Total Income</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card" ng-controller="cardChartCtrl11">
        <div class="card-header text-white bg-warning">
          <div class="font-weight-bold">
            <span>SALE</span>
            <span class="float-right">$1.890,65</span>
          </div>
          <div>
            <span>
              <small>Today 6:43 AM</small>
            </span>
            <span class="float-right">
              <small>+432,50 (15,78%)</small>
            </span>
          </div>
          <div class="chart-wrapper" style="height:40px;">
            <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="40"></canvas>
          </div>
          <div class="chart-wrapper" style="height:40px;">
            <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="false" chart-options="options2" chart-colors="colors2" height="40"></canvas>
          </div>
        </div>
        <div class="card-body py-3 px-4">
          <div class="row">
            <div class="col-5">
              <strong>+$780,98</strong>
              <br>
              <span class="text-muted">
                <small>Weekly change</small>
              </span>
            </div>
            <div class="col-7 p-0">
              <div class="chart-wrapper">
                <canvas class="chart chart-bar float-right" chart-data="data3" chart-labels="labels3" chart-legend="false" chart-series="false" chart-options="options3" chart-colors="colors3" height="44" width="130" style="margin-top:-7px;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body py-0 px-4 b-t-1">
          <div class="row">
            <div class="col-6 b-r-1 py-3">
              <div class="font-weight-bold">9.127</div>
              <div class="text-muted">
                <small>Deals</small>
              </div>
            </div>
            <div class="col-6 py-3 text-right">
              <div class="font-weight-bold">$189.783,87</div>
              <div class="text-muted">
                <small>Total Income</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">89.9%</div>
          <div>Lorem ipsum...</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">12.124</div>
          <div>Lorem ipsum...</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">$98.111,00</div>
          <div>Lorem ipsum...</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h4 m-0">2 TB</div>
          <div>Lorem ipsum...</div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <div class="h4 m-0">89.9%</div>
          <div>Lorem ipsum...</div>
          <div class="progress progress-white progress-xs my-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <div class="h4 m-0">12.124</div>
          <div>Lorem ipsum...</div>
          <div class="progress progress-white progress-xs my-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <div class="h4 m-0">$98.111,00</div>
          <div>Lorem ipsum...</div>
          <div class="progress progress-white progress-xs my-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body">
          <div class="h4 m-0">2 TB</div>
          <div>Lorem ipsum...</div>
          <div class="progress progress-white progress-xs my-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">Lorem ipsum dolor sit amet enim.</small>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-md-2 col-sm-4">
      <div class="card" ng-controller="cardChartCtrl5">
        <div class="card-body text-center">
          <div class="text-muted small text-uppercase font-weight-bold">Title</div>
          <div class="h2 py-3">1,123</div>
          <div class="chart-wrapper">
            <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="false" chart-options="options" chart-colors="colors" height="40" width="80"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-md-2 col-sm-4">
      <div class="card" ng-controller="cardChartCtrl6">
        <div class="card-body text-center">
          <div class="text-muted small text-uppercase font-weight-bold">Title</div>
          <div class="h2 py-3">1,123</div>
          <div class="chart-wrapper">
            <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="false" chart-options="options" chart-colors="colors" height="40" width="80"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-md-2 col-sm-4">
      <div class="card" ng-controller="cardChartCtrl7">
        <div class="card-body text-center">
          <div class="text-muted small text-uppercase font-weight-bold">Title</div>
          <div class="h2 py-3">1,123</div>
          <div class="chart-wrapper">
            <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="false" chart-options="options" chart-colors="colors" height="40" width="80"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-md-2 col-sm-4">
      <div class="card" ng-controller="cardChartCtrl8">
        <div class="card-body text-center">
          <div class="text-muted small text-uppercase font-weight-bold">Title</div>
          <div class="h2 py-3">1,123</div>
          <div class="chart-wrapper">
            <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="40" width="100"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-md-2 col-sm-4">
      <div class="card" ng-controller="cardChartCtrl9">
        <div class="card-body text-center">
          <div class="text-muted small text-uppercase font-weight-bold">Title</div>
          <div class="h2 py-3">1,123</div>
          <div class="chart-wrapper">
            <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="40" width="100"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-md-2 col-sm-4">
      <div class="card" ng-controller="cardChartCtrl10">
        <div class="card-body text-center">
          <div class="text-muted small text-uppercase font-weight-bold">Title</div>
          <div class="h2 py-3">1,123</div>
          <div class="chart-wrapper">
            <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="40" width="100"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  <div class="row">

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 mt-2">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-laptop bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-moon-o bg-warning p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 mt-2">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-bell bg-danger p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 mt-2">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 mt-2">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-laptop bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-moon-o bg-warning p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 mt-2">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-bell bg-danger p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 mt-2">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
    <!--/.col-->

  </div>
  <!--/.row-->

  <div class="row">

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-cogs bg-primary p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 pt-3">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-laptop bg-info p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 pt-3">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-moon-o bg-warning p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 pt-3">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-bell bg-danger p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 pt-3">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-cogs bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 pt-3">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-laptop bg-info p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 pt-3">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-moon-o bg-warning p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 pt-3">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-xxs-12 col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-bell bg-danger p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 pt-3">$1.999,50</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
        </div>
      </div>
    </div>
    <!--/.col-->

  </div>
  <!--/.row-->

  <div class="row">

    <div class="col-md-3 col-sm-6">

      <div class="social-box facebook">
        <i class="fa fa-facebook"></i>
        <ul>
          <li>
            <strong>89k</strong>
            <span>friends</span>
          </li>
          <li>
            <strong>459</strong>
            <span>feeds</span>
          </li>
        </ul>
      </div>
      <!--/social-box-->

    </div>
    <!--/.col-->

    <div class="col-md-3 col-sm-6">

      <div class="social-box twitter">
        <i class="fa fa-twitter"></i>
        <ul>
          <li>
            <strong>973k</strong>
            <span>followers</span>
          </li>
          <li>
            <strong>1.792</strong>
            <span>tweets</span>
          </li>
        </ul>
      </div>
      <!--/social-box-->

    </div>
    <!--/.col-->

    <div class="col-md-3 col-sm-6">

      <div class="social-box linkedin">
        <i class="fa fa-linkedin"></i>
        <ul>
          <li>
            <strong>500+</strong>
            <span>contacts</span>
          </li>
          <li>
            <strong>292</strong>
            <span>feeds</span>
          </li>
        </ul>
      </div>
      <!--/social-box-->

    </div>
    <!--/.col-->

    <div class="col-md-3 col-sm-6">

      <div class="social-box google-plus">
        <i class="fa fa-google-plus"></i>
        <ul>
          <li>
            <strong>894</strong>
            <span>followers</span>
          </li>
          <li>
            <strong>92</strong>
            <span>circles</span>
          </li>
        </ul>
      </div>
      <!--/social-box-->
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  <div class="card-group mb-4">
    <div class="card">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-people"></i>
        </div>
        <div class="h4 mb-0">87.500</div>
        <small class="text-muted text-uppercase font-weight-bold">Visitors</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-user-follow"></i>
        </div>
        <div class="h4 mb-0">385</div>
        <small class="text-muted text-uppercase font-weight-bold">New Clients</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-basket-loaded"></i>
        </div>
        <div class="h4 mb-0">1238</div>
        <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-pie-chart"></i>
        </div>
        <div class="h4 mb-0">28%</div>
        <small class="text-muted text-uppercase font-weight-bold">Returning Visitors</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-speedometer"></i>
        </div>
        <div class="h4 mb-0">5:34:11</div>
        <small class="text-muted text-uppercase font-weight-bold">Avg. Time</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-people"></i>
          </div>
          <div class="h4 mb-0">87.500</div>
          <small class="text-muted text-uppercase font-weight-bold">Visitors</small>
          <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-user-follow"></i>
          </div>
          <div class="h4 mb-0">385</div>
          <small class="text-muted text-uppercase font-weight-bold">New Clients</small>
          <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-basket-loaded"></i>
          </div>
          <div class="h4 mb-0">1238</div>
          <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
          <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-pie-chart"></i>
          </div>
          <div class="h4 mb-0">28%</div>
          <small class="text-muted text-uppercase font-weight-bold">Returning Visitors</small>
          <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speedometer"></i>
          </div>
          <div class="h4 mb-0">5:34:11</div>
          <small class="text-muted text-uppercase font-weight-bold">Avg. Time</small>
          <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speech"></i>
          </div>
          <div class="h4 mb-0">972</div>
          <small class="text-muted text-uppercase font-weight-bold">Comments</small>
          <div class="progress progress-xs mt-3 mb-0">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-info">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-people"></i>
          </div>
          <div class="h4 mb-0">87.500</div>
          <small class="text-muted text-uppercase font-weight-bold">Visitors</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-success">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-user-follow"></i>
          </div>
          <div class="h4 mb-0">385</div>
          <small class="text-muted text-uppercase font-weight-bold">New Clients</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-basket-loaded"></i>
          </div>
          <div class="h4 mb-0">1238</div>
          <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-pie-chart"></i>
          </div>
          <div class="h4 mb-0">28%</div>
          <small class="text-muted text-uppercase font-weight-bold">Returning Visitors</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speedometer"></i>
          </div>
          <div class="h4 mb-0">5:34:11</div>
          <small class="text-muted text-uppercase font-weight-bold">Avg. Time</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-2">
      <div class="card text-white bg-info">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speech"></i>
          </div>
          <div class="h4 mb-0">972</div>
          <small class="text-muted text-uppercase font-weight-bold">Comments</small>
          <div class="progress progress-white progress-xs mt-3">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-md-5">
      <div class="card-group mb-3" ng-controller="cardChartCtrl12">
        <div class="card text-white bg-primary" style="width:40%">
          <div class="card-header font-weight-bold">Pageviews</div>
          <div class="card-body py-3 pb-0">
            <ul class="list-unstyled mb-0">
              <li class="py-2">Overall
                <span class="font-weight-bold float-right">987.123</span>
              </li>
              <li class="py-2">This week
                <span class="font-weight-bold float-right">9.873</span>
              </li>
              <li class="py-2">Yestarday
                <span class="font-weight-bold float-right">851</span>
              </li>
              <li class="py-2">Today
                <span class="font-weight-bold float-right">184</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="card pb-0">
          <div class="card-header">May 15 - May 22</div>
          <div class="card-body py-2">
            <div class="chart-wrapper">
              <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="150"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="card" ng-controller="cardChartCtrl13">
        <div class="card-header text-white bg-primary">
          <div class="font-weight-bold mb-3">Revenue</div>
          <div class="chart-wrapper mb-3">
            <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="220"></canvas>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas class="chart chart-bar" chart-data="data2" chart-labels="labels2" chart-legend="false" chart-series="series" chart-options="options2" chart-colors="colors2" height="140"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-header">
          <i class="icon-check"></i>Tasks in Progress
          <ul class="nav nav-tabs float-right" role="tablist">
            <li class="nav-item">
              <a tab class="nav-link active" data-toggle="tab" href="#tasks" role="tab">Tasks</a>
            </li>
            <li class="nav-item">
              <a tab class="nav-link" data-toggle="tab" href="#tickets" role="tab">Tickets</a>
            </li>
          </ul>
        </div>
        <div class="card-body p-0">
          <div class="tab-content">
            <div class="tab-pane active" id="tasks">
              <table class="table table-hover table-align-middle mb-0">
                <thead>
                  <tr>
                    <th>Task</th>
                    <th>Assigned to</th>
                    <th>Progress</th>
                    <th class="text-sm-center">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>SEO Optimisation</td>
                    <td>Charly Brown</td>
                    <td>
                      <div class="progress progress-sm my-2">
                        <div class="progress-bar bg-info" style="width: 73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td class="text-sm-center text-info">
                      Active
                    </td>
                  </tr>
                  <tr>
                    <td>App Development</td>
                    <td>John Smith</td>
                    <td>
                      <div class="progress progress-sm my-2">
                        <div class="progress-bar bg-success" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td class="text-sm-center text-success">
                      Active
                    </td>
                  </tr>
                  <tr>
                    <td>Hire Developers</td>
                    <td>Megan Holms</td>
                    <td>
                      <div class="progress progress-sm my-2">
                        <div class="progress-bar bg-warning" style="width: 27%" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td class="text-sm-center text-warning">
                      Pending
                    </td>
                  </tr>
                  <tr>
                    <td>Growth Hacking</td>
                    <td>Alan Wane</td>
                    <td>
                      <div class="progress progress-sm my-2">
                        <div class="progress-bar bg-primary" style="width: 11%" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td class="text-sm-center text-primary">
                      Active
                    </td>
                  </tr>
                  <tr>
                    <td>A/B Tests</td>
                    <td>Irina Cole</td>
                    <td>
                      <div class="progress progress-sm my-2">
                        <div class="progress-bar bg-danger" style="width: 73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td class="text-sm-center text-danger">
                      Canceled
                    </td>
                  </tr>
                  <tr>
                    <td>Hacking</td>
                    <td>Alan Wane</td>
                    <td>
                      <div class="progress progress-sm my-2">
                        <div class="progress-bar bg-primary" style="width: 11%" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td class="text-sm-center text-primary">
                      Active
                    </td>
                  </tr>
                  <tr>
                    <td>New website development</td>
                    <td>Megan Holms</td>
                    <td>
                      <div class="progress progress-sm my-2">
                        <div class="progress-bar bg-warning" style="width: 27%" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td class="text-sm-center text-warning">
                      Pending
                    </td>
                  </tr>
                  <tr>
                    <td>Hacking</td>
                    <td>Alan Wane</td>
                    <td>
                      <div class="progress progress-sm my-2">
                        <div class="progress-bar bg-primary" style="width: 11%" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td class="text-sm-center text-primary">
                      Active
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="tickets">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>User</th>
                    <th>Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span class="badge badge-success">Complete</span>
                    </td>
                    <td>Jul 25, 2012 11:09</td>
                    <td>Server problem</td>
                    <td>Ashley Tan</td>
                    <td><b>[#199278]</b></td>
                  </tr>
                  <tr>
                    <td>
                      <span class="badge badge-info">In progress</span>
                    </td>
                    <td>Jul 25, 2012 11:09</td>
                    <td>Paypal Issue</td>
                    <td>Chris Dan</td>
                    <td><b>[#199276]</b></td>
                  </tr>
                  <tr>
                    <td>
                      <span class="badge badge-danger">Rejected</span>
                    </td>
                    <td>Jul 25, 2012 11:09</td>
                    <td>IE7 Problem</td>
                    <td>John Grand</td>
                    <td><b>[#199275]</b></td>
                  </tr>
                  <tr>
                    <td>
                      <span class="badge badge-warning">Suspended</span>
                    </td>
                    <td>Jul 25, 2012 11:09</td>
                    <td>Mobile App Problem</td>
                    <td>Patricia Doyle</td>
                    <td><b>[#199273]</b></td>
                  </tr>
                  <tr>
                    <td>
                      <span class="badge badge-info">In progress</span>
                    </td>
                    <td>Jul 25, 2012 11:09</td>
                    <td>Mobile App Problem</td>
                    <td>Melanie Brown</td>
                    <td><b>[#199272]</b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">

        <div class="card-header">
          <i class="icon-compass icon-bg"></i>Traffic

          <div class="card-actions">
            <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
            <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
            <a href="#" class="btn-close"><i class="icon-close"></i></a>
          </div>

        </div>

        <div class="card-body">

          <div>Visits
            <span class="font-weight-bold float-right">(40% - 29.703 Users)</span>
          </div>
          <div class="progress progress-sm mt-2 mb-3">
            <div class="progress-bar bg-success" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <div>Unique
            <span class="font-weight-bold float-right">(20% - 24.093 Unique Users)</span>
          </div>
          <div class="progress progress-sm mt-2 mb-3">
            <div class="progress-bar bg-info" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <div>Pageviews
            <span class="font-weight-bold float-right">(60% - 78.706 Views)</span>
          </div>
          <div class="progress progress-sm mt-2 mb-3">
            <div class="progress-bar bg-warning" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <div>New Users
            <span class="font-weight-bold float-right">(80% - 22.123 Users)</span>
          </div>
          <div class="progress progress-sm mt-2 mb-3">
            <div class="progress-bar bg-danger" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <div>Bounce Rate
            <span class="font-weight-bold float-right">(40.15%)</span>
          </div>
          <div class="progress progress-sm mt-2 mb-3">
            <div class="progress-bar bg-success" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <div>Visits
            <span class="font-weight-bold float-right">(40% - 29.703 Users)</span>
          </div>
          <div class="progress progress-sm mt-2 mb-3">
            <div class="progress-bar bg-success" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <div>Unique
            <span class="font-weight-bold float-right">(20% - 24.093 Unique Users)</span>
          </div>
          <div class="progress progress-sm mt-2 mb-3">
            <div class="progress-bar bg-info" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>