extends ../../_layout/default.pug

block view
  .card
    .card-header
      strong Contents 
      span.small.ms-1 What’s included
    .card-body
      p Within the download you’ll find the following directories and files, logically grouping common assets and providing both compiled and minified variations. You’ll see something like this:
      pre.hljs
        code 
          | free-bootstrap-admin-template/
          | ├── build/
          | ├── src/
          | │   ├── assets/
          | │   │   ├── brand/
          | │   │   ├── favicon/
          | │   │   ├── icons/
          | │   │   ├── img/
          | │   ├── js/
          | │   ├── pug/
          | │   │   ├── _layout/
          | │   │   ├── _partial/
          | │   │   ├── base/
          | │   │   ├── buttons/
          | │   │   ├── icons/
          | │   │   ├── notifications/
          | │   │   ├── ...
          | │   │   ├── index.pug
          | │   │   └── ...
          | │   ├── scss/
          | │   ├── vendors/
          | │   └── views/
          | │       ├── base/
          | │       ├── buttons/
          | │       ├── css/
          | │       ├── icons/
          | │       ├── notifications/
          | │       ├── ...
          | │       ├── index.html
          | │       └── ...
          | └── package.json
