extends ../../_layout/default.pug

block view
  .card
    .card-header
      strong Installation
    .card-body
      h2 Installation
      h3 Clone repo
      pre.hljs.language-bash
        code 
          | # clone the repo
          | $ git clone https://github.com/coreui/coreui-free-bootstrap-admin-template.git my-project
          | 
          | # go into app's directory
          | $ cd my-project
          | 
          | # install app's dependencies
          | $ npm install
          
      h2 Usage
      pre.hljs.language-bash
        code 
          | # serve with hot reload at localhost:3000.
          | $ npm run serve
          | 
          | # build for production with minification
          | $ npm run build
          