extends ../../_layout/default.pug

block view
  .row
    .col-sm-6.col-md-4
      .card.mb-4
        .card-header
          | Card title
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        .card-footer Card footer
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4
        .card-header
          | Card with icon
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4
        .card-header
          | Card with switch
          label.c-switch.c-switch-sm.c-switch-text.c-switch-info.float-end.mb-0
            input.c-switch-input(type='checkbox')
            span.c-switch-label(data-on='On', data-off='Off')
            span.c-switch-handle
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4
        .card-header
          | Card with label
          span.badge.bg-success.float-end Success
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4
        .card-header
          | Card with label
          span.badge.bg-pill.bg-danger.float-end 42
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
  // /.row
  .row
    .col-sm-6.col-md-4
      .card.mb-4.border-primary
        .card-header
          | Card outline
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.border-secondary
        .card-header
          | Card outline
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.border-success
        .card-header
          | Card outline
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.border-info
        .card-header
          | Card outline
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.border-warning
        .card-header
          | Card outline
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.border-danger
        .card-header
          | Card outline
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
  // /.row
  .row
    .col-sm-6.col-md-4
      .card.mb-4.border-top-primary.border-top-2
        .card-header
          | Card with accent
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.border-top-secondary.border-top-2
        .card-header
          | Card with accent
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.border-top-success.border-top-2
        .card-header
          | Card with accent
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.border-top-info.border-top-2
        .card-header
          | Card with accent
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.border-top-warning.border-top-2
        .card-header
          | Card with accent
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.border-top-danger.border-top-2
        .card-header
          | Card with accent
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
  // /.row
  .row
    .col-sm-6.col-md-4
      .card.mb-4.text-white.bg-primary.text-center
        .card-body
          blockquote.card-bodyquote
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            footer
              | Someone famous in
              cite(title='Source Title') Source Title
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.text-white.bg-success.text-center
        .card-body
          blockquote.card-bodyquote
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            footer
              | Someone famous in
              cite(title='Source Title') Source Title
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.text-white.bg-info.text-center
        .card-body
          blockquote.card-bodyquote
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            footer
              | Someone famous in
              cite(title='Source Title') Source Title
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.text-white.bg-warning.text-center
        .card-body
          blockquote.card-bodyquote
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            footer
              | Someone famous in
              cite(title='Source Title') Source Title
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.text-white.bg-danger.text-center
        .card-body
          blockquote.card-bodyquote
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            footer
              | Someone famous in
              cite(title='Source Title') Source Title
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.text-white.bg-primary.text-center
        .card-body
          blockquote.card-bodyquote
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            footer
              | Someone famous in
              cite(title='Source Title') Source Title
    // /.col
  // /.row
  .row
    .col-sm-6.col-md-4
      .card.mb-4.text-white.bg-primary
        .card-header
          | Card title
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.text-white.bg-success
        .card-header
          | Card title
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.text-white.bg-info
        .card-header
          | Card title
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.text-white.bg-warning
        .card-header
          | Card title
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    .col-sm-6.col-md-4
      .card.mb-4.text-white.bg-danger
        .card-header
          | Card title
        .card-body
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    // /.col
    //- .col-sm-6.col-md-4
    //-   .card.mb-4
    //-     .card-header
    //-       | Card actions
    //-       .float-end
    //-         a.card-header-action.btn-setting(href='#')
    //-           svg.icon
    //-             use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-settings")
    //-         a.card-header-action.btn-minimize(href='#', data-coreui-toggle='collapse', data-coreui-target='#collapseExample', aria-expanded='true')
    //-           svg.icon
    //-             use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-arrow-circle-top")
    //-         a.card-header-action.btn-close(href='#')
    //-           svg.icon
    //-             use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-x-circle")
    //-     #collapseExample.collapse.show
    //-       .card-body
    //-       | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    //- // /.col
  // /.row
