extends ../../_layout/default.pug

block view
  .card.mb-4
    .card-header
      |  Pagination
      .float-end
        a(href='https://coreui.io/docs/4.0/components/pagination/', target='_blank')
          | docs
    .card-body
      nav(aria-label='Page navigation example')
        ul.pagination
          li.page-item
            a.page-link(href='#') Previous
          li.page-item
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#') Next
  .card.mb-4
    .card-header
      |  Pagination
      span.small.ms-1 with icons
    .card-body
      nav(aria-label='Page navigation example')
        ul.pagination
          li.page-item
            a.page-link(href='#', aria-label='Previous')
              span(aria-hidden='true') «
              span.visually-hidden Previous
          li.page-item
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#', aria-label='Next')
              span(aria-hidden='true') »
              span.visually-hidden Next
  .card.mb-4
    .card-header
      |  Pagination
      span.small.ms-1 disabled and active
    .card-body
      nav(aria-label='...')
        ul.pagination
          li.page-item.disabled
            a.page-link(href='#', tabindex='-1') Previous
          li.page-item
            a.page-link(href='#') 1
          li.page-item.active
            a.page-link(href='#')
              | 2
              span.visually-hidden (current)
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#') Next
      hr
      nav(aria-label='...')
        ul.pagination
          li.page-item.disabled
            span.page-link Previous
          li.page-item
            a.page-link(href='#') 1
          li.page-item.active
            span.page-link
              | 2
              span.visually-hidden (current)
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#') Next
  .card.mb-4
    .card-header
      |  Pagination
      span.small.ms-1 sizing
    .card-body
      nav(aria-label='...')
        ul.pagination.pagination-lg
          li.page-item.disabled
            a.page-link(href='#', tabindex='-1') Previous
          li.page-item
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#') Next
      hr
      nav(aria-label='...')
        ul.pagination.pagination-sm
          li.page-item.disabled
            a.page-link(href='#', tabindex='-1') Previous
          li.page-item
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#') Next
  .card.mb-4
    .card-header
      |  Pagination
      span.small.ms-1 alignment
    .card-body
      nav(aria-label='Page navigation example')
        ul.pagination.justify-content-start
          li.page-item.disabled
            a.page-link(href='#', tabindex='-1') Previous
          li.page-item
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#') Next
      hr
      nav(aria-label='Page navigation example')
        ul.pagination.justify-content-center
          li.page-item.disabled
            a.page-link(href='#', tabindex='-1') Previous
          li.page-item
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#') Next
      hr
      nav(aria-label='Page navigation example')
        ul.pagination.justify-content-end
          li.page-item.disabled
            a.page-link(href='#', tabindex='-1') Previous
          li.page-item
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#') Next
