extends ../../_layout/default.pug

block canonical
  link(rel='canonical' href='https://coreui.io/docs/4.0/components/scrollspy/')

block breadcrumb
  +breadcrumb(['Home', 'Components', 'Base'], 'Scrollspy')

block view
  +callout('Scrollspy', 'https://coreui.io/docs/4.0/components/scrollspy/')
  .card.mb-4
    .card-header
      strong Scrollspy
      span.small.ms-1 Example in navbar
    .card-body
      p.text-medium-emphasis.small
        | Scroll the area below the navbar and watch the active class change. The dropdown items will be highlighted as well.
      +example()
        nav#navbar-example2.navbar.navbar-light.bg-light.px-3
          a.navbar-brand(href='#') Navbar
          ul.nav.nav-pills
            li.nav-item
              a.nav-link.active(href='#fat') @fat
            li.nav-item
              a.nav-link(href='#mdo') @mdo
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(data-coreui-toggle='dropdown' href='#' role='button' aria-expanded='false') Dropdown
              ul.dropdown-menu
                li
                  a.dropdown-item(href='#one') one
                li
                  a.dropdown-item(href='#two') two
                li
                  hr.dropdown-divider
                li
                  a.dropdown-item(href='#three') three
        .scrollspy-example(data-coreui-spy='scroll' data-coreui-target='#navbar-example2' data-coreui-offset='0' tabindex='0')
          h4#fat @fat
          p
            | Placeholder content for the scrollspy example. You got the finest architecture. Passport stamps, she's cosmopolitan. Fine, fresh, fierce, we got it on lock. Never planned that one day I'd be losing you. She eats your heart out. Your kiss is cosmic, every move is magic. I mean the ones, I mean like she's the one. Greetings loved ones let's take a journey. Just own the night like the 4th of July! But you'd rather get wasted.
          h4#mdo @mdo
          p
            | Placeholder content for the scrollspy example. 'Cause she's the muse and the artist. (This is how we do) So you wanna play with magic. So just be sure before you give it all to me. I'm walking, I'm walking on air (tonight). Skip the talk, heard it all, time to walk the walk.
          h4#one one
          p
            | Placeholder content for the scrollspy example. Takes you miles high, so high, 'cause she’s got that one international smile. There's a stranger in my bed, there's a pounding in my head. Oh, no. In another life I would make you stay. ‘Cause I, I’m capable of anything. Suiting up for my crowning battle. Used to steal your parents' liquor and climb to the roof. Tone, tan fit and ready, turn it up cause its gettin' heavy. Her love is like a drug. I guess that I forgot I had a choice.
          h4#two two
          p
            | Placeholder content for the scrollspy example. It's time to bring out the big balloons. I'm walking, I'm walking on air (tonight). Yeah, we maxed our credit cards and got kicked out of the bar. Yo, shout out to all you kids, buying bottle service, with your rent money. I'm ma get your heart racing in my skin-tight jeans. If you get the chance you better keep her. Yo, shout out to all you kids, buying bottle service, with your rent money.
          h4#three three
          p
            | Placeholder content for the scrollspy example. If you wanna dance, if you want it all, you know that I'm the girl that you should call. Walk through the storm I would. So let me get you in your birthday suit. The one that got away. Last Friday night, yeah I think we broke the law, always say we're gonna stop. 'Cause she's a little bit of Yoko, And she's a little bit of 'Oh no'. I want the jaw droppin', eye poppin', head turnin', body shockin'. Yeah, we maxed our credit cards and got kicked out of the bar.
          p And some more placeholder content, for good measure.
  .card.mb-4
    .card-header
      strong Scrollspy
      span.small.ms-1  Example with nested nav
    .card-body
      p.text-medium-emphasis.small
        | Scrollspy also works with nested 
        code .nav
        | s. If a nested 
        code .nav
        |  is 
        code .active
        | , its parents will also be 
        code .active
        | . Scroll the area next to the navbar and watch the active class change.
      +example()
        .row
          .col-4
            nav#navbar-example3.navbar.navbar-light.bg-light.flex-column
              a.navbar-brand(href='#') Navbar
              nav.nav.nav-pills.flex-column
                a.nav-link.active(href='#item-1') Item 1
                nav.nav.nav-pills.flex-column
                  a.nav-link.ms-3.my-1.active(href='#item-1-1') Item 1-1
                  a.nav-link.ms-3.my-1(href='#item-1-2') Item 1-2
                a.nav-link(href='#item-2') Item 2
                a.nav-link(href='#item-3') Item 3
                nav.nav.nav-pills.flex-column
                  a.nav-link.ms-3.my-1(href='#item-3-1') Item 3-1
                  a.nav-link.ms-3.my-1(href='#item-3-2') Item 3-2
          .col-8
            .scrollspy-example-2(data-coreui-spy='scroll' data-coreui-target='#navbar-example3' data-coreui-offset='0' tabindex='0')
              h4#item-1 Item 1
              p
                | Placeholder content for the scrollspy example. This one relates to item 1. Takes you miles high, so high, 'cause she’s got that one international smile. There's a stranger in my bed, there's a pounding in my head. Oh, no. In another life I would make you stay. ‘Cause I, I’m capable of anything. Suiting up for my crowning battle. Used to steal your parents' liquor and climb to the roof. Tone, tan fit and ready, turn it up cause its gettin' heavy. Her love is like a drug. I guess that I forgot I had a choice.
              h5#item-1-1 Item 1-1
              p
                | Placeholder content for the scrollspy example. This one relates to the item 1-1. You got the finest architecture. Passport stamps, she's cosmopolitan. Fine, fresh, fierce, we got it on lock. Never planned that one day I'd be losing you. She eats your heart out. Your kiss is cosmic, every move is magic. I mean the ones, I mean like she's the one. Greetings loved ones let's take a journey. Just own the night like the 4th of July! But you'd rather get wasted.
              h5#item-1-2 Item 1-2
              p
                | Placeholder content for the scrollspy example. This one relates to the item 1-2. Her love is like a drug. All my girls vintage Chanel baby. Got a motel and built a fort out of sheets. 'Cause she's the muse and the artist. (This is how we do) So you wanna play with magic. So just be sure before you give it all to me. I'm walking, I'm walking on air (tonight). Skip the talk, heard it all, time to walk the walk. Catch her if you can. Stinging like a bee I earned my stripes.
              h4#item-2 Item 2
              p
                | Placeholder content for the scrollspy example. This one relates to item 2. Don't need apologies. There is no fear now, let go and just be free, I will love you unconditionally. Last Friday night. Don't be a shy kinda guy I'll bet it's beautiful. Summer after high school when we first met. 'Cause she's the muse and the artist. What? Wait. No, no, no, no. Thought that I was the exception.
              h4#item-3 Item 3
              p
                | Placeholder content for the scrollspy example. This one relates to item 3. Word on the street, you got somethin' to show me, me. All this money can't buy me a time machine. Make it like your birthday everyday. So we hit the boulevard. You make me feel like I'm livin' a teenage dream, the way you turn me on Skip the talk, heard it all, time to walk the walk. Word on the street, you got somethin' to show me, me. It's no big deal, it's no big deal, it's no big deal.
              h5#item-3-1 Item 3-1
              p
                | Placeholder content for the scrollspy example. This one relates to item 3-1. Baby do you dare to do this? This is no big deal. Yeah, you're lucky if you're on her plane. Just own the night like the 4th of July! Standing on the frontline when the bombs start to fall. So just be sure before you give it all to me.
              h5#item-3-2 Item 3-2
              p
                | Placeholder content for the scrollspy example. This one relates to item 3-2. You're original, cannot be replaced. All night they're playing, your song. California girls we're undeniable. Like a bird without a cage. There is no fear now, let go and just be free, I will love you unconditionally. I can see the writing on the wall. You could travel the world but nothing comes close to the golden coast.
  .card.mb-4
    .card-header
      strong Scrollspy
      span.small.ms-1 Example with list-group
    .card-body
      p.text-medium-emphasis.small
        | Scrollspy also works with 
        code .list-group
        | s. Scroll the area next to the list group and watch the active class change.
      +example()
        .row
          .col-4
            #list-example.list-group
              a.list-group-item.list-group-item-action.active(href='#list-item-1') Item 1
              a.list-group-item.list-group-item-action(href='#list-item-2') Item 2
              a.list-group-item.list-group-item-action(href='#list-item-3') Item 3
              a.list-group-item.list-group-item-action(href='#list-item-4') Item 4
          .col-8
            .scrollspy-example(data-coreui-spy='scroll' data-coreui-target='#list-example' data-coreui-offset='0' tabindex='0')
              h4#list-item-1 Item 1
              p
                | Placeholder content for the scrollspy list-group example. This one relates to item 1. Don't need apologies. There is no fear now, let go and just be free, I will love you unconditionally. Last Friday night. Don't be a shy kinda guy I'll bet it's beautiful. Summer after high school when we first met. 'Cause she's the muse and the artist. What? Wait. Thought that I was the exception.
              h4#list-item-2 Item 2
              p
                | Placeholder content for the scrollspy list-group example. This one relates to item 2. Yeah, she dances to her own beat. Oh, no. You could've been the greatest. 'Cause, baby, you're a firework. Maybe a reason why all the doors are closed. Open up your heart and just let it begin. So très chic, yeah, she's a classic.
              h4#list-item-3 Item 3
              p
                | Placeholder content for the scrollspy list-group example. This one relates to item 3. We go higher and higher. Never one without the other, we made a pact. I'm walking on air. Someone said you had your tattoo removed. Now I’m floating like a butterfly. Tone, tan fit and ready, turn it up cause its gettin' heavy. Cause once you’re mine, once you’re mine. You just gotta ignite the light and let it shine! So we hit the boulevard. Do you ever feel, feel so paper thin. I see it all, I see it now.
              h4#list-item-4 Item 4
              p
                | Placeholder content for the scrollspy list-group example. This one relates to item 4. Summer after high school when we first met. There is no fear now, let go and just be free, I will love you unconditionally. Sun-kissed skin so hot we'll melt your popsicle. This love will make you levitate.
