extends ../../_layout/default.pug

block view
  .row
    .col-md-6.mb-4
      .nav-tabs-boxed
        ul.nav.nav-tabs(role='tablist')
          li.nav-item
            a.nav-link.active(data-coreui-toggle='tab', href='#home', role='tab', aria-controls='home') Home
          li.nav-item
            a.nav-link(data-coreui-toggle='tab', href='#profile', role='tab', aria-controls='profile') Profile
          li.nav-item
            a.nav-link(data-coreui-toggle='tab', href='#messages', role='tab', aria-controls='messages') Messages
        .tab-content
          #home.tab-pane.active(role='tabpanel')
            | 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          #profile.tab-pane(role='tabpanel')
            | 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          #messages.tab-pane(role='tabpanel')
            | 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    // /.col
    .col-md-6.mb-4
      .nav-tabs-boxed.nav-tabs-boxed-top-right
        ul.nav.nav-tabs(role='tablist')
          li.nav-item
            a.nav-link.active(data-coreui-toggle='tab', href='#home', role='tab', aria-controls='home') Home
          li.nav-item
            a.nav-link(data-coreui-toggle='tab', href='#profile', role='tab', aria-controls='profile') Profile
          li.nav-item
            a.nav-link(data-coreui-toggle='tab', href='#messages', role='tab', aria-controls='messages') Messages
        .tab-content
          #home.tab-pane.active(role='tabpanel')
            | 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          #profile.tab-pane(role='tabpanel')
            | 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          #messages.tab-pane(role='tabpanel')
            | 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    // /.col
  .row
    .col-md-6.mb-4
      .nav-tabs-boxed.nav-tabs-boxed-left
        ul.nav.nav-tabs(role='tablist')
          li.nav-item
            a.nav-link.active(data-coreui-toggle='tab', href='#home', role='tab', aria-controls='home') Home
          li.nav-item
            a.nav-link(data-coreui-toggle='tab', href='#profile', role='tab', aria-controls='profile') Profile
          li.nav-item
            a.nav-link(data-coreui-toggle='tab', href='#messages', role='tab', aria-controls='messages') Messages
        .tab-content
          #home.tab-pane.active(role='tabpanel')
            | 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          #profile.tab-pane(role='tabpanel')
            | 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          #messages.tab-pane(role='tabpanel')
            | 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    // /.col
    .col-md-6.mb-4
      .nav-tabs-boxed.nav-tabs-boxed-right
        ul.nav.nav-tabs(role='tablist')
          li.nav-item
            a.nav-link.active(data-coreui-toggle='tab', href='#home', role='tab', aria-controls='home') Home
          li.nav-item
            a.nav-link(data-coreui-toggle='tab', href='#profile', role='tab', aria-controls='profile') Profile
          li.nav-item
            a.nav-link(data-coreui-toggle='tab', href='#messages', role='tab', aria-controls='messages') Messages
        .tab-content
          #home.tab-pane.active(role='tabpanel')
            | 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          #profile.tab-pane(role='tabpanel')
            | 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          #messages.tab-pane(role='tabpanel')
            | 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    // /.col
    .col-md-6.mb-4
      ul.nav.nav-tabs(role='tablist')
        li.nav-item
          a.nav-link.active(data-coreui-toggle='tab', href='#home2', role='tab', aria-controls='home')
            svg.icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-calculator")
              |
        li.nav-item
          a.nav-link(data-coreui-toggle='tab', href='#profile2', role='tab', aria-controls='profile')
            svg.icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-basket")
              |
        li.nav-item
          a.nav-link(data-coreui-toggle='tab', href='#messages2', role='tab', aria-controls='messages')
            svg.icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-chart-pie")
              |
      .tab-content
        #home2.tab-pane.active(role='tabpanel')
          | 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        #profile2.tab-pane(role='tabpanel')
          | 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        #messages2.tab-pane(role='tabpanel')
          | 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    // /.col
    .col-md-6.mb-4
      ul.nav.nav-tabs(role='tablist')
        li.nav-item
          a.nav-link.active(data-coreui-toggle='tab', href='#home3', role='tab', aria-controls='home')
            svg.icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-calculator")
              |
            |  Calculator
        li.nav-item
          a.nav-link(data-coreui-toggle='tab', href='#profile3', role='tab', aria-controls='profile')
            svg.icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-basket")
              |
            |  Shoping cart
        li.nav-item
          a.nav-link(data-coreui-toggle='tab', href='#messages3', role='tab', aria-controls='messages')
            svg.icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-chart-pie")
              |
            |  Charts
      .tab-content
        #home3.tab-pane.active(role='tabpanel')
          | 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        #profile3.tab-pane(role='tabpanel')
          | 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        #messages3.tab-pane(role='tabpanel')
          | 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    // /.col
    .col-md-6.mb-4
      ul.nav.nav-tabs(role='tablist')
        li.nav-item
          a.nav-link.active(data-coreui-toggle='tab', href='#home4', role='tab', aria-controls='home')
            svg.icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-calculator")
              |
            |  Calculator
            span.badge.bg-success New
        li.nav-item
          a.nav-link(data-coreui-toggle='tab', href='#profile4', role='tab', aria-controls='profile')
            svg.icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-basket")
              |
            |  Shoping cart
            span.badge.bg-pill.bg-danger 29
        li.nav-item
          a.nav-link(data-coreui-toggle='tab', href='#messages4', role='tab', aria-controls='messages')
            svg.icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-chart-pie")
              |
            |  Charts
      .tab-content
        #home4.tab-pane.active(role='tabpanel')
          | 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        #profile4.tab-pane(role='tabpanel')
          | 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        #messages4.tab-pane(role='tabpanel')
          | 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    // /.col
  // /.row
