<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ site.baseurl }}/assets/img/coreui-sygnet-white.png" class="img-fluid">
            </div>
            <div class="col-md-2">
                <h5>Quick links</h5>
                <ul class="list-unstyled">
                    <li><a href="#about">About</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><hr></li>
                    <li><a href="http://v4-alpha.getbootstrap.com/" target="_blank" rel="nofollow">Bootstrap</a></li>
                    <li><a href="https://angular.io/" target="_blank" rel="nofollow">Angular</a></li>
                    <li><a href="https://facebook.github.io/react/" target="_blank" rel="nofollow">ReactJS</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="">Github</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>My other projects</h5>
                <ul class="list-unstyled">
                    <li><a href="http://brix.io" target="_blank">Brix.io</a></li>
                    <li><a href="https://genesisui.com" target="_blank">GenesisUI</a></li>
                    <li><a href="https://bootstrapmaster.com" target="_blank">BootstrapMaster</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            © 2016 creativeLabs. Designed and built by <a href="https://twitter.com/lukaszholeczek">@lukaszholeczek</a> Code licensed under an MIT-style License.
            <!-- Documentation licensed under CC BY 4.0. -->
        </div>
    </div>
</footer>
