<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="CoreUI Open Source Bootstrap Admin Template">
<meta name="author" content="Łukasz Holeczek">

<title>
  {% if page.layout == "home" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; CoreUI
  {% endif %}
</title>

<!-- Bootstrap core CSS -->
<!-- {% if site.github %}
  <link href="{{ site.baseurl }}/dist/css/bootstrap.min.css" rel="stylesheet">
  {% if page.title == "Flexbox grid system" %}
    <link href="{{ site.baseurl }}/assets/css/docs-flexbox.min.css" rel="stylesheet">
  {% endif %}
{% else %}
  <link href="{{ site.baseurl }}/dist/css/bootstrap.css" rel="stylesheet">
{% endif %} -->
<link href="{{ site.github.url }}/css/main.css" rel="stylesheet">
