<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="CoreUI Open Source Bootstrap Admin Template">
<meta name="author" content="Łukasz Holeczek">

<link rel="apple-touch-icon" sizes="57x57" href="{{ site.github.url }}/assets/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.github.url }}/assets/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.github.url }}/assets/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.github.url }}/assets/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.github.url }}/assets/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.github.url }}/assets/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.github.url }}/assets/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/assets/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url }}/assets/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.github.url }}/assets/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.github.url }}/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.github.url }}/assets/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.github.url }}/assets/img/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.github.url }}/assets/img/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<title>
  {% if page.layout == "home" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; CoreUI
  {% endif %}
</title>

<!-- Bootstrap core CSS -->
<!-- {% if site.github %}
  <link href="{{ site.baseurl }}/dist/css/bootstrap.min.css" rel="stylesheet">
  {% if page.title == "Flexbox grid system" %}
    <link href="{{ site.baseurl }}/assets/css/docs-flexbox.min.css" rel="stylesheet">
  {% endif %}
{% else %}
  <link href="{{ site.baseurl }}/dist/css/bootstrap.css" rel="stylesheet">
{% endif %} -->
<link href="{{ site.github.url }}/css/main.css" rel="stylesheet">
