<nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <a class="navbar-brand" href="#">
        <img src="{{ site.baseurl }}/assets/img/coreui-logo.png" alt="CoreUI Logo">
    </a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#features">Features</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Docs</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="#">Github</a>
        </li>
    </ul>
    <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
            <a class="nav-link" href="http://holeczek.pl" target="_blank">About me</a>
        </li>
    </ul>
</nav>
