extends /default.pug

block view
  .animated.fadeIn
    .row
      .col-lg-6
        .card
          .card-header
            i.fa.fa-align-justify
            |  Bootstrap Badges
            .card-header-actions
              a.card-header-action(href='http://coreui.io/docs/components/bootstrap-badge/', target='_blank')
                small.text-muted docs
          .card-body
            h1
              | Example heading
              span.badge.badge-secondary New
            h2
              | Example heading
              span.badge.badge-secondary New
            h3
              | Example heading
              span.badge.badge-secondary New
            h4
              | Example heading
              span.badge.badge-secondary New
            h5
              | Example heading
              span.badge.badge-secondary New
            h6
              | Example heading
              span.badge.badge-secondary New
          .card-footer
            button.btn.btn-primary(type='link')
              | Notifications
              span.badge.badge-light.badge-pill(style='position: static;') 9
      .col-lg-6
        .card
          .card-header
            i.fa.fa-align-justify
            |  Bootstrap Badges
            small contextual variations
          .card-body
            span.badge.badge-primary Primary
            span.badge.badge-secondary Secondary
            span.badge.badge-success Success
            span.badge.badge-danger Danger
            span.badge.badge-warning Warning
            span.badge.badge-info Info
            span.badge.badge-light Light
            span.badge.badge-dark Dark
        .card
          .card-header
            i.fa.fa-align-justify
            |  Bootstrap Badges
            small pill badges
          .card-body
            span.badge.badge-pill.badge-primary Primary
            span.badge.badge-pill.badge-secondary Secondary
            span.badge.badge-pill.badge-success Success
            span.badge.badge-pill.badge-danger Danger
            span.badge.badge-pill.badge-warning Warning
            span.badge.badge-pill.badge-info Info
            span.badge.badge-pill.badge-light Light
            span.badge.badge-pill.badge-dark Dark
        .card
          .card-header
            i.fa.fa-align-justify
            |  Bootstrap Badges
            small links
          .card-body
            a.badge.badge-primary(href='#') Primary
            a.badge.badge-secondary(href='#') Secondary
            a.badge.badge-success(href='#') Success
            a.badge.badge-danger(href='#') Danger
            a.badge.badge-warning(href='#') Warning
            a.badge.badge-info(href='#') Info
            a.badge.badge-light(href='#') Light
            a.badge.badge-dark(href='#') Dark
    // /.row
