extends /default.pug

block view
  .animated.c-fade-in
    .c-row
      .c-col-lg-6
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Bootstrap Badges
            .c-card-header-actions
              a.c-card-header-action(href='http://coreui.io/docs/components/bootstrap-badge/', target='_blank')
                small.c-text-muted docs
          .c-card-body
            h1
              | Example heading
              span.c-badge.c-badge-secondary New
            h2
              | Example heading
              span.c-badge.c-badge-secondary New
            h3
              | Example heading
              span.c-badge.c-badge-secondary New
            h4
              | Example heading
              span.c-badge.c-badge-secondary New
            h5
              | Example heading
              span.c-badge.c-badge-secondary New
            h6
              | Example heading
              span.c-badge.c-badge-secondary New
          .c-card-footer
            button.c-btn.c-btn-primary(type='link')
              | Notifications
              span.c-badge.c-badge-light.c-badge-pill(style='position: static;') 9
      .c-col-lg-6
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Bootstrap Badges
            small contextual variations
          .c-card-body
            span.c-badge.c-badge-primary Primary
            span.c-badge.c-badge-secondary Secondary
            span.c-badge.c-badge-success Success
            span.c-badge.c-badge-danger Danger
            span.c-badge.c-badge-warning Warning
            span.c-badge.c-badge-info Info
            span.c-badge.c-badge-light Light
            span.c-badge.c-badge-dark Dark
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Bootstrap Badges
            small pill badges
          .c-card-body
            span.c-badge.c-badge-pill.c-badge-primary Primary
            span.c-badge.c-badge-pill.c-badge-secondary Secondary
            span.c-badge.c-badge-pill.c-badge-success Success
            span.c-badge.c-badge-pill.c-badge-danger Danger
            span.c-badge.c-badge-pill.c-badge-warning Warning
            span.c-badge.c-badge-pill.c-badge-info Info
            span.c-badge.c-badge-pill.c-badge-light Light
            span.c-badge.c-badge-pill.c-badge-dark Dark
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Bootstrap Badges
            small links
          .c-card-body
            a.c-badge.c-badge-primary(href='#') Primary
            a.c-badge.c-badge-secondary(href='#') Secondary
            a.c-badge.c-badge-success(href='#') Success
            a.c-badge.c-badge-danger(href='#') Danger
            a.c-badge.c-badge-warning(href='#') Warning
            a.c-badge.c-badge-info(href='#') Info
            a.c-badge.c-badge-light(href='#') Light
            a.c-badge.c-badge-dark(href='#') Dark
    // /.c-row
