- var static = true
doctype html
include ../partials/banner.pug

html(lang='en')
  head
    base(href=base)
    include ../partials/head.pug
    block styles
  body.app.flex-row.align-items-center
    block view

    include ../partials/scripts.pug
