extends ../../_layout/default.pug

block styles
  link(href='node_modules/@coreui/icons/css/flag.min.css', rel='stylesheet')

block breadcrumb
  +breadcrumb(['Home', 'Components', 'Icons'], 'CoreUI Icons - Flags')

block view
  +callout-custom
    | CoreUI Admin Template is delivered with CoreUI Icons with more than 1500 icons in multiple formats SVG, JavaScript, and Webfonts. CoreUI Icons are beautifully crafted symbols for common actions and items. You can use them in your digital products for web or mobile apps.
    br
    br
    | For more information please visit 
    a(href='https://icons.coreui.io' target='_blank') CoreUI Icons website
    | .
  - var icons = ["AD", "AE", "AF", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CF", "CG", "CH", "CI", "CL", "CM", "CN", "CO", "CR", "CU", "CV", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ER", "ES", "ET", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IR", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KP", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MM", "MN", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NU", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SD", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SO", "SR", "SS", "ST", "SV", "SY", "SZ", "TD", "TG", "TH", "TJ", "TL", "TM", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VA", "VC", "VE", "VN", "WS", "XK", "YE", "ZA", "ZM", "ZW"]
  - icons.sort();
  .card.mb-4
    .card-header
      |  CoreUI Icons - Flag
    .card-body
      .row.text-center
        each icon in icons
          .col-6.col-sm-4.col-md-2
            i(class='icon icon-2xl mt-5 mb-2 cif-' + icon.toLowerCase())
            div cif-#{icon.toLowerCase()}
