// Breadcrumb
ol.c-breadcrumb
  li.c-breadcrumb-item Home
  if !starter
    li.c-breadcrumb-item
      a(href="#") Admin
    li.c-breadcrumb-item.c-active Dashboard
    // Breadcrumb Menu
    li.c-breadcrumb-menu.c-d-md-down-none
      .c-btn-group(role="group" aria-label="Button group")
        a.c-btn(href="#")
          img.c-icon(src="assets/icons/speech.svg" width="16" height="16" alt="CoreUI Icons Speech")
        a.c-btn(href="./")
          img.c-icon(src="assets/icons/graph.svg" width="16" height="16" alt="CoreUI Icons Graph")
          |   Dashboard
        a.c-btn(href="#")
          img.c-icon(src="assets/icons/settings.svg" width="16" height="16" alt="CoreUI Icons Settings")
          |   Settings
