header.c-header.c-header-light.c-header-fixed
  button.c-header-toggler.c-class-toggler.d-lg-none.mr-auto(type="button" data-target="#sidebar" data-class="c-sidebar-show")
    span.c-header-toggler-icon
  a.c-header-brand.c-header-brand-md-down-centered(href="#")
    img.c-header-brand-full(src="assets/brand/coreui-base.svg" width="97" height="46" alt="CoreUI Logo")
    img.c-header-brand-minimized(src="assets/brand/coreui-signet.svg" width="46" height="46" alt="CoreUI Logo")
  button.c-header-toggler.c-class-toggler.d-md-down-none(type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true")
    span.c-header-toggler-icon
  if !starter
    ul.c-header-nav.d-md-down-none
      li.c-nav-item.px-3
        a.c-nav-link(href="#") Dashboard
      li.c-nav-item.px-3
        a.c-nav-link(href="#") Users
      li.c-nav-item.px-3
        a.c-nav-link(href="#") Settings
    ul.c-nav.c-header-nav.ml-auto
      li.c-nav-item.d-md-down-none.mx-2
        a.c-nav-link(href="#")
          img.c-icon(src="assets/icons/bell.svg" alt="CoreUI Icons Bell")
          span.badge.badge-pill.badge-danger 5
      li.c-nav-item.d-md-down-none.mx-2
        a.c-nav-link(href="#")
          img.c-icon(src="assets/icons/list-rich.svg" alt="CoreUI Icons List Rich")
      li.c-nav-item.d-md-down-none.mx-2
        a.c-nav-link(href="#")
          img.c-icon(src="assets/icons/location-pin.svg" alt="CoreUI Icons Location Pin")
      li.c-nav-item.dropdown
        a.c-nav-link(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
          img.c-avatar-img(src="assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com")
        .dropdown-menu.dropdown-menu-right.pt-0
          .dropdown-header.bg-light.py-2
            strong Account
          a.dropdown-item(href="#")
            img.c-icon.mr-2(src="assets/icons/bell.svg" alt="CoreUI Icons Bell")
            |  Updates
            span.badge.badge-info.ml-auto 42
          a.dropdown-item(href="#")
            img.c-icon.mr-2(src="assets/icons/envelope-open.svg" alt="CorseUI Icons Envelope Open")
            |  Messages
            span.badge.badge-success.ml-auto 42
          a.dropdown-item(href="#")
            img.c-icon.mr-2(src="assets/icons/task.svg" alt="CoreUI Icons Task")
            |  Tasks
            span.badge.badge-danger.ml-auto 42
          a.dropdown-item(href="#")
            img.c-icon.mr-2(src="assets/icons/comment-square.svg" alt="CoreUI Icons Comment Square")
            |  Comments
            span.badge.badge-warning.ml-auto 42
          .dropdown-header.bg-light.py-2
            strong Settings
          a.dropdown-item(href="#")
            img.c-icon.mr-2(src="assets/icons/user.svg" alt="CoreUI Icons User")
            |  Profile
          a.dropdown-item(href="#")
            img.c-icon.mr-2(src="assets/icons/settings.svg" alt="CoreUI Icons Settings")
            |  Settings
          a.dropdown-item(href="#")
            img.c-icon.mr-2(src="assets/icons/credit-card.svg" alt="CoreUI Icons Credit Card")
            |  Payments
            span.badge.badge-secondary.ml-auto 42
          a.dropdown-item(href="#")
            img.c-icon.mr-2(src="assets/icons/file.svg" alt="CoreUI Icons File")
            |  Projects
            span.badge.badge-primary.ml-auto 42
          .dropdown-divider
          a.dropdown-item(href="#")
            img.c-icon.mr-2(src="assets/icons/lock-locked.svg" alt="CoreUI Icons Lock Locked")
            |  Lock Account
          a.dropdown-item(href="#")
            img.c-icon.mr-2(src="assets/icons/account-logout.svg" alt="CoreUI Icons Account Logout")
            |  Logout
