header.c-header.c-header-light.c-header-fixed
  button.c-header-toggler.c-class-toggler.c-d-lg-none.c-mr-auto(type="button" data-target="#sidebar" data-class="c-sidebar-show")
    span.c-header-toggler-icon
  a.c-header-brand.c-header-brand-md-down-centered(href="#")
    img.c-header-brand-full(src="assets/brand/coreui-base.svg" width="97" height="46" alt="CoreUI Logo")
    img.c-header-brand-minimized(src="assets/brand/coreui-signet.svg" width="46" height="46" alt="CoreUI Logo")
  button.c-header-toggler.c-class-toggler.c-d-md-down-none(type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true")
    span.c-header-toggler-icon
  if !starter
    ul.c-nav.c-header-nav.c-d-md-down-none
      li.c-nav-item.c-px-3
        a.c-nav-link(href="#") Dashboard
      li.c-nav-item.c-px-3
        a.c-nav-link(href="#") Users
      li.c-nav-item.c-px-3
        a.c-nav-link(href="#") Settings
    ul.c-nav.c-header-nav.c-ml-auto
      li.c-nav-item.c-d-md-down-none.c-mx-2
        a.c-nav-link(href="#")
          img.c-icon(src="assets/icons/bell.svg" width="16" height="16" alt="CoreUI Icons Bell")
          span.c-badge.c-badge-pill.c-badge-danger 5
      li.c-nav-item.c-d-md-down-none.c-mx-2
        a.c-nav-link(href="#")
          img.c-icon(src="assets/icons/list-rich.svg" width="16" height="16" alt="CoreUI Icons List Rich")
      li.c-nav-item.c-d-md-down-none.c-mx-2
        a.c-nav-link(href="#")
          img.c-icon(src="assets/icons/location-pin.svg" width="16" height="16" alt="CoreUI Icons Location Pin")
      li.c-nav-item.c-dropdown
        a.c-nav-link(data-toggle="c-dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
          img.c-img-avatar(src="assets/img/avatars/6.jpg" alt="admin@bootstrapmaster.com")
        .c-dropdown-menu.c-dropdown-menu-right.c-pt-0
          .c-dropdown-header.c-bg-light.c-py-2
            strong Account
          a.c-dropdown-item(href="#")
            img.c-icon.c-mr-2(src="assets/icons/bell.svg" width="16" height="16" alt="CoreUI Icons Bell")
            |  Updates
            span.c-badge.c-badge-info.c-ml-auto 42
          a.c-dropdown-item(href="#")
            img.c-icon.c-mr-2(src="assets/icons/envelope-open.svg" width="16" height="16" alt="CorseUI Icons Envelope Open")
            |  Messages
            span.c-badge.c-badge-success.c-ml-auto 42
          a.c-dropdown-item(href="#")
            img.c-icon.c-mr-2(src="assets/icons/task1.svg" width="16" height="16" alt="CoreUI Icons Task")
            |  Tasks
            span.c-badge.c-badge-danger.c-ml-auto 42
          a.c-dropdown-item(href="#")
            img.c-icon.c-mr-2(src="assets/icons/comment-square.svg" width="16" height="16" alt="CoreUI Icons Comment Square")
            |  Comments
            span.c-badge.c-badge-warning.c-ml-auto 42
          .c-dropdown-header.c-bg-light.c-py-2
            strong Settings
          a.c-dropdown-item(href="#")
            img.c-icon.c-mr-2(src="assets/icons/user.svg" width="16" height="16" alt="CoreUI Icons User")
            |  Profile
          a.c-dropdown-item(href="#")
            img.c-icon.c-mr-2(src="assets/icons/settings.svg" width="16" height="16" alt="CoreUI Icons Settings")
            |  Settings
          a.c-dropdown-item(href="#")
            img.c-icon.c-mr-2(src="assets/icons/credit-card.svg" width="16" height="16" alt="CoreUI Icons Credit Card")
            |  Payments
            span.c-badge.c-badge-secondary.c-ml-auto 42
          a.c-dropdown-item(href="#")
            img.c-icon.c-mr-2(src="assets/icons/file.svg" width="16" height="16" alt="CoreUI Icons File")
            |  Projects
            span.c-badge.c-badge-primary.c-ml-auto 42
          .c-dropdown-divider
          a.c-dropdown-item(href="#")
            img.c-icon.c-mr-2(src="assets/icons/lock-locked.svg" width="16" height="16" alt="CoreUI Icons Lock Locked")
            |  Lock Account
          a.c-dropdown-item(href="#")
            img.c-icon.c-mr-2(src="assets/icons/account-logout.svg" width="16" height="16" alt="CoreUI Icons Account Logout")
            |  Logout
