extends /default.pug

block scripts
  // Plugins and scripts required by this view
  script(src='node_modules/chart.js/dist/Chart.min.js')
  script(src='node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js')
  script(src='js/charts.js')

block view
  .animated.c-fade-in
    .c-card-columns.c-cols-2
      .c-card
        .c-card-header
          | Line Chart
          .c-card-header-actions
            a.c-card-header-action(href='http://www.chartjs.org', target='_blank')
              small.c-text-muted docs
        .c-card-body
          .c-chart-wrapper
            canvas#canvas-1
      .c-card
        .c-card-header
          | Bar Chart
          .c-card-header-actions
            a.c-card-header-action(href='http://www.chartjs.org', target='_blank')
              small.c-text-muted docs
        .c-card-body
          .c-chart-wrapper
            canvas#canvas-2
      .c-card
        .c-card-header
          | Doughnut Chart
          .c-card-header-actions
            a.c-card-header-action(href='http://www.chartjs.org', target='_blank')
              small.c-text-muted docs
        .c-card-body
          .c-chart-wrapper
            canvas#canvas-3
      .c-card
        .c-card-header
          | Radar Chart
          .c-card-header-actions
            a.c-card-header-action(href='http://www.chartjs.org', target='_blank')
              small.c-text-muted docs
        .c-card-body
          .c-chart-wrapper
            canvas#canvas-4
      .c-card
        .c-card-header
          | Pie Chart
          .c-card-header-actions
            a.c-card-header-action(href='http://www.chartjs.org', target='_blank')
              small.c-text-muted docs
        .c-card-body
          .c-chart-wrapper
            canvas#canvas-5
      .c-card
        .c-card-header
          | Polar Area Chart
          .c-card-header-actions
            a.c-card-header-action(href='http://www.chartjs.org', target='_blank')
              small.c-text-muted docs
        .c-card-body
          .c-chart-wrapper
            canvas#canvas-6
