extends /default.pug

block scripts
  // Plugins and scripts required by this view
  script(src='node_modules/chart.js/dist/Chart.min.js')
  script(src='node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js')
  script(src='js/charts.js')

block view
  .animated.fadeIn
    .card-columns.cols-2
      .card
        .card-header
          | Line Chart
          .card-header-actions
            a.card-header-action(href='http://www.chartjs.org', target='_blank')
              small.text-muted docs
        .card-body
          .chart-wrapper
            canvas#canvas-1
      .card
        .card-header
          | Bar Chart
          .card-header-actions
            a.card-header-action(href='http://www.chartjs.org', target='_blank')
              small.text-muted docs
        .card-body
          .chart-wrapper
            canvas#canvas-2
      .card
        .card-header
          | Doughnut Chart
          .card-header-actions
            a.card-header-action(href='http://www.chartjs.org', target='_blank')
              small.text-muted docs
        .card-body
          .chart-wrapper
            canvas#canvas-3
      .card
        .card-header
          | Radar Chart
          .card-header-actions
            a.card-header-action(href='http://www.chartjs.org', target='_blank')
              small.text-muted docs
        .card-body
          .chart-wrapper
            canvas#canvas-4
      .card
        .card-header
          | Pie Chart
          .card-header-actions
            a.card-header-action(href='http://www.chartjs.org', target='_blank')
              small.text-muted docs
        .card-body
          .chart-wrapper
            canvas#canvas-5
      .card
        .card-header
          | Polar Area Chart
          .card-header-actions
            a.card-header-action(href='http://www.chartjs.org', target='_blank')
              small.text-muted docs
        .card-body
          .chart-wrapper
            canvas#canvas-6
