extends /default.pug

block scripts
  if !starter
    // Plugins and scripts required by this view
    script(src='js/colors.js')

block view
  .animated.c-fade-in
    .c-card
      .c-card-header
        i.icon-drop
        |  Theme colors
      .c-card-body
        .c-row
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-primary.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Brand Primary Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-secondary.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Brand Secondary Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-success.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Brand Success Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-danger.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Brand Danger Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-warning.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Brand Warning Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-info.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Brand Info Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-light.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Brand Light Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-dark.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Brand Dark Color
    .c-card
      .c-card-header
        i.icon-drop
        |  Grays
      .c-card-body
        .c-row.c-mb-3
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-gray-100.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Gray 100 Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-gray-200.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Gray 200 Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-gray-300.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Gray 300 Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-gray-400.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Gray 400 Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-gray-500.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Gray 500 Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-gray-600.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Gray 600 Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-gray-700.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Gray 700 Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-gray-800.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Gray 800 Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-bg-gray-900.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Gray 900 Color
    .c-card
      .c-card-header
        i.icon-drop
        |  Additional colors
      .c-card-body
        .c-row
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-mb-3.c-bg-blue.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Blue Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-mb-3.c-bg-light-blue.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Light Blue Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-mb-3.c-bg-indigo.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Indigo Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-mb-3.c-bg-purple.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Purple Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-mb-3.c-bg-pink.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Pink Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-mb-3.c-bg-red.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Red Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-mb-3.c-bg-orange.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Orange Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-mb-3.c-bg-yellow.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Yellow Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-mb-3.c-bg-green.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Green Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-mb-3.c-bg-teal.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Teal Color
          .c-col-xl-2.c-col-md-3.c-col-sm-4.c-col-6.c-mb-4
            .c-mb-3.c-bg-cyan.theme-color.c-w-75.c-rounded.c-mb-2(style='padding-top:75%')
            h6 Cyan Color
