extends /default.pug

block scripts
  if !starter
    // Plugins and scripts required by this view
    script(src='node_modules/chart.js/dist/Chart.min.js')
    script(src='node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js')
    script(src='js/main.js')

block view
  .animated.c-fade-in
    .c-row
      .c-col-sm-6.c-col-lg-3
        .c-card.c-text-white.c-bg-primary
          .c-card-body.c-pb-0
            .c-btn-group.c-float-right
              button.c-btn.c-btn-transparent.c-dropdown-toggle.c-p-0(type='button', data-toggle='c-dropdown', aria-haspopup='true', aria-expanded='false')
                i.icon-settings
              .c-dropdown-menu.c-dropdown-menu-right
                a.c-dropdown-item(href='#') Action
                a.c-dropdown-item(href='#') Another action
                a.c-dropdown-item(href='#') Something else here
            .c-text-value 9.823
            div Members online
          .c-chart-wrapper.c-mt-3.c-mx-3(style='height:70px;')
            canvas#card-chart1.chart(height='70')
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-card.c-text-white.c-bg-info
          .c-card-body.c-pb-0
            button.c-btn.c-btn-transparent.c-p-0.c-float-right(type='button')
              i.icon-location-pin
            .c-text-value 9.823
            div Members online
          .c-chart-wrapper.c-mt-3.c-mx-3(style='height:70px;')
            canvas#card-chart2.chart(height='70')
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-card.c-text-white.c-bg-warning
          .c-card-body.c-pb-0
            .c-btn-group.c-float-right
              button.c-btn.c-btn-transparent.c-dropdown-toggle.c-p-0(type='button', data-toggle='c-dropdown', aria-haspopup='true', aria-expanded='false')
                i.icon-settings
              .c-dropdown-menu.c-dropdown-menu-right
                a.c-dropdown-item(href='#') Action
                a.c-dropdown-item(href='#') Another action
                a.c-dropdown-item(href='#') Something else here
            .c-text-value 9.823
            div Members online
          .c-chart-wrapper.c-mt-3(style='height:70px;')
            canvas#card-chart3.chart(height='70')
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-card.c-text-white.c-bg-danger
          .c-card-body.c-pb-0
            .c-btn-group.c-float-right
              button.c-btn.c-btn-transparent.c-dropdown-toggle.c-p-0(type='button', data-toggle='c-dropdown', aria-haspopup='true', aria-expanded='false')
                i.icon-settings
              .c-dropdown-menu.c-dropdown-menu-right
                a.c-dropdown-item(href='#') Action
                a.c-dropdown-item(href='#') Another action
                a.c-dropdown-item(href='#') Something else here
            .c-text-value 9.823
            div Members online
          .c-chart-wrapper.c-mt-3.c-mx-3(style='height:70px;')
            canvas#card-chart4.chart(height='70')
      // /.c-col
    // /.c-row
    .c-card
      .c-card-body
        .c-row
          .c-col-sm-5
            h4.c-card-title.c-mb-0 Traffic
            .c-small.c-text-muted November 2017
          // /.c-col
          .c-col-sm-7.c-d-none.c-d-md-block
            button.c-btn.c-btn-primary.c-float-right(type='button')
              i.icon-cloud-download
            .c-btn-group.c-btn-group-toggle.c-float-right.c-mr-3(data-toggle='buttons')
              label.c-btn.c-btn-outline-secondary
                input#option1(type='radio', name='options', autocomplete='off')
                |  Day
              label.c-btn.c-btn-outline-secondary.active
                input#option2(type='radio', name='options', autocomplete='off', checked='')
                |  Month
              label.c-btn.c-btn-outline-secondary
                input#option3(type='radio', name='options', autocomplete='off')
                |  Year
          // /.c-col
        // /.c-row
        .c-chart-wrapper(style='height:300px;margin-top:40px;')
          canvas#main-chart.chart(height='300')
      .c-card-footer
        .c-row.c-text-center
          .c-col-sm-12.c-col-md.c-mb-sm-2.c-mb-0
            .c-text-muted Visits
            strong 29.703 Users (40%)
            .c-progress.c-progress-xs.c-mt-2
              .c-progress-bar.c-bg-success(role='progressbar', style='width: 40%', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100')
          .c-col-sm-12.c-col-md.c-mb-sm-2.c-mb-0
            .c-text-muted Unique
            strong 24.093 Users (20%)
            .c-progress.c-progress-xs.c-mt-2
              .c-progress-bar.c-bg-info(role='progressbar', style='width: 20%', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
          .c-col-sm-12.c-col-md.c-mb-sm-2.c-mb-0
            .c-text-muted Pageviews
            strong 78.706 Views (60%)
            .c-progress.c-progress-xs.c-mt-2
              .c-progress-bar.c-bg-warning(role='progressbar', style='width: 60%', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
          .c-col-sm-12.c-col-md.c-mb-sm-2.c-mb-0
            .c-text-muted New Users
            strong 22.123 Users (80%)
            .c-progress.c-progress-xs.c-mt-2
              .c-progress-bar.c-bg-danger(role='progressbar', style='width: 80%', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100')
          .c-col-sm-12.c-col-md.c-mb-sm-2.c-mb-0
            .c-text-muted Bounce Rate
            strong 40.15%
            .c-progress.c-progress-xs.c-mt-2
              .c-progress-bar(role='progressbar', style='width: 40%', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100')
    // /.c-card
    .c-row
      .c-col-sm-6.c-col-lg-3
        .c-brand-card
          .c-brand-card-header.c-bg-facebook
            i.fa.fa-facebook
            .c-chart-wrapper
              canvas#social-box-chart-1(height='90')
          .c-brand-card-body
            div
              .c-text-value 89k
              .c-text-uppercase.c-text-muted.c-small friends
            div
              .c-text-value 459
              .c-text-uppercase.c-text-muted.c-small feeds
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-brand-card
          .c-brand-card-header.c-bg-twitter
            i.fa.fa-twitter
            .c-chart-wrapper
              canvas#social-box-chart-2(height='90')
          .c-brand-card-body
            div
              .c-text-value 973k
              .c-text-uppercase.c-text-muted.c-small followers
            div
              .c-text-value 1.792
              .c-text-uppercase.c-text-muted.c-small tweets
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-brand-card
          .c-brand-card-header.c-bg-linkedin
            i.fa.fa-linkedin
            .c-chart-wrapper
              canvas#social-box-chart-3(height='90')
          .c-brand-card-body
            div
              .c-text-value 500+
              .c-text-uppercase.c-text-muted.c-small contacts
            div
              .c-text-value 292
              .c-text-uppercase.c-text-muted.c-small feeds
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-brand-card
          .c-brand-card-header.c-bg-google-plus
            i.fa.fa-google-plus
            .c-chart-wrapper
              canvas#social-box-chart-4(height='90')
          .c-brand-card-body
            div
              .c-text-value 894
              .c-text-uppercase.c-text-muted.c-small followers
            div
              .c-text-value 92
              .c-text-uppercase.c-text-muted.c-small circles
      // /.c-col
    // /.c-row
    .c-row
      .c-col-md-12
        .c-card
          .c-card-header
            | Traffic & Sales
          .c-card-body
            .c-row
              .c-col-sm-6
                .c-row
                  .c-col-sm-6
                    .c-callout.c-callout-info
                      small.c-text-muted New Clients
                      br
                      strong.c-h4 9,123
                      .c-chart-wrapper
                        canvas#sparkline-chart-1(width='100', height='30')
                  // /.c-col
                  .c-col-sm-6
                    .c-callout.c-callout-danger
                      small.c-text-muted Recuring Clients
                      br
                      strong.c-h4 22,643
                      .c-chart-wrapper
                        canvas#sparkline-chart-2(width='100', height='30')
                  // /.c-col
                // /.c-row
                hr.c-mt-0
                .c-progress-group.c-mb-4
                  .c-progress-group-prepend
                    span.c-progress-group-text
                      | Monday
                  .c-progress-group-bars
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-info(role='progressbar', style='width: 34%', aria-valuenow='34', aria-valuemin='0', aria-valuemax='100')
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-danger(role='progressbar', style='width: 78%', aria-valuenow='78', aria-valuemin='0', aria-valuemax='100')
                .c-progress-group.c-mb-4
                  .c-progress-group-prepend
                    span.c-progress-group-text
                      | Tuesday
                  .c-progress-group-bars
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-info(role='progressbar', style='width: 56%', aria-valuenow='56', aria-valuemin='0', aria-valuemax='100')
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-danger(role='progressbar', style='width: 94%', aria-valuenow='94', aria-valuemin='0', aria-valuemax='100')
                .c-progress-group.c-mb-4
                  .c-progress-group-prepend
                    span.c-progress-group-text
                      | Wednesday
                  .c-progress-group-bars
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-info(role='progressbar', style='width: 12%', aria-valuenow='12', aria-valuemin='0', aria-valuemax='100')
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-danger(role='progressbar', style='width: 67%', aria-valuenow='67', aria-valuemin='0', aria-valuemax='100')
                .c-progress-group.c-mb-4
                  .c-progress-group-prepend
                    span.c-progress-group-text
                      | Thursday
                  .c-progress-group-bars
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-info(role='progressbar', style='width: 43%', aria-valuenow='43', aria-valuemin='0', aria-valuemax='100')
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-danger(role='progressbar', style='width: 91%', aria-valuenow='91', aria-valuemin='0', aria-valuemax='100')
                .c-progress-group.c-mb-4
                  .c-progress-group-prepend
                    span.c-progress-group-text
                      | Friday
                  .c-progress-group-bars
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-info(role='progressbar', style='width: 22%', aria-valuenow='22', aria-valuemin='0', aria-valuemax='100')
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-danger(role='progressbar', style='width: 73%', aria-valuenow='73', aria-valuemin='0', aria-valuemax='100')
                .c-progress-group.c-mb-4
                  .c-progress-group-prepend
                    span.c-progress-group-text
                      | Saturday
                  .c-progress-group-bars
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-info(role='progressbar', style='width: 53%', aria-valuenow='53', aria-valuemin='0', aria-valuemax='100')
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-danger(role='progressbar', style='width: 82%', aria-valuenow='82', aria-valuemin='0', aria-valuemax='100')
                .c-progress-group.c-mb-4
                  .c-progress-group-prepend
                    span.c-progress-group-text
                      | Sunday
                  .c-progress-group-bars
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-info(role='progressbar', style='width: 9%', aria-valuenow='9', aria-valuemin='0', aria-valuemax='100')
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-danger(role='progressbar', style='width: 69%', aria-valuenow='69', aria-valuemin='0', aria-valuemax='100')
              // /.c-col
              .c-col-sm-6
                .c-row
                  .c-col-sm-6
                    .c-callout.c-callout-warning
                      small.c-text-muted Pageviews
                      br
                      strong.c-h4 78,623
                      .c-chart-wrapper
                        canvas#sparkline-chart-3(width='100', height='30')
                  // /.c-col
                  .c-col-sm-6
                    .c-callout.c-callout-success
                      small.c-text-muted Organic
                      br
                      strong.c-h4 49,123
                      .c-chart-wrapper
                        canvas#sparkline-chart-4(width='100', height='30')
                  // /.c-col
                // /.c-row
                hr.c-mt-0
                .c-progress-group
                  .c-progress-group-header
                    i.icon-user.c-progress-group-icon
                    div Male
                    .c-ml-auto.c-font-weight-bold 43%
                  .c-progress-group-bars
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-warning(role='progressbar', style='width: 43%', aria-valuenow='43', aria-valuemin='0', aria-valuemax='100')
                .c-progress-group.c-mb-5
                  .c-progress-group-header
                    i.icon-user-female.c-progress-group-icon
                    div Female
                    .c-ml-auto.c-font-weight-bold 37%
                  .c-progress-group-bars
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-warning(role='progressbar', style='width: 43%', aria-valuenow='43', aria-valuemin='0', aria-valuemax='100')
                .c-progress-group
                  .c-progress-group-header.c-align-items-end
                    i.icon-globe.c-progress-group-icon
                    div Organic Search
                    .c-ml-auto.c-font-weight-bold.c-mr-2 191.235
                    .c-text-muted.c-small (56%)
                  .c-progress-group-bars
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-success(role='progressbar', style='width: 56%', aria-valuenow='56', aria-valuemin='0', aria-valuemax='100')
                .c-progress-group
                  .c-progress-group-header.c-align-items-end
                    i.icon-social-facebook.c-progress-group-icon
                    div Facebook
                    .c-ml-auto.c-font-weight-bold.c-mr-2 51.223
                    .c-text-muted.c-small (15%)
                  .c-progress-group-bars
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-success(role='progressbar', style='width: 15%', aria-valuenow='15', aria-valuemin='0', aria-valuemax='100')
                .c-progress-group
                  .c-progress-group-header.c-align-items-end
                    i.icon-social-twitter.c-progress-group-icon
                    div Twitter
                    .c-ml-auto.c-font-weight-bold.c-mr-2 37.564
                    .c-text-muted.c-small (11%)
                  .c-progress-group-bars
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-success(role='progressbar', style='width: 11%', aria-valuenow='11', aria-valuemin='0', aria-valuemax='100')
                .c-progress-group
                  .c-progress-group-header.c-align-items-end
                    i.icon-social-linkedin.c-progress-group-icon
                    div LinkedIn
                    .c-ml-auto.c-font-weight-bold.c-mr-2 27.319
                    .c-text-muted.c-small (8%)
                  .c-progress-group-bars
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-success(role='progressbar', style='width: 8%', aria-valuenow='8', aria-valuemin='0', aria-valuemax='100')
              // /.c-col
            // /.c-row
            br
            table.c-table.c-table-responsive-sm.c-table-hover.c-table-outline.c-mb-0
              thead.c-thead-light
                tr
                  th.c-text-center
                    i.icon-people
                  th User
                  th.c-text-center Country
                  th Usage
                  th.c-text-center Payment Method
                  th Activity
              tbody
                tr
                  td.c-text-center
                    .c-avatar
                      img.c-img-avatar(src='img/avatars/1.jpg', alt='admin@bootstrapmaster.com')
                      span.c-avatar-status.c-badge-success
                  td
                    div Yiorgos Avraamu
                    .c-small.c-text-muted
                      span New
                      |  | Registered: Jan 1, 2015
                  td.c-text-center
                    i#us.flag-icon.flag-icon-us.c-h4.c-mb-0(title='us')
                  td
                    .clearfix
                      .c-float-left
                        strong 50%
                      .c-float-right
                        small.c-text-muted Jun 11, 2015 - Jul 10, 2015
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-success(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
                  td.c-text-center
                    i.fa.fa-cc-mastercard(style='font-size:24px')
                  td
                    .c-small.c-text-muted Last login
                    strong 10 sec ago
                tr
                  td.c-text-center
                    .c-avatar
                      img.c-img-avatar(src='img/avatars/2.jpg', alt='admin@bootstrapmaster.com')
                      span.c-avatar-status.c-badge-danger
                  td
                    div Avram Tarasios
                    .c-small.c-text-muted
                      span Recurring
                      |  | Registered: Jan 1, 2015
                  td.c-text-center
                    i#br.flag-icon.flag-icon-br.c-h4.c-mb-0(title='br')
                  td
                    .clearfix
                      .c-float-left
                        strong 10%
                      .c-float-right
                        small.c-text-muted Jun 11, 2015 - Jul 10, 2015
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-info(role='progressbar', style='width: 10%', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100')
                  td.c-text-center
                    i.fa.fa-cc-visa(style='font-size:24px')
                  td
                    .c-small.c-text-muted Last login
                    strong 5 minutes ago
                tr
                  td.c-text-center
                    .c-avatar
                      img.c-img-avatar(src='img/avatars/3.jpg', alt='admin@bootstrapmaster.com')
                      span.c-avatar-status.c-badge-warning
                  td
                    div Quintin Ed
                    .c-small.c-text-muted
                      span New
                      |  | Registered: Jan 1, 2015
                  td.c-text-center
                    i#in.flag-icon.flag-icon-in.c-h4.c-mb-0(title='in')
                  td
                    .clearfix
                      .c-float-left
                        strong 74%
                      .c-float-right
                        small.c-text-muted Jun 11, 2015 - Jul 10, 2015
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-warning(role='progressbar', style='width: 74%', aria-valuenow='74', aria-valuemin='0', aria-valuemax='100')
                  td.c-text-center
                    i.fa.fa-cc-stripe(style='font-size:24px')
                  td
                    .c-small.c-text-muted Last login
                    strong 1 hour ago
                tr
                  td.c-text-center
                    .c-avatar
                      img.c-img-avatar(src='img/avatars/4.jpg', alt='admin@bootstrapmaster.com')
                      span.c-avatar-status.c-badge-secondary
                  td
                    div Enéas Kwadwo
                    .c-small.c-text-muted
                      span New
                      |  | Registered: Jan 1, 2015
                  td.c-text-center
                    i#fr.flag-icon.flag-icon-fr.c-h4.c-mb-0(title='fr')
                  td
                    .clearfix
                      .c-float-left
                        strong 98%
                      .c-float-right
                        small.c-text-muted Jun 11, 2015 - Jul 10, 2015
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-danger(role='progressbar', style='width: 98%', aria-valuenow='98', aria-valuemin='0', aria-valuemax='100')
                  td.c-text-center
                    i.fa.fa-paypal(style='font-size:24px')
                  td
                    .c-small.c-text-muted Last login
                    strong Last month
                tr
                  td.c-text-center
                    .c-avatar
                      img.c-img-avatar(src='img/avatars/5.jpg', alt='admin@bootstrapmaster.com')
                      span.c-avatar-status.c-badge-success
                  td
                    div Agapetus Tadeáš
                    .c-small.c-text-muted
                      span New
                      |  | Registered: Jan 1, 2015
                  td.c-text-center
                    i#es.flag-icon.flag-icon-es.c-h4.c-mb-0(title='es')
                  td
                    .clearfix
                      .c-float-left
                        strong 22%
                      .c-float-right
                        small.c-text-muted Jun 11, 2015 - Jul 10, 2015
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-info(role='progressbar', style='width: 22%', aria-valuenow='22', aria-valuemin='0', aria-valuemax='100')
                  td.c-text-center
                    i.fa.fa-google-wallet(style='font-size:24px')
                  td
                    .c-small.c-text-muted Last login
                    strong Last week
                tr
                  td.c-text-center
                    .c-avatar
                      img.c-img-avatar(src='img/avatars/6.jpg', alt='admin@bootstrapmaster.com')
                      span.c-avatar-status.c-badge-danger
                  td
                    div Friderik Dávid
                    .c-small.c-text-muted
                      span New
                      |  | Registered: Jan 1, 2015
                  td.c-text-center
                    i#pl.flag-icon.flag-icon-pl.c-h4.c-mb-0(title='pl')
                  td
                    .clearfix
                      .c-float-left
                        strong 43%
                      .c-float-right
                        small.c-text-muted Jun 11, 2015 - Jul 10, 2015
                    .c-progress.c-progress-xs
                      .c-progress-bar.c-bg-success(role='progressbar', style='width: 43%', aria-valuenow='43', aria-valuemin='0', aria-valuemax='100')
                  td.c-text-center
                    i.fa.fa-cc-amex(style='font-size:24px')
                  td
                    .c-small.c-text-muted Last login
                    strong Yesterday
      // /.c-col
    // /.c-row
