extends /default.pug

block scripts
  script(src='node_modules/chart.js/dist/Chart.min.js')
  script(src='node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js')
  script(src='js/widgets.js')

block view
  .animated.c-fade-in
    .c-row
      .c-col-sm-6.c-col-lg-3
        .c-card.c-text-white.c-bg-primary
          .c-card-body.c-pb-0
            .c-btn-group.c-float-right
              button.c-btn.c-btn-transparent.c-dropdown-toggle.c-p-0(type='button', data-toggle='c-dropdown', aria-haspopup='true', aria-expanded='false')
                i.icon-settings
              .c-dropdown-menu.c-dropdown-menu-right
                a.c-dropdown-item(href='#') Action
                a.c-dropdown-item(href='#') Another action
                a.c-dropdown-item(href='#') Something else here
            .c-text-value 9.823
            div Members online
          .c-chart-wrapper.c-mt-3.c-mx-3(style='height:70px;')
            canvas#card-chart1.chart(height='70')
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-card.c-text-white.c-bg-info
          .c-card-body.c-pb-0
            button.c-btn.c-btn-transparent.c-p-0.c-float-right(type='button')
              i.icon-location-pin
            .c-text-value 9.823
            div Members online
          .c-chart-wrapper.c-mt-3.c-mx-3(style='height:70px;')
            canvas#card-chart2.chart(height='70')
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-card.c-text-white.c-bg-warning
          .c-card-body.c-pb-0
            .c-btn-group.c-float-right
              button.c-btn.c-btn-transparent.c-dropdown-toggle.c-p-0(type='button', data-toggle='c-dropdown', aria-haspopup='true', aria-expanded='false')
                i.icon-settings
              .c-dropdown-menu.c-dropdown-menu-right
                a.c-dropdown-item(href='#') Action
                a.c-dropdown-item(href='#') Another action
                a.c-dropdown-item(href='#') Something else here
            .c-text-value 9.823
            div Members online
          .c-chart-wrapper.c-mt-3(style='height:70px;')
            canvas#card-chart3.chart(height='70')
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-card.c-text-white.c-bg-danger
          .c-card-body.c-pb-0
            .c-btn-group.c-float-right
              button.c-btn.c-btn-transparent.c-dropdown-toggle.c-p-0(type='button', data-toggle='c-dropdown', aria-haspopup='true', aria-expanded='false')
                i.icon-settings
              .c-dropdown-menu.c-dropdown-menu-right
                a.c-dropdown-item(href='#') Action
                a.c-dropdown-item(href='#') Another action
                a.c-dropdown-item(href='#') Something else here
            .c-text-value 9.823
            div Members online
          .c-chart-wrapper.c-mt-3.c-mx-3(style='height:70px;')
            canvas#card-chart4.chart(height='70')
      // /.c-col
    // /.c-row
    .c-row
      .c-col-sm-6.c-col-lg-3
        .c-card
          .c-card-body
            .c-text-value 89.9%
            div Lorem ipsum...
            .c-progress.c-progress-xs.c-my-2
              .c-progress-bar.c-bg-success(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
            small.c-text-muted Lorem ipsum dolor sit amet enim.
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-card
          .c-card-body
            .c-text-value 12.124
            div Lorem ipsum...
            .c-progress.c-progress-xs.c-my-2
              .c-progress-bar.c-bg-info(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
            small.c-text-muted Lorem ipsum dolor sit amet enim.
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-card
          .c-card-body
            .c-text-value $98.111,00
            div Lorem ipsum...
            .c-progress.c-progress-xs.c-my-2
              .c-progress-bar.c-bg-warning(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
            small.c-text-muted Lorem ipsum dolor sit amet enim.
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-card
          .c-card-body
            .c-text-value 2 TB
            div Lorem ipsum...
            .c-progress.c-progress-xs.c-my-2
              .c-progress-bar.c-bg-danger(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
            small.c-text-muted Lorem ipsum dolor sit amet enim.
      // /.c-col
    // /.c-row
    .c-row
      .c-col-sm-6.c-col-lg-3
        .c-card.c-text-white.c-bg-primary
          .c-card-body
            .c-text-value 89.9%
            div Lorem ipsum...
            .c-progress.c-progress-white.c-progress-xs.c-my-2
              .c-progress-bar(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
            small.c-text-muted Lorem ipsum dolor sit amet enim.
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-card.c-text-white.c-bg-warning
          .c-card-body
            .c-text-value 12.124
            div Lorem ipsum...
            .c-progress.c-progress-white.c-progress-xs.c-my-2
              .c-progress-bar(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
            small.c-text-muted Lorem ipsum dolor sit amet enim.
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-card.c-text-white.c-bg-danger
          .c-card-body
            .c-text-value $98.111,00
            div Lorem ipsum...
            .c-progress.c-progress-white.c-progress-xs.c-my-2
              .c-progress-bar(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
            small.c-text-muted Lorem ipsum dolor sit amet enim.
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-card.c-text-white.c-bg-info
          .c-card-body
            .c-text-value 2 TB
            div Lorem ipsum...
            .c-progress.c-progress-white.c-progress-xs.c-my-2
              .c-progress-bar(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
            small.c-text-muted Lorem ipsum dolor sit amet enim.
      // /.c-col
    // /.c-row
    .c-row
      .c-col-md-2.c-col-sm-4
        .c-card
          .c-card-body.c-text-center
            .c-text-muted.c-small.c-text-uppercase.c-font-weight-bold Title
            .c-text-value-lg.c-py-3 1,123
            .c-chart-wrapper.c-mx-auto(style='height:40px;width:80px')
              canvas#sparkline-chart-1.chart.chart-bar(height='40', width='80')
      // /.c-col
      .c-col-md-2.c-col-sm-4
        .c-card
          .c-card-body.c-text-center
            .c-text-muted.c-small.c-text-uppercase.c-font-weight-bold Title
            .c-text-value-lg.c-py-3 1,123
            .c-chart-wrapper.c-mx-auto(style='height:40px;width:80px')
              canvas#sparkline-chart-2.chart.chart-bar(height='40', width='80')
      // /.c-col
      .c-col-md-2.c-col-sm-4
        .c-card
          .c-card-body.c-text-center
            .c-text-muted.c-small.c-text-uppercase.c-font-weight-bold Title
            .c-text-value-lg.c-py-3 1,123
            .c-chart-wrapper.c-mx-auto(style='height:40px;width:80px')
              canvas#sparkline-chart-3.chart.chart-bar(height='40', width='80')
      // /.c-col
      .c-col-md-2.c-col-sm-4
        .c-card
          .c-card-body.c-text-center
            .c-text-muted.c-small.c-text-uppercase.c-font-weight-bold Title
            .c-text-value-lg.c-py-3 1,123
            .c-chart-wrapper.c-mx-auto(style='height:40px;width:80px')
              canvas#sparkline-chart-4.chart.chart-line(height='40', width='100')
      // /.c-col
      .c-col-md-2.c-col-sm-4
        .c-card
          .c-card-body.c-text-center
            .c-text-muted.c-small.c-text-uppercase.c-font-weight-bold Title
            .c-text-value-lg.c-py-3 1,123
            .c-chart-wrapper.c-mx-auto(style='height:40px;width:80px')
              canvas#sparkline-chart-5.chart.chart-line(height='40', width='100')
      // /.c-col
      .c-col-md-2.c-col-sm-4
        .c-card
          .c-card-body.c-text-center
            .c-text-muted.c-small.c-text-uppercase.c-font-weight-bold Title
            .c-text-value-lg.c-py-3 1,123
            .c-chart-wrapper.c-mx-auto(style='height:40px;width:80px')
              canvas#sparkline-chart-6.chart.chart-line(height='40', width='100')
      // /.c-col
    // /.c-row
    .c-row
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-3.c-d-flex.c-align-items-center
            i.fa.fa-cogs.c-bg-primary.c-p-3.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-primary $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-3.c-d-flex.c-align-items-center
            i.fa.fa-laptop.c-bg-info.c-p-3.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-info $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-3.c-d-flex.c-align-items-center
            i.fa.fa-moon-o.c-bg-warning.c-p-3.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-warning $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-3.c-d-flex.c-align-items-center
            i.fa.fa-bell.c-bg-danger.c-p-3.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-danger $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-3.c-d-flex.c-align-items-center
            i.fa.fa-cogs.c-bg-primary.c-p-3.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-primary $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
          .c-card-footer.c-px-3.c-py-2
            a.c-btn-block.c-text-muted.c-d-flex.c-justify-content-between.c-align-items-center(href='#')
              span.c-small.c-font-weight-bold View More
              i.fa.fa-angle-right
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-3.c-d-flex.c-align-items-center
            i.fa.fa-laptop.c-bg-info.c-p-3.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-info $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
          .c-card-footer.c-px-3.c-py-2
            a.c-btn-block.c-text-muted.c-d-flex.c-justify-content-between.c-align-items-center(href='#')
              span.c-small.c-font-weight-bold View More
              i.fa.fa-angle-right
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-3.c-d-flex.c-align-items-center
            i.fa.fa-moon-o.c-bg-warning.c-p-3.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-warning $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
          .c-card-footer.c-px-3.c-py-2
            a.c-btn-block.c-text-muted.c-d-flex.c-justify-content-between.c-align-items-center(href='#')
              span.c-small.c-font-weight-bold View More
              i.fa.fa-angle-right
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-3.c-d-flex.c-align-items-center
            i.fa.fa-bell.c-bg-danger.c-p-3.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-danger $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
          .c-card-footer.c-px-3.c-py-2
            a.c-btn-block.c-text-muted.c-d-flex.c-justify-content-between.c-align-items-center(href='#')
              span.c-small.c-font-weight-bold View More
              i.fa.fa-angle-right
      // /.c-col
    // /.c-row
    .c-row
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-0.c-d-flex.c-align-items-center
            i.fa.fa-cogs.c-bg-primary.c-p-4.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-primary $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-0.c-d-flex.c-align-items-center
            i.fa.fa-laptop.c-bg-info.c-p-4.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-info $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-0.c-d-flex.c-align-items-center
            i.fa.fa-moon-o.c-bg-warning.c-p-4.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-warning $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-0.c-d-flex.c-align-items-center
            i.fa.fa-bell.c-bg-danger.c-p-4.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-danger $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-0.c-d-flex.c-align-items-center
            i.fa.fa-cogs.c-bg-primary.c-p-4.c-px-5.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-primary $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-0.c-d-flex.c-align-items-center
            i.fa.fa-laptop.c-bg-info.c-p-4.c-px-5.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-info $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-0.c-d-flex.c-align-items-center
            i.fa.fa-moon-o.c-bg-warning.c-p-4.c-px-5.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-warning $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
      // /.c-col
      .c-col-6.c-col-lg-3
        .c-card
          .c-card-body.c-p-0.c-d-flex.c-align-items-center
            i.fa.fa-bell.c-bg-danger.c-p-4.c-px-5.c-font-2xl.c-mr-3
            div
              .c-text-value-sm.c-text-danger $1.999,50
              .c-text-muted.c-text-uppercase.c-font-weight-bold.c-small Income
      // /.c-col
    // /.c-row
    .c-row
      .c-col-sm-6.c-col-lg-3
        .c-brand-card
          .c-brand-card-header.c-bg-facebook
            i.fa.fa-facebook
            .c-chart-wrapper
              canvas#social-box-chart-1(height='90')
          .c-brand-card-body
            div
              .c-text-value 89k
              .c-text-uppercase.c-text-muted.c-small friends
            div
              .c-text-value 459
              .c-text-uppercase.c-text-muted.c-small feeds
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-brand-card
          .c-brand-card-header.c-bg-twitter
            i.fa.fa-twitter
            .c-chart-wrapper
              canvas#social-box-chart-2(height='90')
          .c-brand-card-body
            div
              .c-text-value 973k
              .c-text-uppercase.c-text-muted.c-small followers
            div
              .c-text-value 1.792
              .c-text-uppercase.c-text-muted.c-small tweets
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-brand-card
          .c-brand-card-header.c-bg-linkedin
            i.fa.fa-linkedin
            .c-chart-wrapper
              canvas#social-box-chart-3(height='90')
          .c-brand-card-body
            div
              .c-text-value 500+
              .c-text-uppercase.c-text-muted.c-small contacts
            div
              .c-text-value 292
              .c-text-uppercase.c-text-muted.c-small feeds
      // /.c-col
      .c-col-sm-6.c-col-lg-3
        .c-brand-card
          .c-brand-card-header.c-bg-google-plus
            i.fa.fa-google-plus
            .c-chart-wrapper
              canvas#social-box-chart-4(height='90')
          .c-brand-card-body
            div
              .c-text-value 894
              .c-text-uppercase.c-text-muted.c-small followers
            div
              .c-text-value 92
              .c-text-uppercase.c-text-muted.c-small circles
      // /.c-col
    // /.c-row
    .c-card-group.c-mb-4
      .c-card
        .c-card-body
          .c-h1.c-text-muted.c-text-right.c-mb-4
            i.icon-people
          .c-text-value 87.500
          small.c-text-muted.c-text-uppercase.c-font-weight-bold Visitors
          .c-progress.c-progress-xs.c-mt-3.c-mb-0
            .c-progress-bar.c-bg-info(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      .c-card
        .c-card-body
          .c-h1.c-text-muted.c-text-right.c-mb-4
            i.icon-user-follow
          .c-text-value 385
          small.c-text-muted.c-text-uppercase.c-font-weight-bold New Clients
          .c-progress.c-progress-xs.c-mt-3.c-mb-0
            .c-progress-bar.c-bg-success(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      .c-card
        .c-card-body
          .c-h1.c-text-muted.c-text-right.c-mb-4
            i.icon-basket-loaded
          .c-text-value 1238
          small.c-text-muted.c-text-uppercase.c-font-weight-bold Products sold
          .c-progress.c-progress-xs.c-mt-3.c-mb-0
            .c-progress-bar.c-bg-warning(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      .c-card
        .c-card-body
          .c-h1.c-text-muted.c-text-right.c-mb-4
            i.icon-pie-chart
          .c-text-value 28%
          small.c-text-muted.c-text-uppercase.c-font-weight-bold Returning Visitors
          .c-progress.c-progress-xs.c-mt-3.c-mb-0
            .c-progress-bar(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      .c-card
        .c-card-body
          .c-h1.c-text-muted.c-text-right.c-mb-4
            i.icon-speedometer
          .c-text-value 5:34:11
          small.c-text-muted.c-text-uppercase.c-font-weight-bold Avg. Time
          .c-progress.c-progress-xs.c-mt-3.c-mb-0
            .c-progress-bar.c-bg-danger(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
    .c-row
      .c-col-sm-6.c-col-md-2
        .c-card
          .c-card-body
            .c-h1.c-text-muted.c-text-right.c-mb-4
              i.icon-people
            .c-text-value 87.500
            small.c-text-muted.c-text-uppercase.c-font-weight-bold Visitors
            .c-progress.c-progress-xs.c-mt-3.c-mb-0
              .c-progress-bar.c-bg-info(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      // /.c-col
      .c-col-sm-6.c-col-md-2
        .c-card
          .c-card-body
            .c-h1.c-text-muted.c-text-right.c-mb-4
              i.icon-user-follow
            .c-text-value 385
            small.c-text-muted.c-text-uppercase.c-font-weight-bold New Clients
            .c-progress.c-progress-xs.c-mt-3.c-mb-0
              .c-progress-bar.c-bg-success(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      // /.c-col
      .c-col-sm-6.c-col-md-2
        .c-card
          .c-card-body
            .c-h1.c-text-muted.c-text-right.c-mb-4
              i.icon-basket-loaded
            .c-text-value 1238
            small.c-text-muted.c-text-uppercase.c-font-weight-bold Products sold
            .c-progress.c-progress-xs.c-mt-3.c-mb-0
              .c-progress-bar.c-bg-warning(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      // /.c-col
      .c-col-sm-6.c-col-md-2
        .c-card
          .c-card-body
            .c-h1.c-text-muted.c-text-right.c-mb-4
              i.icon-pie-chart
            .c-text-value 28%
            small.c-text-muted.c-text-uppercase.c-font-weight-bold Returning Visitors
            .c-progress.c-progress-xs.c-mt-3.c-mb-0
              .c-progress-bar(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      // /.c-col
      .c-col-sm-6.c-col-md-2
        .c-card
          .c-card-body
            .c-h1.c-text-muted.c-text-right.c-mb-4
              i.icon-speedometer
            .c-text-value 5:34:11
            small.c-text-muted.c-text-uppercase.c-font-weight-bold Avg. Time
            .c-progress.c-progress-xs.c-mt-3.c-mb-0
              .c-progress-bar.c-bg-danger(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      // /.c-col
      .c-col-sm-6.c-col-md-2
        .c-card
          .c-card-body
            .c-h1.c-text-muted.c-text-right.c-mb-4
              i.icon-speech
            .c-text-value 972
            small.c-text-muted.c-text-uppercase.c-font-weight-bold Comments
            .c-progress.c-progress-xs.c-mt-3.c-mb-0
              .c-progress-bar.c-bg-info(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      // /.c-col
    // /.c-row
    .c-row
      .c-col-sm-6.c-col-md-2
        .c-card.c-text-white.c-bg-info
          .c-card-body
            .c-h1.c-text-muted.c-text-right.c-mb-4
              i.icon-people
            .c-text-value 87.500
            small.c-text-muted.c-text-uppercase.c-font-weight-bold Visitors
            .c-progress.c-progress-white.c-progress-xs.c-mt-3
              .c-progress-bar(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      // /.c-col
      .c-col-sm-6.c-col-md-2
        .c-card.c-text-white.c-bg-success
          .c-card-body
            .c-h1.c-text-muted.c-text-right.c-mb-4
              i.icon-user-follow
            .c-text-value 385
            small.c-text-muted.c-text-uppercase.c-font-weight-bold New Clients
            .c-progress.c-progress-white.c-progress-xs.c-mt-3
              .c-progress-bar(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      // /.c-col
      .c-col-sm-6.c-col-md-2
        .c-card.c-text-white.c-bg-warning
          .c-card-body
            .c-h1.c-text-muted.c-text-right.c-mb-4
              i.icon-basket-loaded
            .c-text-value 1238
            small.c-text-muted.c-text-uppercase.c-font-weight-bold Products sold
            .c-progress.c-progress-white.c-progress-xs.c-mt-3
              .c-progress-bar(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      // /.c-col
      .c-col-sm-6.c-col-md-2
        .c-card.c-text-white.c-bg-primary
          .c-card-body
            .c-h1.c-text-muted.c-text-right.c-mb-4
              i.icon-pie-chart
            .c-text-value 28%
            small.c-text-muted.c-text-uppercase.c-font-weight-bold Returning Visitors
            .c-progress.c-progress-white.c-progress-xs.c-mt-3
              .c-progress-bar(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      // /.c-col
      .c-col-sm-6.c-col-md-2
        .c-card.c-text-white.c-bg-danger
          .c-card-body
            .c-h1.c-text-muted.c-text-right.c-mb-4
              i.icon-speedometer
            .c-text-value 5:34:11
            small.c-text-muted.c-text-uppercase.c-font-weight-bold Avg. Time
            .c-progress.c-progress-white.c-progress-xs.c-mt-3
              .c-progress-bar(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      // /.c-col
      .c-col-sm-6.c-col-md-2
        .c-card.c-text-white.c-bg-info
          .c-card-body
            .c-h1.c-text-muted.c-text-right.c-mb-4
              i.icon-speech
            .c-text-value 972
            small.c-text-muted.c-text-uppercase.c-font-weight-bold Comments
            .c-progress.c-progress-white.c-progress-xs.c-mt-3
              .c-progress-bar(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
      // /.c-col
    // /.c-row
