<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.login"><i class="icon-user"></i> Login </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.register"><i class="icon-user-follow"></i> Register </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.404"><i class="icon-exclamation"></i> 404 Error </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.500"><i class="icon-exclamation"></i> 500 Error </a>
            </li>
        </ul>
    </nav>
</div>
