<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <strong>Social Media Button</strong>
          <small>Usage ex.</small>
          <code style="text-transform:lowercase">&lt;button class="btn btn-facebook" type="button"&gt;&lt;span&gt;Facebook&lt;/span&gt;&lt;/button&gt;</code>
          <div class="card-actions">
            <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
            <button class="btn btn-minimize" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="true" aria-controls="collapseExample1">
              <i class="icon-arrow-up"></i>
            </button>
            <a href="#" class="btn-close"><i class="icon-close"></i></a>
          </div>
        </div>
        <div class="card-body collapse show" id="collapseExample1">
          <h6>Size Small
            <small>Add this class
              <code>.btn-sm</code>
            </small>
          </h6>
          <p>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-facebook" type="button">
              <span>Facebook</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-twitter" type="button">
              <span>Twitter</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-linkedin" type="button">
              <span>LinkedIn</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-flickr" type="button">
              <span>Flickr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-tumblr" type="button">
              <span>Tumblr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-xing" type="button">
              <span>Xing</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-github" type="button">
              <span>Github</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-html5" type="button">
              <span>HTML5</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-openid" type="button">
              <span>OpenID</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-stack-overflow" type="button">
              <span>StackOverflow</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-css3" type="button">
              <span>CSS3</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-youtube" type="button">
              <span>YouTube</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-dribbble" type="button">
              <span>Dribbble</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-google-plus" type="button">
              <span>Google+</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-instagram" type="button">
              <span>Instagram</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-pinterest" type="button">
              <span>Pinterest</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-vk" type="button">
              <span>VK</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-yahoo" type="button">
              <span>Yahoo</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-behance" type="button">
              <span>Behance</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-dropbox" type="button">
              <span>Dropbox</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-reddit" type="button">
              <span>Reddit</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-spotify" type="button">
              <span>Spotify</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-vine" type="button">
              <span>Vine</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-foursquare" type="button">
              <span>Forsquare</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-vimeo" type="button">
              <span>Vimeo</span>
            </button>
          </p>
          <h6>Size Normal</h6>
          <p>
            <button style="margin-bottom: 4px" class="btn btn-facebook" type="button">
              <span>Facebook</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-twitter" type="button">
              <span>Twitter</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-linkedin" type="button">
              <span>LinkedIn</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-flickr" type="button">
              <span>Flickr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-tumblr" type="button">
              <span>Tumblr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-xing" type="button">
              <span>Xing</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-github" type="button">
              <span>Github</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-html5" type="button">
              <span>HTML5</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-openid" type="button">
              <span>OpenID</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-stack-overflow" type="button">
              <span>StackOverflow</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-css3" type="button">
              <span>CSS3</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-youtube" type="button">
              <span>YouTube</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-dribbble" type="button">
              <span>Dribbble</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-google-plus" type="button">
              <span>Google+</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-instagram" type="button">
              <span>Instagram</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-pinterest" type="button">
              <span>Pinterest</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-vk" type="button">
              <span>VK</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-yahoo" type="button">
              <span>Yahoo</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-behance" type="button">
              <span>Behance</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-dropbox" type="button">
              <span>Dropbox</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-reddit" type="button">
              <span>Reddit</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-spotify" type="button">
              <span>Spotify</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-vine" type="button">
              <span>Vine</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-foursquare" type="button">
              <span>Forsquare</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-vimeo" type="button">
              <span>Vimeo</span>
            </button>
          </p>
          <h6>Size Large
            <small>Add this class
              <code>.btn-lg</code>
            </small>
          </h6>
          <p>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-facebook" type="button">
              <span>Facebook</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-twitter" type="button">
              <span>Twitter</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-linkedin" type="button">
              <span>LinkedIn</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-flickr" type="button">
              <span>Flickr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-tumblr" type="button">
              <span>Tumblr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-xing" type="button">
              <span>Xing</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-github" type="button">
              <span>Github</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-html5" type="button">
              <span>HTML5</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-openid" type="button">
              <span>OpenID</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-stack-overflow" type="button">
              <span>StackOverflow</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-css3" type="button">
              <span>CSS3</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-youtube" type="button">
              <span>YouTube</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-dribbble" type="button">
              <span>Dribbble</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-google-plus" type="button">
              <span>Google+</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-instagram" type="button">
              <span>Instagram</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-pinterest" type="button">
              <span>Pinterest</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-vk" type="button">
              <span>VK</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-yahoo" type="button">
              <span>Yahoo</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-behance" type="button">
              <span>Behance</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-dropbox" type="button">
              <span>Dropbox</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-reddit" type="button">
              <span>Reddit</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-spotify" type="button">
              <span>Spotify</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-vine" type="button">
              <span>Vine</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-foursquare" type="button">
              <span>Forsquare</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-vimeo" type="button">
              <span>Vimeo</span>
            </button>
          </p>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <strong>Social Media Button</strong>
          <small>Only icons. Usage ex.</small>
          <code style="text-transform:lowercase">&lt;button class="btn btn-facebook icon" type="button"&gt;&lt;span&gt;Facebook&lt;/span&gt;&lt;/button&gt;</code>
          <div class="card-actions">
            <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
            <button class="btn btn-minimize" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
              <i class="icon-arrow-up"></i>
            </button>
            <a href="#" class="btn-close"><i class="icon-close"></i></a>
          </div>
        </div>
        <div class="card-body collapse show" id="collapseExample2">
          <h6>Size Small
            <small>Add this class
              <code>.btn-sm</code>
            </small>
          </h6>
          <p>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-facebook icon" type="button">
              <span>Facebook</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-twitter icon" type="button">
              <span>Twitter</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-linkedin icon" type="button">
              <span>LinkedIn</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-flickr icon" type="button">
              <span>Flickr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-tumblr icon" type="button">
              <span>Tumblr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-xing icon" type="button">
              <span>Xing</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-github icon" type="button">
              <span>Github</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-html5 icon" type="button">
              <span>HTML5</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-openid icon" type="button">
              <span>OpenID</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-stack-overflow icon" type="button">
              <span>StackOverflow</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-css3 icon" type="button">
              <span>CSS3</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-youtube icon" type="button">
              <span>YouTube</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-dribbble icon" type="button">
              <span>Dribbble</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-google-plus icon" type="button">
              <span>Google+</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-instagram icon" type="button">
              <span>Instagram</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-pinterest icon" type="button">
              <span>Pinterest</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-vk icon" type="button">
              <span>VK</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-yahoo icon" type="button">
              <span>Yahoo</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-behance icon" type="button">
              <span>Behance</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-dropbox icon" type="button">
              <span>Dropbox</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-reddit icon" type="button">
              <span>Reddit</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-spotify icon" type="button">
              <span>Spotify</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-vine icon" type="button">
              <span>Vine</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-foursquare icon" type="button">
              <span>Forsquare</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-vimeo icon" type="button">
              <span>Vimeo</span>
            </button>
          </p>
          <h6>Size Normal</h6>
          <p>
            <button style="margin-bottom: 4px" class="btn btn-facebook icon" type="button">
              <span>Facebook</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-twitter icon" type="button">
              <span>Twitter</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-linkedin icon" type="button">
              <span>LinkedIn</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-flickr icon" type="button">
              <span>Flickr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-tumblr icon" type="button">
              <span>Tumblr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-xing icon" type="button">
              <span>Xing</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-github icon" type="button">
              <span>Github</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-html5 icon" type="button">
              <span>HTML5</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-openid icon" type="button">
              <span>OpenID</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-stack-overflow icon" type="button">
              <span>StackOverflow</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-css3 icon" type="button">
              <span>CSS3</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-youtube icon" type="button">
              <span>YouTube</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-dribbble icon" type="button">
              <span>Dribbble</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-google-plus icon" type="button">
              <span>Google+</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-instagram icon" type="button">
              <span>Instagram</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-pinterest icon" type="button">
              <span>Pinterest</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-vk icon" type="button">
              <span>VK</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-yahoo icon" type="button">
              <span>Yahoo</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-behance icon" type="button">
              <span>Behance</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-dropbox icon" type="button">
              <span>Dropbox</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-reddit icon" type="button">
              <span>Reddit</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-spotify icon" type="button">
              <span>Spotify</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-vine icon" type="button">
              <span>Vine</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-foursquare icon" type="button">
              <span>Forsquare</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-vimeo icon" type="button">
              <span>Vimeo</span>
            </button>
          </p>
          <h6>Size Large
            <small>Add this class
              <code>.btn-lg</code>
            </small>
          </h6>
          <p>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-facebook icon" type="button">
              <span>Facebook</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-twitter icon" type="button">
              <span>Twitter</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-linkedin icon" type="button">
              <span>LinkedIn</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-flickr icon" type="button">
              <span>Flickr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-tumblr icon" type="button">
              <span>Tumblr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-xing icon" type="button">
              <span>Xing</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-github icon" type="button">
              <span>Github</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-html5 icon" type="button">
              <span>HTML5</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-openid icon" type="button">
              <span>OpenID</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-stack-overflow icon" type="button">
              <span>StackOverflow</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-css3 icon" type="button">
              <span>CSS3</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-youtube icon" type="button">
              <span>YouTube</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-dribbble icon" type="button">
              <span>Dribbble</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-google-plus icon" type="button">
              <span>Google+</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-instagram icon" type="button">
              <span>Instagram</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-pinterest icon" type="button">
              <span>Pinterest</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-vk icon" type="button">
              <span>VK</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-yahoo icon" type="button">
              <span>Yahoo</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-behance icon" type="button">
              <span>Behance</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-dropbox icon" type="button">
              <span>Dropbox</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-reddit icon" type="button">
              <span>Reddit</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-spotify icon" type="button">
              <span>Spotify</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-vine icon" type="button">
              <span>Vine</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-foursquare icon" type="button">
              <span>Forsquare</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-vimeo icon" type="button">
              <span>Vimeo</span>
            </button>
          </p>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <strong>Social Media Button</strong>
          <small>Only text. Usage ex.</small>
          <code style="text-transform:lowercase">&lt;button class="btn btn-facebook text" type="button"&gt;&lt;span&gt;Facebook&lt;/span&gt;&lt;/button&gt;</code>
          <div class="card-actions">
            <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
            <button class="btn btn-minimize" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
              <i class="icon-arrow-up"></i>
            </button>
            <a href="#" class="btn-close"><i class="icon-close"></i></a>
          </div>
        </div>
        <div class="card-body collapse show" id="collapseExample3">
          <h6>Size Small
            <small>Add this class
              <code>.btn-sm</code>
            </small>
          </h6>
          <p>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-facebook text" type="button">
              <span>Facebook</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-twitter text" type="button">
              <span>Twitter</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-linkedin text" type="button">
              <span>LinkedIn</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-flickr text" type="button">
              <span>Flickr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-tumblr text" type="button">
              <span>Tumblr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-xing text" type="button">
              <span>Xing</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-github text" type="button">
              <span>Github</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-html5 text" type="button">
              <span>HTML5</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-openid text" type="button">
              <span>OpenID</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-stack-overflow text" type="button">
              <span>StackOverflow</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-css3 text" type="button">
              <span>CSS3</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-youtube text" type="button">
              <span>YouTube</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-dribbble text" type="button">
              <span>Dribbble</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-google-plus text" type="button">
              <span>Google+</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-instagram text" type="button">
              <span>Instagram</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-pinterest text" type="button">
              <span>Pinterest</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-vk text" type="button">
              <span>VK</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-yahoo text" type="button">
              <span>Yahoo</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-behance text" type="button">
              <span>Behance</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-dropbox text" type="button">
              <span>Dropbox</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-reddit text" type="button">
              <span>Reddit</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-spotify text" type="button">
              <span>Spotify</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-vine text" type="button">
              <span>Vine</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-foursquare text" type="button">
              <span>Forsquare</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-sm btn-vimeo text" type="button">
              <span>Vimeo</span>
            </button>
          </p>
          <h6>Size Normal</h6>
          <p>
            <button style="margin-bottom: 4px" class="btn btn-facebook text" type="button">
              <span>Facebook</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-twitter text" type="button">
              <span>Twitter</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-linkedin text" type="button">
              <span>LinkedIn</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-flickr text" type="button">
              <span>Flickr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-tumblr text" type="button">
              <span>Tumblr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-xing text" type="button">
              <span>Xing</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-github text" type="button">
              <span>Github</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-html5 text" type="button">
              <span>HTML5</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-openid text" type="button">
              <span>OpenID</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-stack-overflow text" type="button">
              <span>StackOverflow</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-css3 text" type="button">
              <span>CSS3</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-youtube text" type="button">
              <span>YouTube</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-dribbble text" type="button">
              <span>Dribbble</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-google-plus text" type="button">
              <span>Google+</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-instagram text" type="button">
              <span>Instagram</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-pinterest text" type="button">
              <span>Pinterest</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-vk text" type="button">
              <span>VK</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-yahoo text" type="button">
              <span>Yahoo</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-behance text" type="button">
              <span>Behance</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-dropbox text" type="button">
              <span>Dropbox</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-reddit text" type="button">
              <span>Reddit</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-spotify text" type="button">
              <span>Spotify</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-vine text" type="button">
              <span>Vine</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-foursquare text" type="button">
              <span>Forsquare</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-vimeo text" type="button">
              <span>Vimeo</span>
            </button>
          </p>
          <h6>Size Large
            <small>Add this class
              <code>.btn-lg</code>
            </small>
          </h6>
          <p>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-facebook text" type="button">
              <span>Facebook</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-twitter text" type="button">
              <span>Twitter</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-linkedin text" type="button">
              <span>LinkedIn</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-flickr text" type="button">
              <span>Flickr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-tumblr text" type="button">
              <span>Tumblr</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-xing text" type="button">
              <span>Xing</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-github text" type="button">
              <span>Github</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-html5 text" type="button">
              <span>HTML5</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-openid text" type="button">
              <span>OpenID</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-stack-overflow text" type="button">
              <span>StackOverflow</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-css3 text" type="button">
              <span>CSS3</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-youtube text" type="button">
              <span>YouTube</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-dribbble text" type="button">
              <span>Dribbble</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-google-plus text" type="button">
              <span>Google+</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-instagram text" type="button">
              <span>Instagram</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-pinterest text" type="button">
              <span>Pinterest</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-vk text" type="button">
              <span>VK</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-yahoo text" type="button">
              <span>Yahoo</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-behance text" type="button">
              <span>Behance</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-dropbox text" type="button">
              <span>Dropbox</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-reddit text" type="button">
              <span>Reddit</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-spotify text" type="button">
              <span>Spotify</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-vine text" type="button">
              <span>Vine</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-foursquare text" type="button">
              <span>Forsquare</span>
            </button>
            <button style="margin-bottom: 4px" class="btn btn-lg btn-vimeo text" type="button">
              <span>Vimeo</span>
            </button>
          </p>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>