extends /_layout/default.pug

block view
  .row
    .col-lg-6
      .card.mb-4
        .card-header
          |  Bootstrap Badges
          .float-end
            a(href='http://coreui.io/docs/components/badge/', target='_blank')
              | docs
        .card-body
          h1
            | Example heading
            span.badge.bg-secondary New
          h2
            | Example heading
            span.badge.bg-secondary New
          h3
            | Example heading
            span.badge.bg-secondary New
          h4
            | Example heading
            span.badge.bg-secondary New
          h5
            | Example heading
            span.badge.bg-secondary New
          h6
            | Example heading
            span.badge.bg-secondary New
        .card-footer
          button.btn.btn-primary(type='link')
            | Notifications
            span.badge.bg-light.bg-pill(style='position: static;') 9
    .col-lg-6
      .card.mb-4
        .card-header
          |  Bootstrap Badges
          span.small.ms-1 contextual variations
        .card-body
          span.badge.bg-primary Primary
          span.badge.bg-secondary Secondary
          span.badge.bg-success Success
          span.badge.bg-danger Danger
          span.badge.bg-warning Warning
          span.badge.bg-info Info
          span.badge.bg-light Light
          span.badge.bg-dark Dark
      .card.mb-4
        .card-header
          |  Bootstrap Badges
          span.small.ms-1 pill badges
        .card-body
          span.badge.bg-pill.bg-primary Primary
          span.badge.bg-pill.bg-secondary Secondary
          span.badge.bg-pill.bg-success Success
          span.badge.bg-pill.bg-danger Danger
          span.badge.bg-pill.bg-warning Warning
          span.badge.bg-pill.bg-info Info
          span.badge.bg-pill.bg-light Light
          span.badge.bg-pill.bg-dark Dark
      .card.mb-4
        .card-header
          |  Bootstrap Badges
          span.small.ms-1 links
        .card-body
          a.badge.bg-primary(href='#') Primary
          a.badge.bg-secondary(href='#') Secondary
          a.badge.bg-success(href='#') Success
          a.badge.bg-danger(href='#') Danger
          a.badge.bg-warning(href='#') Warning
          a.badge.bg-info(href='#') Info
          a.badge.bg-light(href='#') Light
          a.badge.bg-dark(href='#') Dark
  // /.row
