extends /_layout/default.pug

block view
  .animated.c-fadeIn
    .c-row
      .c-col-lg-12
        .c-card
          .c-card-header
            i.fa.fa-align-justify
            |  Bootstrap Modals
          .c-card-body
            // Button trigger modal
            button.c-btn.c-btn-secondary.c-mb-1(type='button', data-toggle='c-modal', data-target='#myModal')
              | Launch demo modal
            button.c-btn.c-btn-secondary.c-mb-1(type='button', data-toggle='c-modal', data-target='#largeModal')
              | Launch large modal
            button.c-btn.c-btn-secondary.c-mb-1(type='button', data-toggle='c-modal', data-target='#smallModal')
              | Launch small modal
            hr
            button.c-btn.c-btn-primary.c-mb-1(type='button', data-toggle='c-modal', data-target='#primaryModal')
              | Primary modal
            button.c-btn.c-btn-success.c-mb-1(type='button', data-toggle='c-modal', data-target='#successModal')
              | Success modal
            button.c-btn.c-btn-warning.c-mb-1(type='button', data-toggle='c-modal', data-target='#warningModal')
              | Warning modal
            button.c-btn.c-btn-danger.c-mb-1(type='button', data-toggle='c-modal', data-target='#dangerModal')
              | Danger modal
            button.c-btn.c-btn-info.c-mb-1(type='button', data-toggle='c-modal', data-target='#infoModal')
              | Info modal
      // /.c-col
    // /.c-row
  #myModal.c-modal.c-fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .c-modal-dialog(role='document')
      .c-modal-content
        .c-modal-header
          h4.c-modal-title Modal title
          button.c-close(type='button', data-dismiss='c-modal', aria-label='Close')
            span(aria-hidden='true') ×
        .c-modal-body
          p One fine body…
        .c-modal-footer
          button.c-btn.c-btn-secondary(type='button', data-dismiss='c-modal') Close
          button.c-btn.c-btn-primary(type='button') Save changes
      // /.c-modal-content
    // /.c-modal-dialog
  // /.c-modal
  #largeModal.c-modal.c-fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .c-modal-dialog.c-modal-lg(role='document')
      .c-modal-content
        .c-modal-header
          h4.c-modal-title Modal title
          button.c-close(type='button', data-dismiss='c-modal', aria-label='Close')
            span(aria-hidden='true') ×
        .c-modal-body
          p One fine body…
        .c-modal-footer
          button.c-btn.c-btn-secondary(type='button', data-dismiss='c-modal') Close
          button.c-btn.c-btn-primary(type='button') Save changes
      // /.c-modal-content
    // /.c-modal-dialog
  // /.c-modal
  #smallModal.c-modal.c-fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .c-modal-dialog.c-modal-sm(role='document')
      .c-modal-content
        .c-modal-header
          h4.c-modal-title Modal title
          button.c-close(type='button', data-dismiss='c-modal', aria-label='Close')
            span(aria-hidden='true') ×
        .c-modal-body
          p One fine body…
        .c-modal-footer
          button.c-btn.c-btn-secondary(type='button', data-dismiss='c-modal') Close
          button.c-btn.c-btn-primary(type='button') Save changes
      // /.c-modal-content
    // /.c-modal-dialog
  // /.c-modal
  #primaryModal.c-modal.c-fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .c-modal-dialog.c-modal-primary(role='document')
      .c-modal-content
        .c-modal-header
          h4.c-modal-title Modal title
          button.c-close(type='button', data-dismiss='c-modal', aria-label='Close')
            span(aria-hidden='true') ×
        .c-modal-body
          p One fine body…
        .c-modal-footer
          button.c-btn.c-btn-secondary(type='button', data-dismiss='c-modal') Close
          button.c-btn.c-btn-primary(type='button') Save changes
      // /.c-modal-content
    // /.c-modal-dialog
  // /.c-modal
  #successModal.c-modal.c-fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .c-modal-dialog.c-modal-success(role='document')
      .c-modal-content
        .c-modal-header
          h4.c-modal-title Modal title
          button.c-close(type='button', data-dismiss='c-modal', aria-label='Close')
            span(aria-hidden='true') ×
        .c-modal-body
          p One fine body…
        .c-modal-footer
          button.c-btn.c-btn-secondary(type='button', data-dismiss='c-modal') Close
          button.c-btn.c-btn-success(type='button') Save changes
      // /.c-modal-content
    // /.c-modal-dialog
  // /.c-modal
  #warningModal.c-modal.c-fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .c-modal-dialog.c-modal-warning(role='document')
      .c-modal-content
        .c-modal-header
          h4.c-modal-title Modal title
          button.c-close(type='button', data-dismiss='c-modal', aria-label='Close')
            span(aria-hidden='true') ×
        .c-modal-body
          p One fine body…
        .c-modal-footer
          button.c-btn.c-btn-secondary(type='button', data-dismiss='c-modal') Close
          button.c-btn.c-btn-warning(type='button') Save changes
      // /.c-modal-content
    // /.c-modal-dialog
  // /.c-modal
  #dangerModal.c-modal.c-fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .c-modal-dialog.c-modal-danger(role='document')
      .c-modal-content
        .c-modal-header
          h4.c-modal-title Modal title
          button.c-close(type='button', data-dismiss='c-modal', aria-label='Close')
            span(aria-hidden='true') ×
        .c-modal-body
          p One fine body…
        .c-modal-footer
          button.c-btn.c-btn-secondary(type='button', data-dismiss='c-modal') Close
          button.c-btn.c-btn-danger(type='button') Save changes
      // /.c-modal-content
    // /.c-modal-dialog
  // /.c-modal
  #infoModal.c-modal.c-fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .c-modal-dialog.c-modal-info(role='document')
      .c-modal-content
        .c-modal-header
          h4.c-modal-title Modal title
          button.c-close(type='button', data-dismiss='c-modal', aria-label='Close')
            span(aria-hidden='true') ×
        .c-modal-body
          p One fine body…
        .c-modal-footer
          button.c-btn.c-btn-secondary(type='button', data-dismiss='c-modal') Close
          button.c-btn.c-btn-info(type='button') Save changes
      // /.c-modal-content
    // /.c-modal-dialog
  // /.c-modal
