extends ../_layout/pages.pug

block view
  .container
    .row.justify-content-center
      .col-md-6
        .clearfix
          h1.float-start.display-3.me-4 500
          h4.pt-3 Houston, we have a problem!
          p.text-medium-emphasis The page you are looking for is temporarily unavailable.
        .input-group
          span.input-group-text
            svg.icon
              use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-magnifying-glass")
              |
          input#prependedInput.form-control(size='16', type='text', placeholder='What are you looking for?')
          button.btn.btn-info(type='button') Search
