extends ../_layout/default.pug

block view
  .card.mb-3
    .card-header
      strong Documentation
    .card-body
      p
        | CoreUI Free Bootstrap Admin Template is built on top of 
        a(href='https://coreui.io/bootstrap/ui-components/') CoreUI UI Components Library
        |, so if you're looking for documentation for a specific component please check this 
        a(href='https://coreui.io/docs/4.0/components/') documentation.
      
      
      h2 Installation
      
      p CoreUI Free Bootstrap Admin Template can be installed in two ways.

      h3 Download

      p
        | Visit our 
        a(href='https://coreui.io/') website
        |  to download the latest version.

      a(href='https://coreui.io/#compare' class='btn btn-primary') Download
      
      h3(class='mt-3') Clone repo

      pre.hljs.language-bash
        code 
          | # clone the repo
          | $ git clone https://github.com/coreui/coreui-free-bootstrap-admin-template.git my-project
          | 
          | # go into app's directory
          | $ cd my-project
          | 
          | # install app's dependencies
          | $ npm install

      h2(class='mt-5') Usage 

      h3#tooling-setup
        | Tooling setup
      p
        | CoreUI Admin Template uses 
        a(href='https://docs.npmjs.com/misc/scripts/') npm scripts
        |  for its build system. Our 
        a(href='https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/v4.0.1/package.json') package.json
        |  includes convenient methods for working with the framework, including compiling code, running tests, and more.
      p
        | To use our build system and run template locally, you’ll need a copy of CoreUI’s source files and Node. Follow these steps and you should be ready to rock:
      ol
        li
          a(href='https://nodejs.org/en/download/') Download and install Node.js
          | , which we use to manage our dependencies.
        li
          | Either 
          a(href='https://github.com/coreui/coreui-free-bootstrap-admin-template/archive/v4.0.1.zip') download CoreUI’s sources
          |  or fork 
          a(href='https://github.com/coreui/coreui-free-bootstrap-admin-template') CoreUI’s repository
          | .
        li
          | Navigate to the root 
          code /coreui-free-bootstrap-admin-template
          |  directory and run 
          code npm install
          |  to install our local dependencies listed in 
          a(href='https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/v4.0.1/package.json') package.json
          | .
      p
        | When completed, you’ll be able to run the various commands provided from the command line.
      h2#using-npm-scripts
        | Using npm scripts
        a.anchorjs-link(aria-label='Anchor' data-anchorjs-icon='#' href='#using-npm-scripts' style='padding-left: 0.375em;')
      p
        | Our 
        a(href='https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/v4.0.1/package.json') package.json
        |  includes numerous tasks for developing the project. Run 
        code npm run
        |  to see all the npm scripts in your terminal. 
        strong Primary tasks include:
      table.table
        thead
          tr
            th Task
            th Description
        tbody
          tr
            td
              code npm start
            td
              | Compiles CSS and JavaScript, and starts a local server.
          tr
            td
              code npm run build
            td
              | Creates the 
              code dist/
              |  directory with compiled files. Requires 
              a(href='https://sass-lang.com/') Sass
              | , 
              a(href='https://github.com/postcss/autoprefixer') Autoprefixer
              | .
          tr
            td
              code npm run serve
            td
              | Start a local server for files in dist folder.

      h2(class='mt-5') Contents 

      p 
        | Within the download you’ll find the following directories and files, logically grouping common assets and providing both compiled and minified variations. You’ll see something like this:
        pre.hljs
          | free-bootstrap-admin-template/
          | ├── build/
          | ├── src/
          | │   ├── assets/
          | │   │   ├── brand/
          | │   │   ├── favicon/
          | │   │   ├── icons/
          | │   │   ├── img/
          | │   ├── js/
          | │   ├── pug/
          | │   │   ├── _layout/
          | │   │   ├── _partial/
          | │   │   ├── base/
          | │   │   ├── buttons/
          | │   │   ├── icons/
          | │   │   ├── notifications/
          | │   │   ├── ...
          | │   │   ├── index.pug
          | │   │   └── ...
          | │   ├── scss/
          | │   ├── vendors/
          | │   └── views/
          | │       ├── base/
          | │       ├── buttons/
          | │       ├── css/
          | │       ├── icons/
          | │       ├── notifications/
          | │       ├── ...
          | │       ├── index.html
          | │       └── ...
          | └── package.json
 
