extends ../_layout/pages.pug

block view
  .container
    .row.justify-content-center
      .col-lg-8
        .card-group.d-block.d-md-flex.row
          .card.col-md-7.p-4.mb-0
            .card-body
              h1 Login
              p.text-body-secondary Sign In to your account
              .input-group.mb-3
                span.input-group-text
                    svg.icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user")
                      |
                input.form-control(type='text', placeholder='Username')
              .input-group.mb-4
                span.input-group-text
                    svg.icon
                      use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-lock-locked")
                      |
                input.form-control(type='password', placeholder='Password')
              .row
                .col-6
                  button.btn.btn-primary.px-4(type='button') Login
                .col-6.text-end
                  button.btn.btn-link.px-0(type='button') Forgot password?
          .card.col-md-5.text-white.bg-primary.py-5
            .card-body.text-center
              div
                h2 Sign up
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                button.btn.btn-lg.btn-outline-light.mt-3(type='button') Register Now!
