extends ../_layout/pages.pug

block view
  .container
    .row.justify-content-center
      .col-md-6
        .card.mb-4.mx-4
          .card-body.p-4
            h1 Register
            p.text-medium-emphasis Create your account
            .input-group.mb-3
              span.input-group-text
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user")
                  |
                  |
              input.form-control(type='text', placeholder='Username')
            .input-group.mb-3
              span.input-group-text
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-envelope-open")
                  |
              input.form-control(type='text', placeholder='Email')
            .input-group.mb-3
              span.input-group-text
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-lock-locked")
                  |
              input.form-control(type='password', placeholder='Password')
            .input-group.mb-4
              span.input-group-text
                svg.icon
                  use(xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-lock-locked")
                  |
              input.form-control(type='password', placeholder='Repeat password')
            button.btn.btn-block.btn-success(type='button') Create Account

