extends /_layout/pages.pug

block view
  .c-container
    .c-row.c-justify-content-center
      .c-col-md-6
        .c-card.c-mx-4
          .c-card-body.c-p-4
            h1 Register
            p.c-text-muted Create your account
            .c-input-group.c-mb-3
              .c-input-group-prepend
                span.c-input-group-text
                  img.c-icon(src="assets/icons/user.svg" width="16" height="16" alt="CoreUI Icons User")
              input.c-form-control(type='text', placeholder='Username')
            .c-input-group.c-mb-3
              .c-input-group-prepend
                span.c-input-group-text
                  span.c-icon @
              input.c-form-control(type='text', placeholder='Email')
            .c-input-group.c-mb-3
              .c-input-group-prepend
                span.c-input-group-text
                  img.c-icon(src="assets/icons/lock-locked.svg" width="16" height="16" alt="CoreUI Icons Lock Locked")
              input.c-form-control(type='password', placeholder='Password')
            .c-input-group.c-mb-4
              .c-input-group-prepend
                span.c-input-group-text
                  img.c-icon(src="assets/icons/lock-locked.svg" width="16" height="16" alt="CoreUI Icons Lock Locked")
              input.c-form-control(type='password', placeholder='Repeat password')
            button.c-btn.c-btn-block.c-btn-success(type='button') Create Account
          .c-card-footer.c-p-4
            .c-row
              .c-col-6
                button.c-btn.c-btn-block.c-btn-facebook(type='button')
                  span facebook
              .c-col-6
                button.c-btn.c-btn-block.c-btn-twitter(type='button')
                  span twitter
