<script>
  loadCSS("vendors/css/codemirror.min.css");
  var requireJS = [
    "vendors/js/codemirror.min.js",
    "vendors/js/xml.min.js"
  ];
  loadJS(requireJS, "js/views/code-editor.js");
</script>

<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Code Editor - CodeMirror
      <div class="card-actions">
        <a href="http://codemirror.net" target="_blank">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <!-- Create code editor container -->
    <textarea id="codemirror">
  <!DOCTYPE html>
  <html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="img/favicon.png">

    <title></title>

    <!-- Icons -->
    <link href="vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendors/css/simple-line-icons.min.css" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="css/style.css" rel="stylesheet">

  </head>


<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
  <header class="app-header navbar">
    ...
  </header>
  <div class="app-body">
    <div class="sidebar">
      ...
    </div>
    <!-- Main content -->
    <main class="main">

    </main>
    <aside class="aside-menu">
      ...
    </aside>
  </div>
  <footer class="app-footer">
    ...
  </footer>

  <!-- Bootstrap and necessary plugins -->
  <script src="vendors/js/jquery.min.js"></script>
  <script src="vendors/js/popper.min.js"></script>
  <script src="vendors/js/bootstrap.min.js"></script>
  <script src="vendors/js/pace.min.js"></script>

  <!-- Plugins and scripts required by all views -->
  <script src="vendors/js/Chart.min.js"></script>

  <!-- Main scripts -->
  
  <script src="js/app.js"></script>

</body>
</html>
    </textarea>
  </div>
</div>