// Additional typography
@import "core/typography";

// Animations
@import "core/animate";

// Core files
@import "core/grid";
@import "core/layout";
@import "core/navigation";
@import "core/aside";
@import "core/loading";
@import "core/widgets";
@import "core/footer";
@import "core/buttons";
@import "core/others";
@import "core/breadcrumb-menu";
@import "core/avatars";
@import "core/callout";
@import "core/switches";
@import "core/charts";
@import "core/utilities-border";

// Temporary fixes
@import "core/temp";
