.row.mb-4
  .col-xl-5.col-xxl-4.mb-4.mb-xl-0
    script#_carbonads_js(async='' type='text/javascript' src='//cdn.carbonads.com/carbon.js?serve=CEAICKJY&placement=coreuiio')
  .col-xl-7.col-xxl-8
    a.banner-coreui-pro(href="https://coreui.io/product/bootstrap-dashboard-template/?theme=default")
      svg.banner-coreui-pro-logo.d-xl-none.d-xxl-block(width="100" height="100" alt="CoreUI Logo")
        use(xlink:href="assets/brand/coreui.svg#signet")
      h4.fw-bolder Elevate Your Design with CoreUI PRO!
      p Unlock a world of possibilities: More themes, enhanced components (Date Picker, Multi Select, and more), and priority support.
