//
   * CoreUI - Free Bootstrap Admin Template
   * @version v4.0.1
   * @link https://coreui.io
   * Copyright (c) 2021 creativeLabs Łukasz Holeczek
   * Licensed under MIT (https://coreui.io/license)
= "\n"
