//
   * CoreUI - Free Bootstrap Admin Template
   * @version v4.2.2
   * @link https://coreui.io
   * Copyright (c) 2022 creativeLabs Łukasz Holeczek
   * Licensed under MIT (https://coreui.io/license)
= "\n"
