footer.footer
  div
    a(href='https://coreui.io') CoreUI 
    a(href='https://coreui.io') Bootstrap Admin Template
    |  &copy; 2022 creativeLabs.
  div.ms-auto
    | Powered by&nbsp;
    a(href='https://coreui.io/docs/') CoreUI UI Components
