// CoreUI and necessary plugins
script(src='node_modules/@coreui/coreui/dist/js/coreui.bundle.min.js')
script(src='node_modules/simplebar/dist/simplebar.min.js')

// We use those scripts to show code examples, you should remove them in your application.
script(src='https://cdn.jsdelivr.net/npm/prismjs@1.24.1/prism.js')
script(src='https://cdn.jsdelivr.net/npm/prismjs@1.24.1/plugins/autoloader/prism-autoloader.min.js')
script(src='https://cdn.jsdelivr.net/npm/prismjs@1.24.1/plugins/unescaped-markup/prism-unescaped-markup.min.js')
script(src='https://cdn.jsdelivr.net/npm/prismjs@1.24.1/plugins/normalize-whitespace/prism-normalize-whitespace.js')

block scripts

script 
  block js

