extends /default.pug

block view
  .animated.fadeIn
    .card
      .card-header
        i.fa.fa-font-awesome
        |  Flags
      .card-body
        .row
          .col-12.mb-5
            | For using the flags inline with text add the classes
            code .flag-icon
            |  and
            code .flag-icon-xx
            |  (where xx is the ISO 3166-1-alpha-2 code of a country) to an empty span. If you want to have a squared version flag then add the class flag-icon-squared as well.
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ad.flag-icon.flag-icon-ad.h1(title='ad')
            div flag-icon-ad
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ae.flag-icon.flag-icon-ae.h1(title='ae')
            div flag-icon-ae
          .col-sm-2.col-xs-3.text-center.mb-5
            i#af.flag-icon.flag-icon-af.h1(title='af')
            div flag-icon-af
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ag.flag-icon.flag-icon-ag.h1(title='ag')
            div flag-icon-ag
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ai.flag-icon.flag-icon-ai.h1(title='ai')
            div flag-icon-ai
          .col-sm-2.col-xs-3.text-center.mb-5
            i#al.flag-icon.flag-icon-al.h1(title='al')
            div flag-icon-al
          .col-sm-2.col-xs-3.text-center.mb-5
            i#am.flag-icon.flag-icon-am.h1(title='am')
            div flag-icon-am
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ao.flag-icon.flag-icon-ao.h1(title='ao')
            div flag-icon-ao
          .col-sm-2.col-xs-3.text-center.mb-5
            i#aq.flag-icon.flag-icon-aq.h1(title='aq')
            div flag-icon-aq
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ar.flag-icon.flag-icon-ar.h1(title='ar')
            div flag-icon-ar
          .col-sm-2.col-xs-3.text-center.mb-5
            i#as.flag-icon.flag-icon-as.h1(title='as')
            div flag-icon-as
          .col-sm-2.col-xs-3.text-center.mb-5
            i#at.flag-icon.flag-icon-at.h1(title='at')
            div flag-icon-at
          .col-sm-2.col-xs-3.text-center.mb-5
            i#au.flag-icon.flag-icon-au.h1(title='au')
            div flag-icon-au
          .col-sm-2.col-xs-3.text-center.mb-5
            i#aw.flag-icon.flag-icon-aw.h1(title='aw')
            div flag-icon-aw
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ax.flag-icon.flag-icon-ax.h1(title='ax')
            div flag-icon-ax
          .col-sm-2.col-xs-3.text-center.mb-5
            i#az.flag-icon.flag-icon-az.h1(title='az')
            div flag-icon-az
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ba.flag-icon.flag-icon-ba.h1(title='ba')
            div flag-icon-ba
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bb.flag-icon.flag-icon-bb.h1(title='bb')
            div flag-icon-bb
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bd.flag-icon.flag-icon-bd.h1(title='bd')
            div flag-icon-bd
          .col-sm-2.col-xs-3.text-center.mb-5
            i#be.flag-icon.flag-icon-be.h1(title='be')
            div flag-icon-be
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bf.flag-icon.flag-icon-bf.h1(title='bf')
            div flag-icon-bf
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bg.flag-icon.flag-icon-bg.h1(title='bg')
            div flag-icon-bg
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bh.flag-icon.flag-icon-bh.h1(title='bh')
            div flag-icon-bh
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bi.flag-icon.flag-icon-bi.h1(title='bi')
            div flag-icon-bi
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bj.flag-icon.flag-icon-bj.h1(title='bj')
            div flag-icon-bj
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bl.flag-icon.flag-icon-bl.h1(title='bl')
            div flag-icon-bl
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bm.flag-icon.flag-icon-bm.h1(title='bm')
            div flag-icon-bm
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bn.flag-icon.flag-icon-bn.h1(title='bn')
            div flag-icon-bn
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bo.flag-icon.flag-icon-bo.h1(title='bo')
            div flag-icon-bo
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bq.flag-icon.flag-icon-bq.h1(title='bq')
            div flag-icon-bq
          .col-sm-2.col-xs-3.text-center.mb-5
            i#br.flag-icon.flag-icon-br.h1(title='br')
            div flag-icon-br
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bs.flag-icon.flag-icon-bs.h1(title='bs')
            div flag-icon-bs
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bt.flag-icon.flag-icon-bt.h1(title='bt')
            div flag-icon-bt
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bv.flag-icon.flag-icon-bv.h1(title='bv')
            div flag-icon-bv
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bw.flag-icon.flag-icon-bw.h1(title='bw')
            div flag-icon-bw
          .col-sm-2.col-xs-3.text-center.mb-5
            i#by.flag-icon.flag-icon-by.h1(title='by')
            div flag-icon-by
          .col-sm-2.col-xs-3.text-center.mb-5
            i#bz.flag-icon.flag-icon-bz.h1(title='bz')
            div flag-icon-bz
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ca.flag-icon.flag-icon-ca.h1(title='ca')
            div flag-icon-ca
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cc.flag-icon.flag-icon-cc.h1(title='cc')
            div flag-icon-cc
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cd.flag-icon.flag-icon-cd.h1(title='cd')
            div flag-icon-cd
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cf.flag-icon.flag-icon-cf.h1(title='cf')
            div flag-icon-cf
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cg.flag-icon.flag-icon-cg.h1(title='cg')
            div flag-icon-cg
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ch.flag-icon.flag-icon-ch.h1(title='ch')
            div flag-icon-ch
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ci.flag-icon.flag-icon-ci.h1(title='ci')
            div flag-icon-ci
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ck.flag-icon.flag-icon-ck.h1(title='ck')
            div flag-icon-ck
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cl.flag-icon.flag-icon-cl.h1(title='cl')
            div flag-icon-cl
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cm.flag-icon.flag-icon-cm.h1(title='cm')
            div flag-icon-cm
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cn.flag-icon.flag-icon-cn.h1(title='cn')
            div flag-icon-cn
          .col-sm-2.col-xs-3.text-center.mb-5
            i#co.flag-icon.flag-icon-co.h1(title='co')
            div flag-icon-co
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cr.flag-icon.flag-icon-cr.h1(title='cr')
            div flag-icon-cr
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cu.flag-icon.flag-icon-cu.h1(title='cu')
            div flag-icon-cu
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cv.flag-icon.flag-icon-cv.h1(title='cv')
            div flag-icon-cv
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cw.flag-icon.flag-icon-cw.h1(title='cw')
            div flag-icon-cw
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cx.flag-icon.flag-icon-cx.h1(title='cx')
            div flag-icon-cx
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cy.flag-icon.flag-icon-cy.h1(title='cy')
            div flag-icon-cy
          .col-sm-2.col-xs-3.text-center.mb-5
            i#cz.flag-icon.flag-icon-cz.h1(title='cz')
            div flag-icon-cz
          .col-sm-2.col-xs-3.text-center.mb-5
            i#de.flag-icon.flag-icon-de.h1(title='de')
            div flag-icon-de
          .col-sm-2.col-xs-3.text-center.mb-5
            i#dj.flag-icon.flag-icon-dj.h1(title='dj')
            div flag-icon-dj
          .col-sm-2.col-xs-3.text-center.mb-5
            i#dk.flag-icon.flag-icon-dk.h1(title='dk')
            div flag-icon-dk
          .col-sm-2.col-xs-3.text-center.mb-5
            i#dm.flag-icon.flag-icon-dm.h1(title='dm')
            div flag-icon-dm
          .col-sm-2.col-xs-3.text-center.mb-5
            i#do.flag-icon.flag-icon-do.h1(title='do')
            div flag-icon-do
          .col-sm-2.col-xs-3.text-center.mb-5
            i#dz.flag-icon.flag-icon-dz.h1(title='dz')
            div flag-icon-dz
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ec.flag-icon.flag-icon-ec.h1(title='ec')
            div flag-icon-ec
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ee.flag-icon.flag-icon-ee.h1(title='ee')
            div flag-icon-ee
          .col-sm-2.col-xs-3.text-center.mb-5
            i#eg.flag-icon.flag-icon-eg.h1(title='eg')
            div flag-icon-eg
          .col-sm-2.col-xs-3.text-center.mb-5
            i#eh.flag-icon.flag-icon-eh.h1(title='eh')
            div flag-icon-eh
          .col-sm-2.col-xs-3.text-center.mb-5
            i#er.flag-icon.flag-icon-er.h1(title='er')
            div flag-icon-er
          .col-sm-2.col-xs-3.text-center.mb-5
            i#es.flag-icon.flag-icon-es.h1(title='es')
            div flag-icon-es
          .col-sm-2.col-xs-3.text-center.mb-5
            i#et.flag-icon.flag-icon-et.h1(title='et')
            div flag-icon-et
          .col-sm-2.col-xs-3.text-center.mb-5
            i#fi.flag-icon.flag-icon-fi.h1(title='fi')
            div flag-icon-fi
          .col-sm-2.col-xs-3.text-center.mb-5
            i#fj.flag-icon.flag-icon-fj.h1(title='fj')
            div flag-icon-fj
          .col-sm-2.col-xs-3.text-center.mb-5
            i#fk.flag-icon.flag-icon-fk.h1(title='fk')
            div flag-icon-fk
          .col-sm-2.col-xs-3.text-center.mb-5
            i#fm.flag-icon.flag-icon-fm.h1(title='fm')
            div flag-icon-fm
          .col-sm-2.col-xs-3.text-center.mb-5
            i#fo.flag-icon.flag-icon-fo.h1(title='fo')
            div flag-icon-fo
          .col-sm-2.col-xs-3.text-center.mb-5
            i#fr.flag-icon.flag-icon-fr.h1(title='fr')
            div flag-icon-fr
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ga.flag-icon.flag-icon-ga.h1(title='ga')
            div flag-icon-ga
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gb.flag-icon.flag-icon-gb.h1(title='gb')
            div flag-icon-gb
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gd.flag-icon.flag-icon-gd.h1(title='gd')
            div flag-icon-gd
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ge.flag-icon.flag-icon-ge.h1(title='ge')
            div flag-icon-ge
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gf.flag-icon.flag-icon-gf.h1(title='gf')
            div flag-icon-gf
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gg.flag-icon.flag-icon-gg.h1(title='gg')
            div flag-icon-gg
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gh.flag-icon.flag-icon-gh.h1(title='gh')
            div flag-icon-gh
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gi.flag-icon.flag-icon-gi.h1(title='gi')
            div flag-icon-gi
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gl.flag-icon.flag-icon-gl.h1(title='gl')
            div flag-icon-gl
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gm.flag-icon.flag-icon-gm.h1(title='gm')
            div flag-icon-gm
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gn.flag-icon.flag-icon-gn.h1(title='gn')
            div flag-icon-gn
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gp.flag-icon.flag-icon-gp.h1(title='gp')
            div flag-icon-gp
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gq.flag-icon.flag-icon-gq.h1(title='gq')
            div flag-icon-gq
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gr.flag-icon.flag-icon-gr.h1(title='gr')
            div flag-icon-gr
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gs.flag-icon.flag-icon-gs.h1(title='gs')
            div flag-icon-gs
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gt.flag-icon.flag-icon-gt.h1(title='gt')
            div flag-icon-gt
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gu.flag-icon.flag-icon-gu.h1(title='gu')
            div flag-icon-gu
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gw.flag-icon.flag-icon-gw.h1(title='gw')
            div flag-icon-gw
          .col-sm-2.col-xs-3.text-center.mb-5
            i#gy.flag-icon.flag-icon-gy.h1(title='gy')
            div flag-icon-gy
          .col-sm-2.col-xs-3.text-center.mb-5
            i#hk.flag-icon.flag-icon-hk.h1(title='hk')
            div flag-icon-hk
          .col-sm-2.col-xs-3.text-center.mb-5
            i#hm.flag-icon.flag-icon-hm.h1(title='hm')
            div flag-icon-hm
          .col-sm-2.col-xs-3.text-center.mb-5
            i#hn.flag-icon.flag-icon-hn.h1(title='hn')
            div flag-icon-hn
          .col-sm-2.col-xs-3.text-center.mb-5
            i#hr.flag-icon.flag-icon-hr.h1(title='hr')
            div flag-icon-hr
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ht.flag-icon.flag-icon-ht.h1(title='ht')
            div flag-icon-ht
          .col-sm-2.col-xs-3.text-center.mb-5
            i#hu.flag-icon.flag-icon-hu.h1(title='hu')
            div flag-icon-hu
          .col-sm-2.col-xs-3.text-center.mb-5
            i#id.flag-icon.flag-icon-id.h1(title='id')
            div flag-icon-id
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ie.flag-icon.flag-icon-ie.h1(title='ie')
            div flag-icon-ie
          .col-sm-2.col-xs-3.text-center.mb-5
            i#il.flag-icon.flag-icon-il.h1(title='il')
            div flag-icon-il
          .col-sm-2.col-xs-3.text-center.mb-5
            i#im.flag-icon.flag-icon-im.h1(title='im')
            div flag-icon-im
          .col-sm-2.col-xs-3.text-center.mb-5
            i#in.flag-icon.flag-icon-in.h1(title='in')
            div flag-icon-in
          .col-sm-2.col-xs-3.text-center.mb-5
            i#io.flag-icon.flag-icon-io.h1(title='io')
            div flag-icon-io
          .col-sm-2.col-xs-3.text-center.mb-5
            i#iq.flag-icon.flag-icon-iq.h1(title='iq')
            div flag-icon-iq
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ir.flag-icon.flag-icon-ir.h1(title='ir')
            div flag-icon-ir
          .col-sm-2.col-xs-3.text-center.mb-5
            i#is.flag-icon.flag-icon-is.h1(title='is')
            div flag-icon-is
          .col-sm-2.col-xs-3.text-center.mb-5
            i#it.flag-icon.flag-icon-it.h1(title='it')
            div flag-icon-it
          .col-sm-2.col-xs-3.text-center.mb-5
            i#je.flag-icon.flag-icon-je.h1(title='je')
            div flag-icon-je
          .col-sm-2.col-xs-3.text-center.mb-5
            i#jm.flag-icon.flag-icon-jm.h1(title='jm')
            div flag-icon-jm
          .col-sm-2.col-xs-3.text-center.mb-5
            i#jo.flag-icon.flag-icon-jo.h1(title='jo')
            div flag-icon-jo
          .col-sm-2.col-xs-3.text-center.mb-5
            i#jp.flag-icon.flag-icon-jp.h1(title='jp')
            div flag-icon-jp
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ke.flag-icon.flag-icon-ke.h1(title='ke')
            div flag-icon-ke
          .col-sm-2.col-xs-3.text-center.mb-5
            i#kg.flag-icon.flag-icon-kg.h1(title='kg')
            div flag-icon-kg
          .col-sm-2.col-xs-3.text-center.mb-5
            i#kh.flag-icon.flag-icon-kh.h1(title='kh')
            div flag-icon-kh
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ki.flag-icon.flag-icon-ki.h1(title='ki')
            div flag-icon-ki
          .col-sm-2.col-xs-3.text-center.mb-5
            i#km.flag-icon.flag-icon-km.h1(title='km')
            div flag-icon-km
          .col-sm-2.col-xs-3.text-center.mb-5
            i#kn.flag-icon.flag-icon-kn.h1(title='kn')
            div flag-icon-kn
          .col-sm-2.col-xs-3.text-center.mb-5
            i#kp.flag-icon.flag-icon-kp.h1(title='kp')
            div flag-icon-kp
          .col-sm-2.col-xs-3.text-center.mb-5
            i#kr.flag-icon.flag-icon-kr.h1(title='kr')
            div flag-icon-kr
          .col-sm-2.col-xs-3.text-center.mb-5
            i#kw.flag-icon.flag-icon-kw.h1(title='kw')
            div flag-icon-kw
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ky.flag-icon.flag-icon-ky.h1(title='ky')
            div flag-icon-ky
          .col-sm-2.col-xs-3.text-center.mb-5
            i#kz.flag-icon.flag-icon-kz.h1(title='kz')
            div flag-icon-kz
          .col-sm-2.col-xs-3.text-center.mb-5
            i#la.flag-icon.flag-icon-la.h1(title='la')
            div flag-icon-la
          .col-sm-2.col-xs-3.text-center.mb-5
            i#lb.flag-icon.flag-icon-lb.h1(title='lb')
            div flag-icon-lb
          .col-sm-2.col-xs-3.text-center.mb-5
            i#lc.flag-icon.flag-icon-lc.h1(title='lc')
            div flag-icon-lc
          .col-sm-2.col-xs-3.text-center.mb-5
            i#li.flag-icon.flag-icon-li.h1(title='li')
            div flag-icon-li
          .col-sm-2.col-xs-3.text-center.mb-5
            i#lk.flag-icon.flag-icon-lk.h1(title='lk')
            div flag-icon-lk
          .col-sm-2.col-xs-3.text-center.mb-5
            i#lr.flag-icon.flag-icon-lr.h1(title='lr')
            div flag-icon-lr
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ls.flag-icon.flag-icon-ls.h1(title='ls')
            div flag-icon-ls
          .col-sm-2.col-xs-3.text-center.mb-5
            i#lt.flag-icon.flag-icon-lt.h1(title='lt')
            div flag-icon-lt
          .col-sm-2.col-xs-3.text-center.mb-5
            i#lu.flag-icon.flag-icon-lu.h1(title='lu')
            div flag-icon-lu
          .col-sm-2.col-xs-3.text-center.mb-5
            i#lv.flag-icon.flag-icon-lv.h1(title='lv')
            div flag-icon-lv
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ly.flag-icon.flag-icon-ly.h1(title='ly')
            div flag-icon-ly
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ma.flag-icon.flag-icon-ma.h1(title='ma')
            div flag-icon-ma
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mc.flag-icon.flag-icon-mc.h1(title='mc')
            div flag-icon-mc
          .col-sm-2.col-xs-3.text-center.mb-5
            i#md.flag-icon.flag-icon-md.h1(title='md')
            div flag-icon-md
          .col-sm-2.col-xs-3.text-center.mb-5
            i#me.flag-icon.flag-icon-me.h1(title='me')
            div flag-icon-me
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mf.flag-icon.flag-icon-mf.h1(title='mf')
            div flag-icon-mf
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mg.flag-icon.flag-icon-mg.h1(title='mg')
            div flag-icon-mg
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mh.flag-icon.flag-icon-mh.h1(title='mh')
            div flag-icon-mh
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mk.flag-icon.flag-icon-mk.h1(title='mk')
            div flag-icon-mk
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ml.flag-icon.flag-icon-ml.h1(title='ml')
            div flag-icon-ml
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mm.flag-icon.flag-icon-mm.h1(title='mm')
            div flag-icon-mm
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mn.flag-icon.flag-icon-mn.h1(title='mn')
            div flag-icon-mn
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mo.flag-icon.flag-icon-mo.h1(title='mo')
            div flag-icon-mo
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mp.flag-icon.flag-icon-mp.h1(title='mp')
            div flag-icon-mp
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mq.flag-icon.flag-icon-mq.h1(title='mq')
            div flag-icon-mq
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mr.flag-icon.flag-icon-mr.h1(title='mr')
            div flag-icon-mr
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ms.flag-icon.flag-icon-ms.h1(title='ms')
            div flag-icon-ms
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mt.flag-icon.flag-icon-mt.h1(title='mt')
            div flag-icon-mt
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mu.flag-icon.flag-icon-mu.h1(title='mu')
            div flag-icon-mu
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mv.flag-icon.flag-icon-mv.h1(title='mv')
            div flag-icon-mv
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mw.flag-icon.flag-icon-mw.h1(title='mw')
            div flag-icon-mw
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mx.flag-icon.flag-icon-mx.h1(title='mx')
            div flag-icon-mx
          .col-sm-2.col-xs-3.text-center.mb-5
            i#my.flag-icon.flag-icon-my.h1(title='my')
            div flag-icon-my
          .col-sm-2.col-xs-3.text-center.mb-5
            i#mz.flag-icon.flag-icon-mz.h1(title='mz')
            div flag-icon-mz
          .col-sm-2.col-xs-3.text-center.mb-5
            i#na.flag-icon.flag-icon-na.h1(title='na')
            div flag-icon-na
          .col-sm-2.col-xs-3.text-center.mb-5
            i#nc.flag-icon.flag-icon-nc.h1(title='nc')
            div flag-icon-nc
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ne.flag-icon.flag-icon-ne.h1(title='ne')
            div flag-icon-ne
          .col-sm-2.col-xs-3.text-center.mb-5
            i#nf.flag-icon.flag-icon-nf.h1(title='nf')
            div flag-icon-nf
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ng.flag-icon.flag-icon-ng.h1(title='ng')
            div flag-icon-ng
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ni.flag-icon.flag-icon-ni.h1(title='ni')
            div flag-icon-ni
          .col-sm-2.col-xs-3.text-center.mb-5
            i#nl.flag-icon.flag-icon-nl.h1(title='nl')
            div flag-icon-nl
          .col-sm-2.col-xs-3.text-center.mb-5
            i#no.flag-icon.flag-icon-no.h1(title='no')
            div flag-icon-no
          .col-sm-2.col-xs-3.text-center.mb-5
            i#np.flag-icon.flag-icon-np.h1(title='np')
            div flag-icon-np
          .col-sm-2.col-xs-3.text-center.mb-5
            i#nr.flag-icon.flag-icon-nr.h1(title='nr')
            div flag-icon-nr
          .col-sm-2.col-xs-3.text-center.mb-5
            i#nu.flag-icon.flag-icon-nu.h1(title='nu')
            div flag-icon-nu
          .col-sm-2.col-xs-3.text-center.mb-5
            i#nz.flag-icon.flag-icon-nz.h1(title='nz')
            div flag-icon-nz
          .col-sm-2.col-xs-3.text-center.mb-5
            i#om.flag-icon.flag-icon-om.h1(title='om')
            div flag-icon-om
          .col-sm-2.col-xs-3.text-center.mb-5
            i#pa.flag-icon.flag-icon-pa.h1(title='pa')
            div flag-icon-pa
          .col-sm-2.col-xs-3.text-center.mb-5
            i#pe.flag-icon.flag-icon-pe.h1(title='pe')
            div flag-icon-pe
          .col-sm-2.col-xs-3.text-center.mb-5
            i#pf.flag-icon.flag-icon-pf.h1(title='pf')
            div flag-icon-pf
          .col-sm-2.col-xs-3.text-center.mb-5
            i#pg.flag-icon.flag-icon-pg.h1(title='pg')
            div flag-icon-pg
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ph.flag-icon.flag-icon-ph.h1(title='ph')
            div flag-icon-ph
          .col-sm-2.col-xs-3.text-center.mb-5
            i#pk.flag-icon.flag-icon-pk.h1(title='pk')
            div flag-icon-pk
          .col-sm-2.col-xs-3.text-center.mb-5
            i#pl.flag-icon.flag-icon-pl.h1(title='pl')
            div flag-icon-pl
          .col-sm-2.col-xs-3.text-center.mb-5
            i#pm.flag-icon.flag-icon-pm.h1(title='pm')
            div flag-icon-pm
          .col-sm-2.col-xs-3.text-center.mb-5
            i#pn.flag-icon.flag-icon-pn.h1(title='pn')
            div flag-icon-pn
          .col-sm-2.col-xs-3.text-center.mb-5
            i#pr.flag-icon.flag-icon-pr.h1(title='pr')
            div flag-icon-pr
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ps.flag-icon.flag-icon-ps.h1(title='ps')
            div flag-icon-ps
          .col-sm-2.col-xs-3.text-center.mb-5
            i#pt.flag-icon.flag-icon-pt.h1(title='pt')
            div flag-icon-pt
          .col-sm-2.col-xs-3.text-center.mb-5
            i#pw.flag-icon.flag-icon-pw.h1(title='pw')
            div flag-icon-pw
          .col-sm-2.col-xs-3.text-center.mb-5
            i#py.flag-icon.flag-icon-py.h1(title='py')
            div flag-icon-py
          .col-sm-2.col-xs-3.text-center.mb-5
            i#qa.flag-icon.flag-icon-qa.h1(title='qa')
            div flag-icon-qa
          .col-sm-2.col-xs-3.text-center.mb-5
            i#re.flag-icon.flag-icon-re.h1(title='re')
            div flag-icon-re
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ro.flag-icon.flag-icon-ro.h1(title='ro')
            div flag-icon-ro
          .col-sm-2.col-xs-3.text-center.mb-5
            i#rs.flag-icon.flag-icon-rs.h1(title='rs')
            div flag-icon-rs
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ru.flag-icon.flag-icon-ru.h1(title='ru')
            div flag-icon-ru
          .col-sm-2.col-xs-3.text-center.mb-5
            i#rw.flag-icon.flag-icon-rw.h1(title='rw')
            div flag-icon-rw
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sa.flag-icon.flag-icon-sa.h1(title='sa')
            div flag-icon-sa
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sb.flag-icon.flag-icon-sb.h1(title='sb')
            div flag-icon-sb
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sc.flag-icon.flag-icon-sc.h1(title='sc')
            div flag-icon-sc
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sd.flag-icon.flag-icon-sd.h1(title='sd')
            div flag-icon-sd
          .col-sm-2.col-xs-3.text-center.mb-5
            i#se.flag-icon.flag-icon-se.h1(title='se')
            div flag-icon-se
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sg.flag-icon.flag-icon-sg.h1(title='sg')
            div flag-icon-sg
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sh.flag-icon.flag-icon-sh.h1(title='sh')
            div flag-icon-sh
          .col-sm-2.col-xs-3.text-center.mb-5
            i#si.flag-icon.flag-icon-si.h1(title='si')
            div flag-icon-si
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sj.flag-icon.flag-icon-sj.h1(title='sj')
            div flag-icon-sj
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sk.flag-icon.flag-icon-sk.h1(title='sk')
            div flag-icon-sk
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sl.flag-icon.flag-icon-sl.h1(title='sl')
            div flag-icon-sl
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sm.flag-icon.flag-icon-sm.h1(title='sm')
            div flag-icon-sm
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sn.flag-icon.flag-icon-sn.h1(title='sn')
            div flag-icon-sn
          .col-sm-2.col-xs-3.text-center.mb-5
            i#so.flag-icon.flag-icon-so.h1(title='so')
            div flag-icon-so
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sr.flag-icon.flag-icon-sr.h1(title='sr')
            div flag-icon-sr
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ss.flag-icon.flag-icon-ss.h1(title='ss')
            div flag-icon-ss
          .col-sm-2.col-xs-3.text-center.mb-5
            i#st.flag-icon.flag-icon-st.h1(title='st')
            div flag-icon-st
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sv.flag-icon.flag-icon-sv.h1(title='sv')
            div flag-icon-sv
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sx.flag-icon.flag-icon-sx.h1(title='sx')
            div flag-icon-sx
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sy.flag-icon.flag-icon-sy.h1(title='sy')
            div flag-icon-sy
          .col-sm-2.col-xs-3.text-center.mb-5
            i#sz.flag-icon.flag-icon-sz.h1(title='sz')
            div flag-icon-sz
          .col-sm-2.col-xs-3.text-center.mb-5
            i#tc.flag-icon.flag-icon-tc.h1(title='tc')
            div flag-icon-tc
          .col-sm-2.col-xs-3.text-center.mb-5
            i#td.flag-icon.flag-icon-td.h1(title='td')
            div flag-icon-td
          .col-sm-2.col-xs-3.text-center.mb-5
            i#tf.flag-icon.flag-icon-tf.h1(title='tf')
            div flag-icon-tf
          .col-sm-2.col-xs-3.text-center.mb-5
            i#tg.flag-icon.flag-icon-tg.h1(title='tg')
            div flag-icon-tg
          .col-sm-2.col-xs-3.text-center.mb-5
            i#th.flag-icon.flag-icon-th.h1(title='th')
            div flag-icon-th
          .col-sm-2.col-xs-3.text-center.mb-5
            i#tj.flag-icon.flag-icon-tj.h1(title='tj')
            div flag-icon-tj
          .col-sm-2.col-xs-3.text-center.mb-5
            i#tk.flag-icon.flag-icon-tk.h1(title='tk')
            div flag-icon-tk
          .col-sm-2.col-xs-3.text-center.mb-5
            i#tl.flag-icon.flag-icon-tl.h1(title='tl')
            div flag-icon-tl
          .col-sm-2.col-xs-3.text-center.mb-5
            i#tm.flag-icon.flag-icon-tm.h1(title='tm')
            div flag-icon-tm
          .col-sm-2.col-xs-3.text-center.mb-5
            i#tn.flag-icon.flag-icon-tn.h1(title='tn')
            div flag-icon-tn
          .col-sm-2.col-xs-3.text-center.mb-5
            i#to.flag-icon.flag-icon-to.h1(title='to')
            div flag-icon-to
          .col-sm-2.col-xs-3.text-center.mb-5
            i#tr.flag-icon.flag-icon-tr.h1(title='tr')
            div flag-icon-tr
          .col-sm-2.col-xs-3.text-center.mb-5
            i#tt.flag-icon.flag-icon-tt.h1(title='tt')
            div flag-icon-tt
          .col-sm-2.col-xs-3.text-center.mb-5
            i#tv.flag-icon.flag-icon-tv.h1(title='tv')
            div flag-icon-tv
          .col-sm-2.col-xs-3.text-center.mb-5
            i#tw.flag-icon.flag-icon-tw.h1(title='tw')
            div flag-icon-tw
          .col-sm-2.col-xs-3.text-center.mb-5
            i#tz.flag-icon.flag-icon-tz.h1(title='tz')
            div flag-icon-tz
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ua.flag-icon.flag-icon-ua.h1(title='ua')
            div flag-icon-ua
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ug.flag-icon.flag-icon-ug.h1(title='ug')
            div flag-icon-ug
          .col-sm-2.col-xs-3.text-center.mb-5
            i#um.flag-icon.flag-icon-um.h1(title='um')
            div flag-icon-um
          .col-sm-2.col-xs-3.text-center.mb-5
            i#us.flag-icon.flag-icon-us.h1(title='us')
            div flag-icon-us
          .col-sm-2.col-xs-3.text-center.mb-5
            i#uy.flag-icon.flag-icon-uy.h1(title='uy')
            div flag-icon-uy
          .col-sm-2.col-xs-3.text-center.mb-5
            i#uz.flag-icon.flag-icon-uz.h1(title='uz')
            div flag-icon-uz
          .col-sm-2.col-xs-3.text-center.mb-5
            i#va.flag-icon.flag-icon-va.h1(title='va')
            div flag-icon-va
          .col-sm-2.col-xs-3.text-center.mb-5
            i#vc.flag-icon.flag-icon-vc.h1(title='vc')
            div flag-icon-vc
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ve.flag-icon.flag-icon-ve.h1(title='ve')
            div flag-icon-ve
          .col-sm-2.col-xs-3.text-center.mb-5
            i#vg.flag-icon.flag-icon-vg.h1(title='vg')
            div flag-icon-vg
          .col-sm-2.col-xs-3.text-center.mb-5
            i#vi.flag-icon.flag-icon-vi.h1(title='vi')
            div flag-icon-vi
          .col-sm-2.col-xs-3.text-center.mb-5
            i#vn.flag-icon.flag-icon-vn.h1(title='vn')
            div flag-icon-vn
          .col-sm-2.col-xs-3.text-center.mb-5
            i#vu.flag-icon.flag-icon-vu.h1(title='vu')
            div flag-icon-vu
          .col-sm-2.col-xs-3.text-center.mb-5
            i#wf.flag-icon.flag-icon-wf.h1(title='wf')
            div flag-icon-wf
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ws.flag-icon.flag-icon-ws.h1(title='ws')
            div flag-icon-ws
          .col-sm-2.col-xs-3.text-center.mb-5
            i#ye.flag-icon.flag-icon-ye.h1(title='ye')
            div flag-icon-ye
          .col-sm-2.col-xs-3.text-center.mb-5
            i#yt.flag-icon.flag-icon-yt.h1(title='yt')
            div flag-icon-yt
          .col-sm-2.col-xs-3.text-center.mb-5
            i#za.flag-icon.flag-icon-za.h1(title='za')
            div flag-icon-za
          .col-sm-2.col-xs-3.text-center.mb-5
            i#zm.flag-icon.flag-icon-zm.h1(title='zm')
            div flag-icon-zm
          .col-sm-2.col-xs-3.text-center.mb-5
            i#zw.flag-icon.flag-icon-zw.h1(title='zw')
            div flag-icon-zw
