extends /default.pug

block view
  .animated.c-fade-in
    .c-card.c-card-default
      .c-card-header
        i.fa.fa-picture-o
        |  Simple Line Icons
      .c-card-body
        .c-row.c-text-center
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-user.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-user
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-people.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-people
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-user-female.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-user-female
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-user-follow.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-user-follow
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-user-following.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-user-following
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-user-unfollow.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-user-unfollow
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-login.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-login
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-logout.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-logout
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-emotsmile.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-emotsmile
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-phone.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-phone
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-call-end.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-call-end
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-call-in.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-call-in
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-call-out.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-call-out
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-map.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-map
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-location-pin.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-location-pin
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-direction.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-direction
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-directions.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-directions
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-compass.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-compass
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-layers.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-layers
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-menu.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-menu
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-list.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-list
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-options-vertical.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-options-vertical
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-options.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-options
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-arrow-down.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-arrow-down
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-arrow-left.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-arrow-left
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-arrow-right.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-arrow-right
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-arrow-up.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-arrow-up
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-arrow-up-circle.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-arrow-up-circle
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-arrow-left-circle.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-arrow-left-circle
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-arrow-right-circle.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-arrow-right-circle
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-arrow-down-circle.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-arrow-down-circle
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-check.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-check
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-clock.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-clock
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-plus.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-plus
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-close.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-close
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-trophy.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-trophy
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-screen-smartphone.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-screen-smartphone
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-screen-desktop.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-screen-desktop
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-plane.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-plane
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-notebook.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-notebook
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-mustache.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-mustache
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-mouse.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-mouse
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-magnet.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-magnet
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-energy.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-energy
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-disc.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-disc
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-cursor.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-cursor
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-cursor-move.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-cursor-move
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-crop.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-crop
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-chemistry.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-chemistry
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-speedometer.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-speedometer
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-shield.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-shield
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-screen-tablet.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-screen-tablet
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-magic-wand.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-magic-wand
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-hourglass.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-hourglass
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-graduation.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-graduation
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-ghost.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-ghost
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-game-controller.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-game-controller
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-fire.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-fire
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-eyeglass.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-eyeglass
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-envelope-open.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-envelope-open
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-envelope-letter.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-envelope-letter
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-bell.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-bell
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-badge.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-badge
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-anchor.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-anchor
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-wallet.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-wallet
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-vector.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-vector
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-speech.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-speech
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-puzzle.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-puzzle
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-printer.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-printer
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-present.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-present
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-playlist.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-playlist
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-pin.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-pin
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-picture.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-picture
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-handbag.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-handbag
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-globe-alt.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-globe-alt
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-globe.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-globe
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-folder-alt.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-folder-alt
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-folder.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-folder
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-film.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-film
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-feed.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-feed
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-drop.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-drop
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-drawer.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-drawer
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-docs.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-docs
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-doc.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-doc
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-diamond.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-diamond
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-cup.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-cup
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-calculator.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-calculator
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-bubbles.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-bubbles
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-briefcase.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-briefcase
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-book-open.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-book-open
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-basket-loaded.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-basket-loaded
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-basket.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-basket
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-bag.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-bag
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-action-undo.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-action-undo
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-action-redo.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-action-redo
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-wrench.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-wrench
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-umbrella.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-umbrella
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-trash.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-trash
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-tag.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-tag
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-support.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-support
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-frame.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-frame
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-size-fullscreen.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-size-fullscreen
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-size-actual.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-size-actual
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-shuffle.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-shuffle
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-share-alt.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-share-alt
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-share.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-share
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-rocket.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-rocket
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-question.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-question
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-pie-chart.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-pie-chart
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-pencil.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-pencil
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-note.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-note
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-loop.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-loop
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-home.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-home
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-grid.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-grid
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-graph.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-graph
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-microphone.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-microphone
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-music-tone-alt.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-music-tone-alt
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-music-tone.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-music-tone
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-earphones-alt.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-earphones-alt
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-earphones.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-earphones
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-equalizer.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-equalizer
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-like.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-like
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-dislike.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-dislike
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-control-start.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-control-start
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-control-rewind.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-control-rewind
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-control-play.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-control-play
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-control-pause.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-control-pause
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-control-forward.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-control-forward
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-control-end.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-control-end
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-volume-1.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-volume-1
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-volume-2.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-volume-2
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-volume-off.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-volume-off
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-calendar.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-calendar
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-bulb.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-bulb
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-chart.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-chart
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-ban.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-ban
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-bubble.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-bubble
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-camrecorder.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-camrecorder
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-camera.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-camera
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-cloud-download.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-cloud-download
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-cloud-upload.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-cloud-upload
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-envelope.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-envelope
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-eye.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-eye
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-flag.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-flag
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-heart.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-heart
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-info.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-info
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-key.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-key
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-link.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-link
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-lock.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-lock
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-lock-open.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-lock-open
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-magnifier.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-magnifier
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-magnifier-add.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-magnifier-add
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-magnifier-remove.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-magnifier-remove
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-paper-clip.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-paper-clip
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-paper-plane.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-paper-plane
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-power.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-power
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-refresh.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-refresh
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-reload.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-reload
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-settings.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-settings
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-star.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-star
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-symbol-female.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-symbol-female
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-symbol-male.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-symbol-male
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-target.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-target
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-credit-card.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-credit-card
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-paypal.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-paypal
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-tumblr.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-tumblr
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-twitter.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-twitter
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-facebook.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-facebook
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-instagram.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-instagram
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-linkedin.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-linkedin
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-pinterest.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-pinterest
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-github.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-github
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-gplus.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-gplus
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-reddit.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-reddit
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-skype.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-skype
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-dribbble.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-dribbble
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-behance.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-behance
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-foursqare.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-foursqare
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-soundcloud.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-soundcloud
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-spotify.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-spotify
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-stumbleupon.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-stumbleupon
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-youtube.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-youtube
          .c-col-6.c-col-sm-4.c-col-md-3
            i.icon-social-dropbox.icons.c-font-2xl.c-d-block.c-mt-4
            | icon-social-dropbox
        // /.c-row
