extends /default.pug

block view
  .animated.fadeIn
    .card.card-default
      .card-header
        i.fa.fa-picture-o
        |  Simple Line Icons
      .card-body
        .row.text-center
          .col-6.col-sm-4.col-md-3
            i.icon-user.icons.font-2xl.d-block.mt-4
            | icon-user
          .col-6.col-sm-4.col-md-3
            i.icon-people.icons.font-2xl.d-block.mt-4
            | icon-people
          .col-6.col-sm-4.col-md-3
            i.icon-user-female.icons.font-2xl.d-block.mt-4
            | icon-user-female
          .col-6.col-sm-4.col-md-3
            i.icon-user-follow.icons.font-2xl.d-block.mt-4
            | icon-user-follow
          .col-6.col-sm-4.col-md-3
            i.icon-user-following.icons.font-2xl.d-block.mt-4
            | icon-user-following
          .col-6.col-sm-4.col-md-3
            i.icon-user-unfollow.icons.font-2xl.d-block.mt-4
            | icon-user-unfollow
          .col-6.col-sm-4.col-md-3
            i.icon-login.icons.font-2xl.d-block.mt-4
            | icon-login
          .col-6.col-sm-4.col-md-3
            i.icon-logout.icons.font-2xl.d-block.mt-4
            | icon-logout
          .col-6.col-sm-4.col-md-3
            i.icon-emotsmile.icons.font-2xl.d-block.mt-4
            | icon-emotsmile
          .col-6.col-sm-4.col-md-3
            i.icon-phone.icons.font-2xl.d-block.mt-4
            | icon-phone
          .col-6.col-sm-4.col-md-3
            i.icon-call-end.icons.font-2xl.d-block.mt-4
            | icon-call-end
          .col-6.col-sm-4.col-md-3
            i.icon-call-in.icons.font-2xl.d-block.mt-4
            | icon-call-in
          .col-6.col-sm-4.col-md-3
            i.icon-call-out.icons.font-2xl.d-block.mt-4
            | icon-call-out
          .col-6.col-sm-4.col-md-3
            i.icon-map.icons.font-2xl.d-block.mt-4
            | icon-map
          .col-6.col-sm-4.col-md-3
            i.icon-location-pin.icons.font-2xl.d-block.mt-4
            | icon-location-pin
          .col-6.col-sm-4.col-md-3
            i.icon-direction.icons.font-2xl.d-block.mt-4
            | icon-direction
          .col-6.col-sm-4.col-md-3
            i.icon-directions.icons.font-2xl.d-block.mt-4
            | icon-directions
          .col-6.col-sm-4.col-md-3
            i.icon-compass.icons.font-2xl.d-block.mt-4
            | icon-compass
          .col-6.col-sm-4.col-md-3
            i.icon-layers.icons.font-2xl.d-block.mt-4
            | icon-layers
          .col-6.col-sm-4.col-md-3
            i.icon-menu.icons.font-2xl.d-block.mt-4
            | icon-menu
          .col-6.col-sm-4.col-md-3
            i.icon-list.icons.font-2xl.d-block.mt-4
            | icon-list
          .col-6.col-sm-4.col-md-3
            i.icon-options-vertical.icons.font-2xl.d-block.mt-4
            | icon-options-vertical
          .col-6.col-sm-4.col-md-3
            i.icon-options.icons.font-2xl.d-block.mt-4
            | icon-options
          .col-6.col-sm-4.col-md-3
            i.icon-arrow-down.icons.font-2xl.d-block.mt-4
            | icon-arrow-down
          .col-6.col-sm-4.col-md-3
            i.icon-arrow-left.icons.font-2xl.d-block.mt-4
            | icon-arrow-left
          .col-6.col-sm-4.col-md-3
            i.icon-arrow-right.icons.font-2xl.d-block.mt-4
            | icon-arrow-right
          .col-6.col-sm-4.col-md-3
            i.icon-arrow-up.icons.font-2xl.d-block.mt-4
            | icon-arrow-up
          .col-6.col-sm-4.col-md-3
            i.icon-arrow-up-circle.icons.font-2xl.d-block.mt-4
            | icon-arrow-up-circle
          .col-6.col-sm-4.col-md-3
            i.icon-arrow-left-circle.icons.font-2xl.d-block.mt-4
            | icon-arrow-left-circle
          .col-6.col-sm-4.col-md-3
            i.icon-arrow-right-circle.icons.font-2xl.d-block.mt-4
            | icon-arrow-right-circle
          .col-6.col-sm-4.col-md-3
            i.icon-arrow-down-circle.icons.font-2xl.d-block.mt-4
            | icon-arrow-down-circle
          .col-6.col-sm-4.col-md-3
            i.icon-check.icons.font-2xl.d-block.mt-4
            | icon-check
          .col-6.col-sm-4.col-md-3
            i.icon-clock.icons.font-2xl.d-block.mt-4
            | icon-clock
          .col-6.col-sm-4.col-md-3
            i.icon-plus.icons.font-2xl.d-block.mt-4
            | icon-plus
          .col-6.col-sm-4.col-md-3
            i.icon-close.icons.font-2xl.d-block.mt-4
            | icon-close
          .col-6.col-sm-4.col-md-3
            i.icon-trophy.icons.font-2xl.d-block.mt-4
            | icon-trophy
          .col-6.col-sm-4.col-md-3
            i.icon-screen-smartphone.icons.font-2xl.d-block.mt-4
            | icon-screen-smartphone
          .col-6.col-sm-4.col-md-3
            i.icon-screen-desktop.icons.font-2xl.d-block.mt-4
            | icon-screen-desktop
          .col-6.col-sm-4.col-md-3
            i.icon-plane.icons.font-2xl.d-block.mt-4
            | icon-plane
          .col-6.col-sm-4.col-md-3
            i.icon-notebook.icons.font-2xl.d-block.mt-4
            | icon-notebook
          .col-6.col-sm-4.col-md-3
            i.icon-mustache.icons.font-2xl.d-block.mt-4
            | icon-mustache
          .col-6.col-sm-4.col-md-3
            i.icon-mouse.icons.font-2xl.d-block.mt-4
            | icon-mouse
          .col-6.col-sm-4.col-md-3
            i.icon-magnet.icons.font-2xl.d-block.mt-4
            | icon-magnet
          .col-6.col-sm-4.col-md-3
            i.icon-energy.icons.font-2xl.d-block.mt-4
            | icon-energy
          .col-6.col-sm-4.col-md-3
            i.icon-disc.icons.font-2xl.d-block.mt-4
            | icon-disc
          .col-6.col-sm-4.col-md-3
            i.icon-cursor.icons.font-2xl.d-block.mt-4
            | icon-cursor
          .col-6.col-sm-4.col-md-3
            i.icon-cursor-move.icons.font-2xl.d-block.mt-4
            | icon-cursor-move
          .col-6.col-sm-4.col-md-3
            i.icon-crop.icons.font-2xl.d-block.mt-4
            | icon-crop
          .col-6.col-sm-4.col-md-3
            i.icon-chemistry.icons.font-2xl.d-block.mt-4
            | icon-chemistry
          .col-6.col-sm-4.col-md-3
            i.icon-speedometer.icons.font-2xl.d-block.mt-4
            | icon-speedometer
          .col-6.col-sm-4.col-md-3
            i.icon-shield.icons.font-2xl.d-block.mt-4
            | icon-shield
          .col-6.col-sm-4.col-md-3
            i.icon-screen-tablet.icons.font-2xl.d-block.mt-4
            | icon-screen-tablet
          .col-6.col-sm-4.col-md-3
            i.icon-magic-wand.icons.font-2xl.d-block.mt-4
            | icon-magic-wand
          .col-6.col-sm-4.col-md-3
            i.icon-hourglass.icons.font-2xl.d-block.mt-4
            | icon-hourglass
          .col-6.col-sm-4.col-md-3
            i.icon-graduation.icons.font-2xl.d-block.mt-4
            | icon-graduation
          .col-6.col-sm-4.col-md-3
            i.icon-ghost.icons.font-2xl.d-block.mt-4
            | icon-ghost
          .col-6.col-sm-4.col-md-3
            i.icon-game-controller.icons.font-2xl.d-block.mt-4
            | icon-game-controller
          .col-6.col-sm-4.col-md-3
            i.icon-fire.icons.font-2xl.d-block.mt-4
            | icon-fire
          .col-6.col-sm-4.col-md-3
            i.icon-eyeglass.icons.font-2xl.d-block.mt-4
            | icon-eyeglass
          .col-6.col-sm-4.col-md-3
            i.icon-envelope-open.icons.font-2xl.d-block.mt-4
            | icon-envelope-open
          .col-6.col-sm-4.col-md-3
            i.icon-envelope-letter.icons.font-2xl.d-block.mt-4
            | icon-envelope-letter
          .col-6.col-sm-4.col-md-3
            i.icon-bell.icons.font-2xl.d-block.mt-4
            | icon-bell
          .col-6.col-sm-4.col-md-3
            i.icon-badge.icons.font-2xl.d-block.mt-4
            | icon-badge
          .col-6.col-sm-4.col-md-3
            i.icon-anchor.icons.font-2xl.d-block.mt-4
            | icon-anchor
          .col-6.col-sm-4.col-md-3
            i.icon-wallet.icons.font-2xl.d-block.mt-4
            | icon-wallet
          .col-6.col-sm-4.col-md-3
            i.icon-vector.icons.font-2xl.d-block.mt-4
            | icon-vector
          .col-6.col-sm-4.col-md-3
            i.icon-speech.icons.font-2xl.d-block.mt-4
            | icon-speech
          .col-6.col-sm-4.col-md-3
            i.icon-puzzle.icons.font-2xl.d-block.mt-4
            | icon-puzzle
          .col-6.col-sm-4.col-md-3
            i.icon-printer.icons.font-2xl.d-block.mt-4
            | icon-printer
          .col-6.col-sm-4.col-md-3
            i.icon-present.icons.font-2xl.d-block.mt-4
            | icon-present
          .col-6.col-sm-4.col-md-3
            i.icon-playlist.icons.font-2xl.d-block.mt-4
            | icon-playlist
          .col-6.col-sm-4.col-md-3
            i.icon-pin.icons.font-2xl.d-block.mt-4
            | icon-pin
          .col-6.col-sm-4.col-md-3
            i.icon-picture.icons.font-2xl.d-block.mt-4
            | icon-picture
          .col-6.col-sm-4.col-md-3
            i.icon-handbag.icons.font-2xl.d-block.mt-4
            | icon-handbag
          .col-6.col-sm-4.col-md-3
            i.icon-globe-alt.icons.font-2xl.d-block.mt-4
            | icon-globe-alt
          .col-6.col-sm-4.col-md-3
            i.icon-globe.icons.font-2xl.d-block.mt-4
            | icon-globe
          .col-6.col-sm-4.col-md-3
            i.icon-folder-alt.icons.font-2xl.d-block.mt-4
            | icon-folder-alt
          .col-6.col-sm-4.col-md-3
            i.icon-folder.icons.font-2xl.d-block.mt-4
            | icon-folder
          .col-6.col-sm-4.col-md-3
            i.icon-film.icons.font-2xl.d-block.mt-4
            | icon-film
          .col-6.col-sm-4.col-md-3
            i.icon-feed.icons.font-2xl.d-block.mt-4
            | icon-feed
          .col-6.col-sm-4.col-md-3
            i.icon-drop.icons.font-2xl.d-block.mt-4
            | icon-drop
          .col-6.col-sm-4.col-md-3
            i.icon-drawer.icons.font-2xl.d-block.mt-4
            | icon-drawer
          .col-6.col-sm-4.col-md-3
            i.icon-docs.icons.font-2xl.d-block.mt-4
            | icon-docs
          .col-6.col-sm-4.col-md-3
            i.icon-doc.icons.font-2xl.d-block.mt-4
            | icon-doc
          .col-6.col-sm-4.col-md-3
            i.icon-diamond.icons.font-2xl.d-block.mt-4
            | icon-diamond
          .col-6.col-sm-4.col-md-3
            i.icon-cup.icons.font-2xl.d-block.mt-4
            | icon-cup
          .col-6.col-sm-4.col-md-3
            i.icon-calculator.icons.font-2xl.d-block.mt-4
            | icon-calculator
          .col-6.col-sm-4.col-md-3
            i.icon-bubbles.icons.font-2xl.d-block.mt-4
            | icon-bubbles
          .col-6.col-sm-4.col-md-3
            i.icon-briefcase.icons.font-2xl.d-block.mt-4
            | icon-briefcase
          .col-6.col-sm-4.col-md-3
            i.icon-book-open.icons.font-2xl.d-block.mt-4
            | icon-book-open
          .col-6.col-sm-4.col-md-3
            i.icon-basket-loaded.icons.font-2xl.d-block.mt-4
            | icon-basket-loaded
          .col-6.col-sm-4.col-md-3
            i.icon-basket.icons.font-2xl.d-block.mt-4
            | icon-basket
          .col-6.col-sm-4.col-md-3
            i.icon-bag.icons.font-2xl.d-block.mt-4
            | icon-bag
          .col-6.col-sm-4.col-md-3
            i.icon-action-undo.icons.font-2xl.d-block.mt-4
            | icon-action-undo
          .col-6.col-sm-4.col-md-3
            i.icon-action-redo.icons.font-2xl.d-block.mt-4
            | icon-action-redo
          .col-6.col-sm-4.col-md-3
            i.icon-wrench.icons.font-2xl.d-block.mt-4
            | icon-wrench
          .col-6.col-sm-4.col-md-3
            i.icon-umbrella.icons.font-2xl.d-block.mt-4
            | icon-umbrella
          .col-6.col-sm-4.col-md-3
            i.icon-trash.icons.font-2xl.d-block.mt-4
            | icon-trash
          .col-6.col-sm-4.col-md-3
            i.icon-tag.icons.font-2xl.d-block.mt-4
            | icon-tag
          .col-6.col-sm-4.col-md-3
            i.icon-support.icons.font-2xl.d-block.mt-4
            | icon-support
          .col-6.col-sm-4.col-md-3
            i.icon-frame.icons.font-2xl.d-block.mt-4
            | icon-frame
          .col-6.col-sm-4.col-md-3
            i.icon-size-fullscreen.icons.font-2xl.d-block.mt-4
            | icon-size-fullscreen
          .col-6.col-sm-4.col-md-3
            i.icon-size-actual.icons.font-2xl.d-block.mt-4
            | icon-size-actual
          .col-6.col-sm-4.col-md-3
            i.icon-shuffle.icons.font-2xl.d-block.mt-4
            | icon-shuffle
          .col-6.col-sm-4.col-md-3
            i.icon-share-alt.icons.font-2xl.d-block.mt-4
            | icon-share-alt
          .col-6.col-sm-4.col-md-3
            i.icon-share.icons.font-2xl.d-block.mt-4
            | icon-share
          .col-6.col-sm-4.col-md-3
            i.icon-rocket.icons.font-2xl.d-block.mt-4
            | icon-rocket
          .col-6.col-sm-4.col-md-3
            i.icon-question.icons.font-2xl.d-block.mt-4
            | icon-question
          .col-6.col-sm-4.col-md-3
            i.icon-pie-chart.icons.font-2xl.d-block.mt-4
            | icon-pie-chart
          .col-6.col-sm-4.col-md-3
            i.icon-pencil.icons.font-2xl.d-block.mt-4
            | icon-pencil
          .col-6.col-sm-4.col-md-3
            i.icon-note.icons.font-2xl.d-block.mt-4
            | icon-note
          .col-6.col-sm-4.col-md-3
            i.icon-loop.icons.font-2xl.d-block.mt-4
            | icon-loop
          .col-6.col-sm-4.col-md-3
            i.icon-home.icons.font-2xl.d-block.mt-4
            | icon-home
          .col-6.col-sm-4.col-md-3
            i.icon-grid.icons.font-2xl.d-block.mt-4
            | icon-grid
          .col-6.col-sm-4.col-md-3
            i.icon-graph.icons.font-2xl.d-block.mt-4
            | icon-graph
          .col-6.col-sm-4.col-md-3
            i.icon-microphone.icons.font-2xl.d-block.mt-4
            | icon-microphone
          .col-6.col-sm-4.col-md-3
            i.icon-music-tone-alt.icons.font-2xl.d-block.mt-4
            | icon-music-tone-alt
          .col-6.col-sm-4.col-md-3
            i.icon-music-tone.icons.font-2xl.d-block.mt-4
            | icon-music-tone
          .col-6.col-sm-4.col-md-3
            i.icon-earphones-alt.icons.font-2xl.d-block.mt-4
            | icon-earphones-alt
          .col-6.col-sm-4.col-md-3
            i.icon-earphones.icons.font-2xl.d-block.mt-4
            | icon-earphones
          .col-6.col-sm-4.col-md-3
            i.icon-equalizer.icons.font-2xl.d-block.mt-4
            | icon-equalizer
          .col-6.col-sm-4.col-md-3
            i.icon-like.icons.font-2xl.d-block.mt-4
            | icon-like
          .col-6.col-sm-4.col-md-3
            i.icon-dislike.icons.font-2xl.d-block.mt-4
            | icon-dislike
          .col-6.col-sm-4.col-md-3
            i.icon-control-start.icons.font-2xl.d-block.mt-4
            | icon-control-start
          .col-6.col-sm-4.col-md-3
            i.icon-control-rewind.icons.font-2xl.d-block.mt-4
            | icon-control-rewind
          .col-6.col-sm-4.col-md-3
            i.icon-control-play.icons.font-2xl.d-block.mt-4
            | icon-control-play
          .col-6.col-sm-4.col-md-3
            i.icon-control-pause.icons.font-2xl.d-block.mt-4
            | icon-control-pause
          .col-6.col-sm-4.col-md-3
            i.icon-control-forward.icons.font-2xl.d-block.mt-4
            | icon-control-forward
          .col-6.col-sm-4.col-md-3
            i.icon-control-end.icons.font-2xl.d-block.mt-4
            | icon-control-end
          .col-6.col-sm-4.col-md-3
            i.icon-volume-1.icons.font-2xl.d-block.mt-4
            | icon-volume-1
          .col-6.col-sm-4.col-md-3
            i.icon-volume-2.icons.font-2xl.d-block.mt-4
            | icon-volume-2
          .col-6.col-sm-4.col-md-3
            i.icon-volume-off.icons.font-2xl.d-block.mt-4
            | icon-volume-off
          .col-6.col-sm-4.col-md-3
            i.icon-calendar.icons.font-2xl.d-block.mt-4
            | icon-calendar
          .col-6.col-sm-4.col-md-3
            i.icon-bulb.icons.font-2xl.d-block.mt-4
            | icon-bulb
          .col-6.col-sm-4.col-md-3
            i.icon-chart.icons.font-2xl.d-block.mt-4
            | icon-chart
          .col-6.col-sm-4.col-md-3
            i.icon-ban.icons.font-2xl.d-block.mt-4
            | icon-ban
          .col-6.col-sm-4.col-md-3
            i.icon-bubble.icons.font-2xl.d-block.mt-4
            | icon-bubble
          .col-6.col-sm-4.col-md-3
            i.icon-camrecorder.icons.font-2xl.d-block.mt-4
            | icon-camrecorder
          .col-6.col-sm-4.col-md-3
            i.icon-camera.icons.font-2xl.d-block.mt-4
            | icon-camera
          .col-6.col-sm-4.col-md-3
            i.icon-cloud-download.icons.font-2xl.d-block.mt-4
            | icon-cloud-download
          .col-6.col-sm-4.col-md-3
            i.icon-cloud-upload.icons.font-2xl.d-block.mt-4
            | icon-cloud-upload
          .col-6.col-sm-4.col-md-3
            i.icon-envelope.icons.font-2xl.d-block.mt-4
            | icon-envelope
          .col-6.col-sm-4.col-md-3
            i.icon-eye.icons.font-2xl.d-block.mt-4
            | icon-eye
          .col-6.col-sm-4.col-md-3
            i.icon-flag.icons.font-2xl.d-block.mt-4
            | icon-flag
          .col-6.col-sm-4.col-md-3
            i.icon-heart.icons.font-2xl.d-block.mt-4
            | icon-heart
          .col-6.col-sm-4.col-md-3
            i.icon-info.icons.font-2xl.d-block.mt-4
            | icon-info
          .col-6.col-sm-4.col-md-3
            i.icon-key.icons.font-2xl.d-block.mt-4
            | icon-key
          .col-6.col-sm-4.col-md-3
            i.icon-link.icons.font-2xl.d-block.mt-4
            | icon-link
          .col-6.col-sm-4.col-md-3
            i.icon-lock.icons.font-2xl.d-block.mt-4
            | icon-lock
          .col-6.col-sm-4.col-md-3
            i.icon-lock-open.icons.font-2xl.d-block.mt-4
            | icon-lock-open
          .col-6.col-sm-4.col-md-3
            i.icon-magnifier.icons.font-2xl.d-block.mt-4
            | icon-magnifier
          .col-6.col-sm-4.col-md-3
            i.icon-magnifier-add.icons.font-2xl.d-block.mt-4
            | icon-magnifier-add
          .col-6.col-sm-4.col-md-3
            i.icon-magnifier-remove.icons.font-2xl.d-block.mt-4
            | icon-magnifier-remove
          .col-6.col-sm-4.col-md-3
            i.icon-paper-clip.icons.font-2xl.d-block.mt-4
            | icon-paper-clip
          .col-6.col-sm-4.col-md-3
            i.icon-paper-plane.icons.font-2xl.d-block.mt-4
            | icon-paper-plane
          .col-6.col-sm-4.col-md-3
            i.icon-power.icons.font-2xl.d-block.mt-4
            | icon-power
          .col-6.col-sm-4.col-md-3
            i.icon-refresh.icons.font-2xl.d-block.mt-4
            | icon-refresh
          .col-6.col-sm-4.col-md-3
            i.icon-reload.icons.font-2xl.d-block.mt-4
            | icon-reload
          .col-6.col-sm-4.col-md-3
            i.icon-settings.icons.font-2xl.d-block.mt-4
            | icon-settings
          .col-6.col-sm-4.col-md-3
            i.icon-star.icons.font-2xl.d-block.mt-4
            | icon-star
          .col-6.col-sm-4.col-md-3
            i.icon-symbol-female.icons.font-2xl.d-block.mt-4
            | icon-symbol-female
          .col-6.col-sm-4.col-md-3
            i.icon-symbol-male.icons.font-2xl.d-block.mt-4
            | icon-symbol-male
          .col-6.col-sm-4.col-md-3
            i.icon-target.icons.font-2xl.d-block.mt-4
            | icon-target
          .col-6.col-sm-4.col-md-3
            i.icon-credit-card.icons.font-2xl.d-block.mt-4
            | icon-credit-card
          .col-6.col-sm-4.col-md-3
            i.icon-paypal.icons.font-2xl.d-block.mt-4
            | icon-paypal
          .col-6.col-sm-4.col-md-3
            i.icon-social-tumblr.icons.font-2xl.d-block.mt-4
            | icon-social-tumblr
          .col-6.col-sm-4.col-md-3
            i.icon-social-twitter.icons.font-2xl.d-block.mt-4
            | icon-social-twitter
          .col-6.col-sm-4.col-md-3
            i.icon-social-facebook.icons.font-2xl.d-block.mt-4
            | icon-social-facebook
          .col-6.col-sm-4.col-md-3
            i.icon-social-instagram.icons.font-2xl.d-block.mt-4
            | icon-social-instagram
          .col-6.col-sm-4.col-md-3
            i.icon-social-linkedin.icons.font-2xl.d-block.mt-4
            | icon-social-linkedin
          .col-6.col-sm-4.col-md-3
            i.icon-social-pinterest.icons.font-2xl.d-block.mt-4
            | icon-social-pinterest
          .col-6.col-sm-4.col-md-3
            i.icon-social-github.icons.font-2xl.d-block.mt-4
            | icon-social-github
          .col-6.col-sm-4.col-md-3
            i.icon-social-gplus.icons.font-2xl.d-block.mt-4
            | icon-social-gplus
          .col-6.col-sm-4.col-md-3
            i.icon-social-reddit.icons.font-2xl.d-block.mt-4
            | icon-social-reddit
          .col-6.col-sm-4.col-md-3
            i.icon-social-skype.icons.font-2xl.d-block.mt-4
            | icon-social-skype
          .col-6.col-sm-4.col-md-3
            i.icon-social-dribbble.icons.font-2xl.d-block.mt-4
            | icon-social-dribbble
          .col-6.col-sm-4.col-md-3
            i.icon-social-behance.icons.font-2xl.d-block.mt-4
            | icon-social-behance
          .col-6.col-sm-4.col-md-3
            i.icon-social-foursqare.icons.font-2xl.d-block.mt-4
            | icon-social-foursqare
          .col-6.col-sm-4.col-md-3
            i.icon-social-soundcloud.icons.font-2xl.d-block.mt-4
            | icon-social-soundcloud
          .col-6.col-sm-4.col-md-3
            i.icon-social-spotify.icons.font-2xl.d-block.mt-4
            | icon-social-spotify
          .col-6.col-sm-4.col-md-3
            i.icon-social-stumbleupon.icons.font-2xl.d-block.mt-4
            | icon-social-stumbleupon
          .col-6.col-sm-4.col-md-3
            i.icon-social-youtube.icons.font-2xl.d-block.mt-4
            | icon-social-youtube
          .col-6.col-sm-4.col-md-3
            i.icon-social-dropbox.icons.font-2xl.d-block.mt-4
            | icon-social-dropbox
        // /.row
