extends /default.pug

block view
  .animated.fadeIn
    .row
      .col-lg-12
            h4.mt-3
              span Bootstrap Breadcrumbs
            nav(aria-label='breadcrumb', role='navigation')
              ol.breadcrumb
                li.breadcrumb-item.active(aria-current='page') Home
            nav(aria-label='breadcrumb', role='navigation')
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item.active(aria-current='page') Library
            nav(aria-label='breadcrumb', role='navigation')
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item
                  a(href='#') Library
                li.breadcrumb-item.active(aria-current='page') Data
            nav.breadcrumb
              a.breadcrumb-item(href='#') Home
              a.breadcrumb-item(href='#') Library
              a.breadcrumb-item(href='#') Data
              span.breadcrumb-item.active Bootstrap
    // /.row

    .row
      .col-lg-12
            h4.mt-3
              span Transparent Breadcrumbs
            nav(aria-label='breadcrumb', role='navigation')
              ol.breadcrumb.bg-transparent
                li.breadcrumb-item.active(aria-current='page') Home
            nav(aria-label='breadcrumb', role='navigation')
              ol.breadcrumb.bg-transparent
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item.active(aria-current='page') Library
            nav(aria-label='breadcrumb', role='navigation')
              ol.breadcrumb.bg-transparent
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item
                  a(href='#') Library
                li.breadcrumb-item.active(aria-current='page') Data
            nav.breadcrumb
              a.breadcrumb-item(href='#') Home
              a.breadcrumb-item(href='#') Library
              a.breadcrumb-item(href='#') Data
              span.breadcrumb-item.active Bootstrap
    // /.row

    .row
      .col-lg-12
            h4.mt-3
              span Right-side Breadcrumbs
            nav(aria-label='breadcrumb', role='navigation')
              ol.breadcrumb.justify-content-end
                li.breadcrumb-item.active(aria-current='page') Home
            nav(aria-label='breadcrumb', role='navigation')
              ol.breadcrumb.justify-content-end
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item.active(aria-current='page') Library
            nav(aria-label='breadcrumb', role='navigation')
              ol.breadcrumb.justify-content-end
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item
                  a(href='#') Library
                li.breadcrumb-item.active(aria-current='page') Data
            nav.breadcrumb.justify-content-end
              a.breadcrumb-item(href='#') Home
              a.breadcrumb-item(href='#') Library
              a.breadcrumb-item(href='#') Data
              span.breadcrumb-item.active Bootstrap
    // /.row


    .row
      .col-lg-12
            h4.mt-3
              span Transparent right-side Breadcrumbs
            nav(aria-label='breadcrumb', role='navigation')
              ol.breadcrumb.justify-content-end.bg-transparent
                li.breadcrumb-item.active(aria-current='page') Home
            nav(aria-label='breadcrumb', role='navigation')
              ol.breadcrumb.justify-content-end.bg-transparent
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item.active(aria-current='page') Library
            nav(aria-label='breadcrumb', role='navigation')
              ol.breadcrumb.justify-content-end.bg-transparent
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item
                  a(href='#') Library
                li.breadcrumb-item.active(aria-current='page') Data
            nav.breadcrumb.justify-content-end.bg-transparent
              a.breadcrumb-item(href='#') Home
              a.breadcrumb-item(href='#') Library
              a.breadcrumb-item(href='#') Data
              span.breadcrumb-item.active Bootstrap
    // /.row
