extends /default.pug

block view
  .animated.fadeIn
    .row
      .col-lg-6
        .card
          .card-header
            i.fa.fa-align-justify
            |  Simple Table
          .card-body
            table.table.table-responsive-sm
              thead
                tr
                  th Username
                  th Date registered
                  th Role
                  th Status
              tbody
                tr
                  td Samppa Nori
                  td 2012/01/01
                  td Member
                  td
                    span.badge.badge-success Active
                tr
                  td Estavan Lykos
                  td 2012/02/01
                  td Staff
                  td
                    span.badge.badge-danger Banned
                tr
                  td Chetan Mohamed
                  td 2012/02/01
                  td Admin
                  td
                    span.badge.badge-secondary Inactive
                tr
                  td Derick Maximinus
                  td 2012/03/01
                  td Member
                  td
                    span.badge.badge-warning Pending
                tr
                  td Friderik Dávid
                  td 2012/01/21
                  td Staff
                  td
                    span.badge.badge-success Active
            ul.pagination
              li.page-item
                a.page-link(href='#') Prev
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') 4
              li.page-item
                a.page-link(href='#') Next
      // /.col
      .col-lg-6
        .card
          .card-header
            i.fa.fa-align-justify
            |  Striped Table
          .card-body
            table.table.table-responsive-sm.table-striped
              thead
                tr
                  th Username
                  th Date registered
                  th Role
                  th Status
              tbody
                tr
                  td Yiorgos Avraamu
                  td 2012/01/01
                  td Member
                  td
                    span.badge.badge-success Active
                tr
                  td Avram Tarasios
                  td 2012/02/01
                  td Staff
                  td
                    span.badge.badge-danger Banned
                tr
                  td Quintin Ed
                  td 2012/02/01
                  td Admin
                  td
                    span.badge.badge-secondary Inactive
                tr
                  td Enéas Kwadwo
                  td 2012/03/01
                  td Member
                  td
                    span.badge.badge-warning Pending
                tr
                  td Agapetus Tadeáš
                  td 2012/01/21
                  td Staff
                  td
                    span.badge.badge-success Active
            ul.pagination
              li.page-item
                a.page-link(href='#') Prev
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') 4
              li.page-item
                a.page-link(href='#') Next
      // /.col
    // /.row
    .row
      .col-lg-6
        .card
          .card-header
            i.fa.fa-align-justify
            |  Condensed Table
          .card-body
            table.table.table-responsive-sm.table-sm
              thead
                tr
                  th Username
                  th Date registered
                  th Role
                  th Status
              tbody
                tr
                  td Carwyn Fachtna
                  td 2012/01/01
                  td Member
                  td
                    span.badge.badge-success Active
                tr
                  td Nehemiah Tatius
                  td 2012/02/01
                  td Staff
                  td
                    span.badge.badge-danger Banned
                tr
                  td Ebbe Gemariah
                  td 2012/02/01
                  td Admin
                  td
                    span.badge.badge-secondary Inactive
                tr
                  td Eustorgios Amulius
                  td 2012/03/01
                  td Member
                  td
                    span.badge.badge-warning Pending
                tr
                  td Leopold Gáspár
                  td 2012/01/21
                  td Staff
                  td
                    span.badge.badge-success Active
            ul.pagination
              li.page-item
                a.page-link(href='#') Prev
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') 4
              li.page-item
                a.page-link(href='#') Next
      // /.col
      .col-lg-6
        .card
          .card-header
            i.fa.fa-align-justify
            |  Bordered Table
          .card-body
            table.table.table-responsive-sm.table-bordered
              thead
                tr
                  th Username
                  th Date registered
                  th Role
                  th Status
              tbody
                tr
                  td Pompeius René
                  td 2012/01/01
                  td Member
                  td
                    span.badge.badge-success Active
                tr
                  td Paĉjo Jadon
                  td 2012/02/01
                  td Staff
                  td
                    span.badge.badge-danger Banned
                tr
                  td Micheal Mercurius
                  td 2012/02/01
                  td Admin
                  td
                    span.badge.badge-secondary Inactive
                tr
                  td Ganesha Dubhghall
                  td 2012/03/01
                  td Member
                  td
                    span.badge.badge-warning Pending
                tr
                  td Hiroto Šimun
                  td 2012/01/21
                  td Staff
                  td
                    span.badge.badge-success Active
            ul.pagination
              li.page-item
                a.page-link(href='#') Prev
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') 4
              li.page-item
                a.page-link(href='#') Next
      // /.col
    // /.row
    .row
      .col-lg-12
        .card
          .card-header
            i.fa.fa-align-justify
            |  Combined All Table
          .card-body
            table.table.table-responsive-sm.table-bordered.table-striped.table-sm
              thead
                tr
                  th Username
                  th Date registered
                  th Role
                  th Status
              tbody
                tr
                  td Vishnu Serghei
                  td 2012/01/01
                  td Member
                  td
                    span.badge.badge-success Active
                tr
                  td Zbyněk Phoibos
                  td 2012/02/01
                  td Staff
                  td
                    span.badge.badge-danger Banned
                tr
                  td Einar Randall
                  td 2012/02/01
                  td Admin
                  td
                    span.badge.badge-secondary Inactive
                tr
                  td Félix Troels
                  td 2012/03/01
                  td Member
                  td
                    span.badge.badge-warning Pending
                tr
                  td Aulus Agmundr
                  td 2012/01/21
                  td Staff
                  td
                    span.badge.badge-success Active
            nav
              ul.pagination
                li.page-item
                  a.page-link(href='#') Prev
                li.page-item.active
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#') 4
                li.page-item
                  a.page-link(href='#') Next
      // /.col
    // /.row
