extends /default.pug

block view
  .animated.c-fade-in
    .c-row
      .c-col-12
        .c-card
          .c-card-header
            strong Brand Buttons
            small Usage ex.
            code(style='text-transform:lowercase') <button class="btn btn-brand btn-facebook"><span>Facebook</span></button>
          .c-card-body
            h6
              | Size Small 
              small
                | Add this class 
                code .c-btn-sm
            p
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-facebook(type='button', style='margin-bottom: 4px')
                i.fa.fa-facebook
                span Facebook
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-twitter(type='button', style='margin-bottom: 4px')
                i.fa.fa-twitter
                span Twitter
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-linkedin(type='button', style='margin-bottom: 4px')
                i.fa.fa-linkedin
                span LinkedIn
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-flickr(type='button', style='margin-bottom: 4px')
                i.fa.fa-flickr
                span Flickr
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-tumblr(type='button', style='margin-bottom: 4px')
                i.fa.fa-tumblr
                span Tumblr
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-xing(type='button', style='margin-bottom: 4px')
                i.fa.fa-xing
                span Xing
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-github(type='button', style='margin-bottom: 4px')
                i.fa.fa-github
                span Github
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-html5(type='button', style='margin-bottom: 4px')
                i.fa.fa-html5
                span HTML5
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-openid(type='button', style='margin-bottom: 4px')
                i.fa.fa-openid
                span OpenID
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-stack-overflow(type='button', style='margin-bottom: 4px')
                i.fa.fa-stack-overflow
                span StackOverflow
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-css3(type='button', style='margin-bottom: 4px')
                i.fa.fa-css3
                span CSS3
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-youtube(type='button', style='margin-bottom: 4px')
                i.fa.fa-youtube
                span YouTube
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-dribbble(type='button', style='margin-bottom: 4px')
                i.fa.fa-dribbble
                span Dribbble
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-google-plus(type='button', style='margin-bottom: 4px')
                i.fa.fa-google-plus
                span Google+
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-instagram(type='button', style='margin-bottom: 4px')
                i.fa.fa-instagram
                span Instagram
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-pinterest(type='button', style='margin-bottom: 4px')
                i.fa.fa-pinterest
                span Pinterest
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-vk(type='button', style='margin-bottom: 4px')
                i.fa.fa-vk
                span VK
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-yahoo(type='button', style='margin-bottom: 4px')
                i.fa.fa-yahoo
                span Yahoo
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-behance(type='button', style='margin-bottom: 4px')
                i.fa.fa-behance
                span Behance
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-dropbox(type='button', style='margin-bottom: 4px')
                i.fa.fa-dropbox
                span Dropbox
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-reddit(type='button', style='margin-bottom: 4px')
                i.fa.fa-reddit
                span Reddit
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-spotify(type='button', style='margin-bottom: 4px')
                i.fa.fa-spotify
                span Spotify
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-vine(type='button', style='margin-bottom: 4px')
                i.fa.fa-vine
                span Vine
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-foursquare(type='button', style='margin-bottom: 4px')
                i.fa.fa-foursquare
                span Forsquare
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-vimeo(type='button', style='margin-bottom: 4px')
                i.fa.fa-vimeo
                span Vimeo
            h6 Size Normal
            p
              button.c-btn.c-btn-brand.c-btn-facebook(type='button', style='margin-bottom: 4px')
                i.fa.fa-facebook
                span Facebook
              button.c-btn.c-btn-brand.c-btn-twitter(type='button', style='margin-bottom: 4px')
                i.fa.fa-twitter
                span Twitter
              button.c-btn.c-btn-brand.c-btn-linkedin(type='button', style='margin-bottom: 4px')
                i.fa.fa-linkedin
                span LinkedIn
              button.c-btn.c-btn-brand.c-btn-flickr(type='button', style='margin-bottom: 4px')
                i.fa.fa-flickr
                span Flickr
              button.c-btn.c-btn-brand.c-btn-tumblr(type='button', style='margin-bottom: 4px')
                i.fa.fa-tumblr
                span Tumblr
              button.c-btn.c-btn-brand.c-btn-xing(type='button', style='margin-bottom: 4px')
                i.fa.fa-xing
                span Xing
              button.c-btn.c-btn-brand.c-btn-github(type='button', style='margin-bottom: 4px')
                i.fa.fa-github
                span Github
              button.c-btn.c-btn-brand.c-btn-html5(type='button', style='margin-bottom: 4px')
                i.fa.fa-html5
                span HTML5
              button.c-btn.c-btn-brand.c-btn-openid(type='button', style='margin-bottom: 4px')
                i.fa.fa-openid
                span OpenID
              button.c-btn.c-btn-brand.c-btn-stack-overflow(type='button', style='margin-bottom: 4px')
                i.fa.fa-stack-overflow
                span StackOverflow
              button.c-btn.c-btn-brand.c-btn-css3(type='button', style='margin-bottom: 4px')
                i.fa.fa-css3
                span CSS3
              button.c-btn.c-btn-brand.c-btn-youtube(type='button', style='margin-bottom: 4px')
                i.fa.fa-youtube
                span YouTube
              button.c-btn.c-btn-brand.c-btn-dribbble(type='button', style='margin-bottom: 4px')
                i.fa.fa-dribbble
                span Dribbble
              button.c-btn.c-btn-brand.c-btn-google-plus(type='button', style='margin-bottom: 4px')
                i.fa.fa-google-plus
                span Google+
              button.c-btn.c-btn-brand.c-btn-instagram(type='button', style='margin-bottom: 4px')
                i.fa.fa-instagram
                span Instagram
              button.c-btn.c-btn-brand.c-btn-pinterest(type='button', style='margin-bottom: 4px')
                i.fa.fa-pinterest
                span Pinterest
              button.c-btn.c-btn-brand.c-btn-vk(type='button', style='margin-bottom: 4px')
                i.fa.fa-vk
                span VK
              button.c-btn.c-btn-brand.c-btn-yahoo(type='button', style='margin-bottom: 4px')
                i.fa.fa-yahoo
                span Yahoo
              button.c-btn.c-btn-brand.c-btn-behance(type='button', style='margin-bottom: 4px')
                i.fa.fa-behance
                span Behance
              button.c-btn.c-btn-brand.c-btn-dropbox(type='button', style='margin-bottom: 4px')
                i.fa.fa-dropbox
                span Dropbox
              button.c-btn.c-btn-brand.c-btn-reddit(type='button', style='margin-bottom: 4px')
                i.fa.fa-reddit
                span Reddit
              button.c-btn.c-btn-brand.c-btn-spotify(type='button', style='margin-bottom: 4px')
                i.fa.fa-spotify
                span Spotify
              button.c-btn.c-btn-brand.c-btn-vine(type='button', style='margin-bottom: 4px')
                i.fa.fa-vine
                span Vine
              button.c-btn.c-btn-brand.c-btn-foursquare(type='button', style='margin-bottom: 4px')
                i.fa.fa-foursquare
                span Forsquare
              button.c-btn.c-btn-brand.c-btn-vimeo(type='button', style='margin-bottom: 4px')
                i.fa.fa-vimeo
                span Vimeo
            h6
              | Size Large 
              small
                | Add this class 
                code .c-btn-lg
            p
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-facebook(type='button', style='margin-bottom: 4px')
                i.fa.fa-facebook
                span Facebook
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-twitter(type='button', style='margin-bottom: 4px')
                i.fa.fa-twitter
                span Twitter
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-linkedin(type='button', style='margin-bottom: 4px')
                i.fa.fa-linkedin
                span LinkedIn
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-flickr(type='button', style='margin-bottom: 4px')
                i.fa.fa-flickr
                span Flickr
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-tumblr(type='button', style='margin-bottom: 4px')
                i.fa.fa-tumblr
                span Tumblr
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-xing(type='button', style='margin-bottom: 4px')
                i.fa.fa-xing
                span Xing
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-github(type='button', style='margin-bottom: 4px')
                i.fa.fa-github
                span Github
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-html5(type='button', style='margin-bottom: 4px')
                i.fa.fa-html5
                span HTML5
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-openid(type='button', style='margin-bottom: 4px')
                i.fa.fa-openid
                span OpenID
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-stack-overflow(type='button', style='margin-bottom: 4px')
                i.fa.fa-stack-overflow
                span StackOverflow
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-css3(type='button', style='margin-bottom: 4px')
                i.fa.fa-css3
                span CSS3
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-youtube(type='button', style='margin-bottom: 4px')
                i.fa.fa-youtube
                span YouTube
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-dribbble(type='button', style='margin-bottom: 4px')
                i.fa.fa-dribbble
                span Dribbble
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-google-plus(type='button', style='margin-bottom: 4px')
                i.fa.fa-google-plus
                span Google+
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-instagram(type='button', style='margin-bottom: 4px')
                i.fa.fa-instagram
                span Instagram
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-pinterest(type='button', style='margin-bottom: 4px')
                i.fa.fa-pinterest
                span Pinterest
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-vk(type='button', style='margin-bottom: 4px')
                i.fa.fa-vk
                span VK
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-yahoo(type='button', style='margin-bottom: 4px')
                i.fa.fa-yahoo
                span Yahoo
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-behance(type='button', style='margin-bottom: 4px')
                i.fa.fa-behance
                span Behance
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-dropbox(type='button', style='margin-bottom: 4px')
                i.fa.fa-dropbox
                span Dropbox
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-reddit(type='button', style='margin-bottom: 4px')
                i.fa.fa-reddit
                span Reddit
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-spotify(type='button', style='margin-bottom: 4px')
                i.fa.fa-spotify
                span Spotify
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-vine(type='button', style='margin-bottom: 4px')
                i.fa.fa-vine
                span Vine
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-foursquare(type='button', style='margin-bottom: 4px')
                i.fa.fa-foursquare
                span Forsquare
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-vimeo(type='button', style='margin-bottom: 4px')
                i.fa.fa-vimeo
                span Vimeo
      // /.c-col
      .c-col-12
        .c-card
          .c-card-header
            strong Brand Buttons
            small Only icons. Usage ex.
            code(style='text-transform:lowercase') <button class="btn btn-brand btn-facebook"><span>Facebook</span></button>
          .c-card-body
            h6
              | Size Small 
              small
                | Add this class 
                code .c-btn-sm
            p
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-facebook(type='button', style='margin-bottom: 4px')
                i.fa.fa-facebook
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-twitter(type='button', style='margin-bottom: 4px')
                i.fa.fa-twitter
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-linkedin(type='button', style='margin-bottom: 4px')
                i.fa.fa-linkedin
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-flickr(type='button', style='margin-bottom: 4px')
                i.fa.fa-flickr
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-tumblr(type='button', style='margin-bottom: 4px')
                i.fa.fa-tumblr
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-xing(type='button', style='margin-bottom: 4px')
                i.fa.fa-xing
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-github(type='button', style='margin-bottom: 4px')
                i.fa.fa-github
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-html5(type='button', style='margin-bottom: 4px')
                i.fa.fa-html5
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-openid(type='button', style='margin-bottom: 4px')
                i.fa.fa-openid
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-stack-overflow(type='button', style='margin-bottom: 4px')
                i.fa.fa-stack-overflow
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-css3(type='button', style='margin-bottom: 4px')
                i.fa.fa-css3
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-youtube(type='button', style='margin-bottom: 4px')
                i.fa.fa-youtube
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-dribbble(type='button', style='margin-bottom: 4px')
                i.fa.fa-dribbble
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-google-plus(type='button', style='margin-bottom: 4px')
                i.fa.fa-google-plus
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-instagram(type='button', style='margin-bottom: 4px')
                i.fa.fa-instagram
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-pinterest(type='button', style='margin-bottom: 4px')
                i.fa.fa-pinterest
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-vk(type='button', style='margin-bottom: 4px')
                i.fa.fa-vk
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-yahoo(type='button', style='margin-bottom: 4px')
                i.fa.fa-yahoo
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-behance(type='button', style='margin-bottom: 4px')
                i.fa.fa-behance
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-dropbox(type='button', style='margin-bottom: 4px')
                i.fa.fa-dropbox
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-reddit(type='button', style='margin-bottom: 4px')
                i.fa.fa-reddit
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-spotify(type='button', style='margin-bottom: 4px')
                i.fa.fa-spotify
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-vine(type='button', style='margin-bottom: 4px')
                i.fa.fa-vine
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-foursquare(type='button', style='margin-bottom: 4px')
                i.fa.fa-foursquare
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-vimeo(type='button', style='margin-bottom: 4px')
                i.fa.fa-vimeo
            h6 Size Normal
            p
              button.c-btn.c-btn-brand.c-btn-facebook(type='button', style='margin-bottom: 4px')
                i.fa.fa-facebook
              button.c-btn.c-btn-brand.c-btn-twitter(type='button', style='margin-bottom: 4px')
                i.fa.fa-twitter
              button.c-btn.c-btn-brand.c-btn-linkedin(type='button', style='margin-bottom: 4px')
                i.fa.fa-linkedin
              button.c-btn.c-btn-brand.c-btn-flickr(type='button', style='margin-bottom: 4px')
                i.fa.fa-flickr
              button.c-btn.c-btn-brand.c-btn-tumblr(type='button', style='margin-bottom: 4px')
                i.fa.fa-tumblr
              button.c-btn.c-btn-brand.c-btn-xing(type='button', style='margin-bottom: 4px')
                i.fa.fa-xing
              button.c-btn.c-btn-brand.c-btn-github(type='button', style='margin-bottom: 4px')
                i.fa.fa-github
              button.c-btn.c-btn-brand.c-btn-html5(type='button', style='margin-bottom: 4px')
                i.fa.fa-html5
              button.c-btn.c-btn-brand.c-btn-openid(type='button', style='margin-bottom: 4px')
                i.fa.fa-openid
              button.c-btn.c-btn-brand.c-btn-stack-overflow(type='button', style='margin-bottom: 4px')
                i.fa.fa-stack-overflow
              button.c-btn.c-btn-brand.c-btn-css3(type='button', style='margin-bottom: 4px')
                i.fa.fa-css3
              button.c-btn.c-btn-brand.c-btn-youtube(type='button', style='margin-bottom: 4px')
                i.fa.fa-youtube
              button.c-btn.c-btn-brand.c-btn-dribbble(type='button', style='margin-bottom: 4px')
                i.fa.fa-dribbble
              button.c-btn.c-btn-brand.c-btn-google-plus(type='button', style='margin-bottom: 4px')
                i.fa.fa-google-plus
              button.c-btn.c-btn-brand.c-btn-instagram(type='button', style='margin-bottom: 4px')
                i.fa.fa-instagram
              button.c-btn.c-btn-brand.c-btn-pinterest(type='button', style='margin-bottom: 4px')
                i.fa.fa-pinterest
              button.c-btn.c-btn-brand.c-btn-vk(type='button', style='margin-bottom: 4px')
                i.fa.fa-vk
              button.c-btn.c-btn-brand.c-btn-yahoo(type='button', style='margin-bottom: 4px')
                i.fa.fa-yahoo
              button.c-btn.c-btn-brand.c-btn-behance(type='button', style='margin-bottom: 4px')
                i.fa.fa-behance
              button.c-btn.c-btn-brand.c-btn-dropbox(type='button', style='margin-bottom: 4px')
                i.fa.fa-dropbox
              button.c-btn.c-btn-brand.c-btn-reddit(type='button', style='margin-bottom: 4px')
                i.fa.fa-reddit
              button.c-btn.c-btn-brand.c-btn-spotify(type='button', style='margin-bottom: 4px')
                i.fa.fa-spotify
              button.c-btn.c-btn-brand.c-btn-vine(type='button', style='margin-bottom: 4px')
                i.fa.fa-vine
              button.c-btn.c-btn-brand.c-btn-foursquare(type='button', style='margin-bottom: 4px')
                i.fa.fa-foursquare
              button.c-btn.c-btn-brand.c-btn-vimeo(type='button', style='margin-bottom: 4px')
                i.fa.fa-vimeo
            h6
              | Size Large 
              small
                | Add this class 
                code .c-btn-lg
            p
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-facebook(type='button', style='margin-bottom: 4px')
                i.fa.fa-facebook
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-twitter(type='button', style='margin-bottom: 4px')
                i.fa.fa-twitter
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-linkedin(type='button', style='margin-bottom: 4px')
                i.fa.fa-linkedin
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-flickr(type='button', style='margin-bottom: 4px')
                i.fa.fa-flickr
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-tumblr(type='button', style='margin-bottom: 4px')
                i.fa.fa-tumblr
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-xing(type='button', style='margin-bottom: 4px')
                i.fa.fa-xing
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-github(type='button', style='margin-bottom: 4px')
                i.fa.fa-github
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-html5(type='button', style='margin-bottom: 4px')
                i.fa.fa-html5
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-openid(type='button', style='margin-bottom: 4px')
                i.fa.fa-openid
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-stack-overflow(type='button', style='margin-bottom: 4px')
                i.fa.fa-stack-overflow
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-css3(type='button', style='margin-bottom: 4px')
                i.fa.fa-css3
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-youtube(type='button', style='margin-bottom: 4px')
                i.fa.fa-youtube
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-dribbble(type='button', style='margin-bottom: 4px')
                i.fa.fa-dribbble
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-google-plus(type='button', style='margin-bottom: 4px')
                i.fa.fa-google-plus
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-instagram(type='button', style='margin-bottom: 4px')
                i.fa.fa-instagram
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-pinterest(type='button', style='margin-bottom: 4px')
                i.fa.fa-pinterest
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-vk(type='button', style='margin-bottom: 4px')
                i.fa.fa-vk
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-yahoo(type='button', style='margin-bottom: 4px')
                i.fa.fa-yahoo
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-behance(type='button', style='margin-bottom: 4px')
                i.fa.fa-behance
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-dropbox(type='button', style='margin-bottom: 4px')
                i.fa.fa-dropbox
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-reddit(type='button', style='margin-bottom: 4px')
                i.fa.fa-reddit
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-spotify(type='button', style='margin-bottom: 4px')
                i.fa.fa-spotify
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-vine(type='button', style='margin-bottom: 4px')
                i.fa.fa-vine
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-foursquare(type='button', style='margin-bottom: 4px')
                i.fa.fa-foursquare
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-vimeo(type='button', style='margin-bottom: 4px')
                i.fa.fa-vimeo
      // /.c-col
      .c-col-12
        .c-card
          .c-card-header
            strong Brand Buttons
            small Only text. Usage ex.
            code(style='text-transform:lowercase') <button class="btn btn-brand btn-facebook text"><span>Facebook</span></button>
          .c-card-body
            h6
              | Size Small 
              small
                | Add this class 
                code .c-btn-sm
            p
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-facebook(type='button', style='margin-bottom: 4px')
                span Facebook
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-twitter(type='button', style='margin-bottom: 4px')
                span Twitter
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-linkedin(type='button', style='margin-bottom: 4px')
                span LinkedIn
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-flickr(type='button', style='margin-bottom: 4px')
                span Flickr
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-tumblr(type='button', style='margin-bottom: 4px')
                span Tumblr
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-xing(type='button', style='margin-bottom: 4px')
                span Xing
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-github(type='button', style='margin-bottom: 4px')
                span Github
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-html5(type='button', style='margin-bottom: 4px')
                span HTML5
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-openid(type='button', style='margin-bottom: 4px')
                span OpenID
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-stack-overflow(type='button', style='margin-bottom: 4px')
                span StackOverflow
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-css3(type='button', style='margin-bottom: 4px')
                span CSS3
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-youtube(type='button', style='margin-bottom: 4px')
                span YouTube
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-dribbble(type='button', style='margin-bottom: 4px')
                span Dribbble
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-google-plus(type='button', style='margin-bottom: 4px')
                span Google+
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-instagram(type='button', style='margin-bottom: 4px')
                span Instagram
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-pinterest(type='button', style='margin-bottom: 4px')
                span Pinterest
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-vk(type='button', style='margin-bottom: 4px')
                span VK
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-yahoo(type='button', style='margin-bottom: 4px')
                span Yahoo
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-behance(type='button', style='margin-bottom: 4px')
                span Behance
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-dropbox(type='button', style='margin-bottom: 4px')
                span Dropbox
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-reddit(type='button', style='margin-bottom: 4px')
                span Reddit
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-spotify(type='button', style='margin-bottom: 4px')
                span Spotify
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-vine(type='button', style='margin-bottom: 4px')
                span Vine
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-foursquare(type='button', style='margin-bottom: 4px')
                span Forsquare
              button.c-btn.c-btn-brand.c-btn-sm.c-btn-vimeo(type='button', style='margin-bottom: 4px')
                span Vimeo
            h6 Size Normal
            p
              button.c-btn.c-btn-brand.c-btn-facebook(type='button', style='margin-bottom: 4px')
                span Facebook
              button.c-btn.c-btn-brand.c-btn-twitter(type='button', style='margin-bottom: 4px')
                span Twitter
              button.c-btn.c-btn-brand.c-btn-linkedin(type='button', style='margin-bottom: 4px')
                span LinkedIn
              button.c-btn.c-btn-brand.c-btn-flickr(type='button', style='margin-bottom: 4px')
                span Flickr
              button.c-btn.c-btn-brand.c-btn-tumblr(type='button', style='margin-bottom: 4px')
                span Tumblr
              button.c-btn.c-btn-brand.c-btn-xing(type='button', style='margin-bottom: 4px')
                span Xing
              button.c-btn.c-btn-brand.c-btn-github(type='button', style='margin-bottom: 4px')
                span Github
              button.c-btn.c-btn-brand.c-btn-html5(type='button', style='margin-bottom: 4px')
                span HTML5
              button.c-btn.c-btn-brand.c-btn-openid(type='button', style='margin-bottom: 4px')
                span OpenID
              button.c-btn.c-btn-brand.c-btn-stack-overflow(type='button', style='margin-bottom: 4px')
                span StackOverflow
              button.c-btn.c-btn-brand.c-btn-css3(type='button', style='margin-bottom: 4px')
                span CSS3
              button.c-btn.c-btn-brand.c-btn-youtube(type='button', style='margin-bottom: 4px')
                span YouTube
              button.c-btn.c-btn-brand.c-btn-dribbble(type='button', style='margin-bottom: 4px')
                span Dribbble
              button.c-btn.c-btn-brand.c-btn-google-plus(type='button', style='margin-bottom: 4px')
                span Google+
              button.c-btn.c-btn-brand.c-btn-instagram(type='button', style='margin-bottom: 4px')
                span Instagram
              button.c-btn.c-btn-brand.c-btn-pinterest(type='button', style='margin-bottom: 4px')
                span Pinterest
              button.c-btn.c-btn-brand.c-btn-vk(type='button', style='margin-bottom: 4px')
                span VK
              button.c-btn.c-btn-brand.c-btn-yahoo(type='button', style='margin-bottom: 4px')
                span Yahoo
              button.c-btn.c-btn-brand.c-btn-behance(type='button', style='margin-bottom: 4px')
                span Behance
              button.c-btn.c-btn-brand.c-btn-dropbox(type='button', style='margin-bottom: 4px')
                span Dropbox
              button.c-btn.c-btn-brand.c-btn-reddit(type='button', style='margin-bottom: 4px')
                span Reddit
              button.c-btn.c-btn-brand.c-btn-spotify(type='button', style='margin-bottom: 4px')
                span Spotify
              button.c-btn.c-btn-brand.c-btn-vine(type='button', style='margin-bottom: 4px')
                span Vine
              button.c-btn.c-btn-brand.c-btn-foursquare(type='button', style='margin-bottom: 4px')
                span Forsquare
              button.c-btn.c-btn-brand.c-btn-vimeo(type='button', style='margin-bottom: 4px')
                span Vimeo
            h6
              | Size Large 
              small
                | Add this class 
                code .c-btn-lg
            p
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-facebook(type='button', style='margin-bottom: 4px')
                span Facebook
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-twitter(type='button', style='margin-bottom: 4px')
                span Twitter
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-linkedin(type='button', style='margin-bottom: 4px')
                span LinkedIn
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-flickr(type='button', style='margin-bottom: 4px')
                span Flickr
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-tumblr(type='button', style='margin-bottom: 4px')
                span Tumblr
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-xing(type='button', style='margin-bottom: 4px')
                span Xing
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-github(type='button', style='margin-bottom: 4px')
                span Github
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-html5(type='button', style='margin-bottom: 4px')
                span HTML5
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-openid(type='button', style='margin-bottom: 4px')
                span OpenID
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-stack-overflow(type='button', style='margin-bottom: 4px')
                span StackOverflow
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-css3(type='button', style='margin-bottom: 4px')
                span CSS3
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-youtube(type='button', style='margin-bottom: 4px')
                span YouTube
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-dribbble(type='button', style='margin-bottom: 4px')
                span Dribbble
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-google-plus(type='button', style='margin-bottom: 4px')
                span Google+
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-instagram(type='button', style='margin-bottom: 4px')
                span Instagram
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-pinterest(type='button', style='margin-bottom: 4px')
                span Pinterest
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-vk(type='button', style='margin-bottom: 4px')
                span VK
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-yahoo(type='button', style='margin-bottom: 4px')
                span Yahoo
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-behance(type='button', style='margin-bottom: 4px')
                span Behance
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-dropbox(type='button', style='margin-bottom: 4px')
                span Dropbox
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-reddit(type='button', style='margin-bottom: 4px')
                span Reddit
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-spotify(type='button', style='margin-bottom: 4px')
                span Spotify
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-vine(type='button', style='margin-bottom: 4px')
                span Vine
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-foursquare(type='button', style='margin-bottom: 4px')
                span Forsquare
              button.c-btn.c-btn-brand.c-btn-lg.c-btn-vimeo(type='button', style='margin-bottom: 4px')
                span Vimeo
      // /.c-col
    // /.c-row
