extends /default.pug

block view
  .animated.c-fade-in
    .c-row
      .c-col-md-6
        .c-card
          .c-card-header
            strong Button group
            .c-card-header-actions
              a.c-card-header-action(href='http://coreui.io/docs/components/bootstrap-button-group/', target='_blank')
                small.c-text-muted docs
          .c-card-body
            .c-btn-group(role='group', aria-label='Basic example')
              button.c-btn.c-btn-secondary(type='button') Left
              button.c-btn.c-btn-secondary(type='button') Middle
              button.c-btn.c-btn-secondary(type='button') Right
        .c-card
          .c-card-header
            | Button group
            small toolbar
          .c-card-body
            .c-btn-toolbar.c-mb-3(role='toolbar', aria-label='Toolbar with button groups')
              .c-btn-group.c-mr-2(role='group', aria-label='First group')
                button.c-btn.c-btn-secondary(type='button') 1
                button.c-btn.c-btn-secondary(type='button') 2
                button.c-btn.c-btn-secondary(type='button') 3
                button.c-btn.c-btn-secondary(type='button') 4
              .c-btn-group.c-mr-2(role='group', aria-label='Second group')
                button.c-btn.c-btn-secondary(type='button') 5
                button.c-btn.c-btn-secondary(type='button') 6
                button.c-btn.c-btn-secondary(type='button') 7
              .c-btn-group(role='group', aria-label='Third group')
                button.c-btn.c-btn-secondary(type='button') 8
            .c-btn-toolbar.c-mb-3(role='toolbar', aria-label='Toolbar with button groups')
              .c-btn-group.c-mr-2(role='group', aria-label='First group')
                button.c-btn.c-btn-secondary(type='button') 1
                button.c-btn.c-btn-secondary(type='button') 2
                button.c-btn.c-btn-secondary(type='button') 3
                button.c-btn.c-btn-secondary(type='button') 4
              .c-input-group
                .c-input-group-prepend
                  span#btnGroupAddon.c-input-group-text @
                input.c-form-control(type='text', placeholder='Input group example', aria-label='Input group example', aria-describedby='btnGroupAddon')
            .c-btn-toolbar.c-justify-content-between(role='toolbar', aria-label='Toolbar with button groups')
              .c-btn-group(role='group', aria-label='First group')
                button.c-btn.c-btn-secondary(type='button') 1
                button.c-btn.c-btn-secondary(type='button') 2
                button.c-btn.c-btn-secondary(type='button') 3
                button.c-btn.c-btn-secondary(type='button') 4
              .c-input-group
                .c-input-group-prepend
                  span#btnGroupAddon2.c-input-group-text @
                input.c-form-control(type='text', placeholder='Input group example', aria-label='Input group example', aria-describedby='btnGroupAddon2')
      .c-col-md-6
        .c-card
          .c-card-header
            | Button group
            small sizing
          .c-card-body
            .c-btn-group.c-btn-group-lg.c-mb-3(role='group', aria-label='Large button group')
              button.c-btn.c-btn-secondary(type='button') Left
              button.c-btn.c-btn-secondary(type='button') Middle
              button.c-btn.c-btn-secondary(type='button') Right
            br
            .c-btn-group.c-mb-3(role='group', aria-label='Default button group')
              button.c-btn.c-btn-secondary(type='button') Left
              button.c-btn.c-btn-secondary(type='button') Middle
              button.c-btn.c-btn-secondary(type='button') Right
            br
            .c-btn-group.c-btn-group-sm(role='group', aria-label='Small button group')
              button.c-btn.c-btn-secondary(type='button') Left
              button.c-btn.c-btn-secondary(type='button') Middle
              button.c-btn.c-btn-secondary(type='button') Right
        .c-card
          .c-card-header
            | Button group
            small nesting
          .c-card-body
            .c-btn-group(role='group', aria-label='Button group with nested dropdown')
              button.c-btn.c-btn-secondary(type='button') 1
              button.c-btn.c-btn-secondary(type='button') 2
              .c-btn-group(role='group')
                button#btnGroupDrop1.c-btn.c-btn-secondary.c-dropdown-toggle(type='button', data-toggle='c-dropdown', aria-haspopup='true', aria-expanded='false')
                  | Dropdown
                .c-dropdown-menu(aria-labelledby='btnGroupDrop1')
                  a.c-dropdown-item(href='#') Dropdown link
                  a.c-dropdown-item(href='#') Dropdown link
    .c-row
      .c-col-md-6
        .c-card
          .c-card-header
            | Button group
            small vertical variation
          .c-card-body
            .c-btn-group-vertical(role='group', aria-label='Vertical button group')
              button.c-btn.c-btn-secondary(type='button') Button
              button.c-btn.c-btn-secondary(type='button') Button
              button.c-btn.c-btn-secondary(type='button') Button
              button.c-btn.c-btn-secondary(type='button') Button
              button.c-btn.c-btn-secondary(type='button') Button
              button.c-btn.c-btn-secondary(type='button') Button
      .c-col-md-6
        .c-card
          .c-card-header
            | Button group
            small vertical variation
          .c-card-body
            .c-btn-group-vertical(role='group', aria-label='Vertical button group')
              button.c-btn.c-btn-secondary(type='button') Button
              button.c-btn.c-btn-secondary(type='button') Button
              .c-btn-group(role='group')
                button#btnGroupVerticalDrop1.c-btn.c-btn-secondary.c-dropdown-toggle(type='button', data-toggle='c-dropdown', aria-haspopup='true', aria-expanded='false')
                  | Dropdown
                .c-dropdown-menu(aria-labelledby='btnGroupVerticalDrop1')
                  a.c-dropdown-item(href='#') Dropdown link
                  a.c-dropdown-item(href='#') Dropdown link
              button.c-btn.c-btn-secondary(type='button') Button
              button.c-btn.c-btn-secondary(type='button') Button
              .c-btn-group(role='group')
                button#btnGroupVerticalDrop2.c-btn.c-btn-secondary.c-dropdown-toggle(type='button', data-toggle='c-dropdown', aria-haspopup='true', aria-expanded='false')
                  | Dropdown
                .c-dropdown-menu(aria-labelledby='btnGroupVerticalDrop2')
                  a.c-dropdown-item(href='#') Dropdown link
                  a.c-dropdown-item(href='#') Dropdown link
              .c-btn-group(role='group')
                button#btnGroupVerticalDrop3.c-btn.c-btn-secondary.c-dropdown-toggle(type='button', data-toggle='c-dropdown', aria-haspopup='true', aria-expanded='false')
                  | Dropdown
                .c-dropdown-menu(aria-labelledby='btnGroupVerticalDrop3')
                  a.c-dropdown-item(href='#') Dropdown link
                  a.c-dropdown-item(href='#') Dropdown link
              .c-btn-group(role='group')
                button#btnGroupVerticalDrop4.c-btn.c-btn-secondary.c-dropdown-toggle(type='button', data-toggle='c-dropdown', aria-haspopup='true', aria-expanded='false')
                  | Dropdown
                .c-dropdown-menu(aria-labelledby='btnGroupVerticalDrop4')
                  a.c-dropdown-item(href='#') Dropdown link
                  a.c-dropdown-item(href='#') Dropdown link
