// Custom styles for this theme

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-toggler {
  @include ltr-rtl("margin-left", auto);
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    @include ltr-rtl("margin-right", auto);
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.header {
  padding: 0;

  .container-fluid {
    padding-right: $spacer;
    padding-left: $spacer;
  }
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}
