// TODO: 
// - make the noty bubbles background colors depend on SCSS variables (primary, secondary, etc)
// - make sure anchors inside noty bubbles are same color as text, and underlined
// - make sure noty progress bar is a correct color for each notification type 

.noty_theme__backstrap.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  border-radius: .25rem; }
  .noty_theme__backstrap.noty_bar .noty_body {
    padding: .75rem 1.25rem; 
    font-weight: 300;
  }
  .noty_theme__backstrap.noty_bar .noty_buttons {
    padding: 10px; }
  .noty_theme__backstrap.noty_bar .noty_close_button {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .5;
    background: transparent; }
  .noty_theme__backstrap.noty_bar .noty_close_button:hover {
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .75; }

.noty_theme__backstrap.noty_type__note,
.noty_theme__backstrap.noty_type__notice,
.noty_theme__backstrap.noty_type__alert,
.noty_theme__backstrap.noty_type__notification {
  background-color: #fff;
  color: inherit; }

.noty_theme__backstrap.noty_type__warning {
  color: #fffdf5;
  background-color: #ffc107;
  border-color: #ebb206;
}

.noty_theme__backstrap.noty_type__danger,
.noty_theme__backstrap.noty_type__error {
  color: #fdf6f6;
  background-color: #cd201f;
  border-color: #bd1d1d;
}

.noty_theme__backstrap.noty_type__info,
.noty_theme__backstrap.noty_type__information {
    color: #f9fdfe;
    background-color: #63c2de;
    border-color: #5bb2cc;
}

.noty_theme__backstrap.noty_type__success {
  color: #f8fcf9;
  background-color: #4dbd74;
  border-color: #47ae6b;
}

.noty_theme__backstrap.noty_type__primary {
  color: #f8fafd;
  background-color: #467fd0;
  border-color: #4075bf;
}

.noty_theme__backstrap.noty_type__secondary {
  color: #2f353a;
  background-color: #c8ced3;
  border-color: #b8bec2;
}

.noty_theme__backstrap.noty_type__light {
  color: #2f353a;
  background-color: #f0f3f9;
  border-color: #dde0e5;
}

.noty_theme__backstrap.noty_type__dark {
  color: #f7f7f7;
  background-color: #2f353a;
  border-color: #2b3135;
}