// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui";

@import "layout";

// Preview
@import "examples";

// If you want to add custom CSS you can put it here.
@import "custom";
