extends /_layout/default.pug

block view
  .c-fade-in
    .c-card
      .c-card-header
        i.fa.fa-font-awesome
        |  Flags
      .c-card-body
        .c-row
          .c-col-12.c-mb-5
            | For using the flags inline with text add the classes
            code .flag-icon
            |  and
            code .flag-icon-xx
            |  (where xx is the ISO 3166-1-alpha-2 code of a country) to an empty span. If you want to have a squared version flag then add the class flag-icon-squared as well.
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ad.flag-icon.flag-icon-ad.c-h1(title='ad')
            div flag-icon-ad
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ae.flag-icon.flag-icon-ae.c-h1(title='ae')
            div flag-icon-ae
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#af.flag-icon.flag-icon-af.c-h1(title='af')
            div flag-icon-af
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ag.flag-icon.flag-icon-ag.c-h1(title='ag')
            div flag-icon-ag
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ai.flag-icon.flag-icon-ai.c-h1(title='ai')
            div flag-icon-ai
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#al.flag-icon.flag-icon-al.c-h1(title='al')
            div flag-icon-al
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#am.flag-icon.flag-icon-am.c-h1(title='am')
            div flag-icon-am
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ao.flag-icon.flag-icon-ao.c-h1(title='ao')
            div flag-icon-ao
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#aq.flag-icon.flag-icon-aq.c-h1(title='aq')
            div flag-icon-aq
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ar.flag-icon.flag-icon-ar.c-h1(title='ar')
            div flag-icon-ar
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#as.flag-icon.flag-icon-as.c-h1(title='as')
            div flag-icon-as
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#at.flag-icon.flag-icon-at.c-h1(title='at')
            div flag-icon-at
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#au.flag-icon.flag-icon-au.c-h1(title='au')
            div flag-icon-au
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#aw.flag-icon.flag-icon-aw.c-h1(title='aw')
            div flag-icon-aw
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ax.flag-icon.flag-icon-ax.c-h1(title='ax')
            div flag-icon-ax
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#az.flag-icon.flag-icon-az.c-h1(title='az')
            div flag-icon-az
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ba.flag-icon.flag-icon-ba.c-h1(title='ba')
            div flag-icon-ba
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bb.flag-icon.flag-icon-bb.c-h1(title='bb')
            div flag-icon-bb
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bd.flag-icon.flag-icon-bd.c-h1(title='bd')
            div flag-icon-bd
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#be.flag-icon.flag-icon-be.c-h1(title='be')
            div flag-icon-be
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bf.flag-icon.flag-icon-bf.c-h1(title='bf')
            div flag-icon-bf
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bg.flag-icon.flag-icon-bg.c-h1(title='bg')
            div flag-icon-bg
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bh.flag-icon.flag-icon-bh.c-h1(title='bh')
            div flag-icon-bh
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bi.flag-icon.flag-icon-bi.c-h1(title='bi')
            div flag-icon-bi
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bj.flag-icon.flag-icon-bj.c-h1(title='bj')
            div flag-icon-bj
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bl.flag-icon.flag-icon-bl.c-h1(title='bl')
            div flag-icon-bl
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bm.flag-icon.flag-icon-bm.c-h1(title='bm')
            div flag-icon-bm
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bn.flag-icon.flag-icon-bn.c-h1(title='bn')
            div flag-icon-bn
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bo.flag-icon.flag-icon-bo.c-h1(title='bo')
            div flag-icon-bo
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bq.flag-icon.flag-icon-bq.c-h1(title='bq')
            div flag-icon-bq
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#br.flag-icon.flag-icon-br.c-h1(title='br')
            div flag-icon-br
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bs.flag-icon.flag-icon-bs.c-h1(title='bs')
            div flag-icon-bs
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bt.flag-icon.flag-icon-bt.c-h1(title='bt')
            div flag-icon-bt
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bv.flag-icon.flag-icon-bv.c-h1(title='bv')
            div flag-icon-bv
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bw.flag-icon.flag-icon-bw.c-h1(title='bw')
            div flag-icon-bw
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#by.flag-icon.flag-icon-by.c-h1(title='by')
            div flag-icon-by
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#bz.flag-icon.flag-icon-bz.c-h1(title='bz')
            div flag-icon-bz
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ca.flag-icon.flag-icon-ca.c-h1(title='ca')
            div flag-icon-ca
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cc.flag-icon.flag-icon-cc.c-h1(title='cc')
            div flag-icon-cc
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cd.flag-icon.flag-icon-cd.c-h1(title='cd')
            div flag-icon-cd
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cf.flag-icon.flag-icon-cf.c-h1(title='cf')
            div flag-icon-cf
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cg.flag-icon.flag-icon-cg.c-h1(title='cg')
            div flag-icon-cg
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ch.flag-icon.flag-icon-ch.c-h1(title='ch')
            div flag-icon-ch
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ci.flag-icon.flag-icon-ci.c-h1(title='ci')
            div flag-icon-ci
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ck.flag-icon.flag-icon-ck.c-h1(title='ck')
            div flag-icon-ck
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cl.flag-icon.flag-icon-cl.c-h1(title='cl')
            div flag-icon-cl
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cm.flag-icon.flag-icon-cm.c-h1(title='cm')
            div flag-icon-cm
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cn.flag-icon.flag-icon-cn.c-h1(title='cn')
            div flag-icon-cn
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#co.flag-icon.flag-icon-co.c-h1(title='co')
            div flag-icon-co
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cr.flag-icon.flag-icon-cr.c-h1(title='cr')
            div flag-icon-cr
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cu.flag-icon.flag-icon-cu.c-h1(title='cu')
            div flag-icon-cu
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cv.flag-icon.flag-icon-cv.c-h1(title='cv')
            div flag-icon-cv
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cw.flag-icon.flag-icon-cw.c-h1(title='cw')
            div flag-icon-cw
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cx.flag-icon.flag-icon-cx.c-h1(title='cx')
            div flag-icon-cx
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cy.flag-icon.flag-icon-cy.c-h1(title='cy')
            div flag-icon-cy
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#cz.flag-icon.flag-icon-cz.c-h1(title='cz')
            div flag-icon-cz
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#de.flag-icon.flag-icon-de.c-h1(title='de')
            div flag-icon-de
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#dj.flag-icon.flag-icon-dj.c-h1(title='dj')
            div flag-icon-dj
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#dk.flag-icon.flag-icon-dk.c-h1(title='dk')
            div flag-icon-dk
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#dm.flag-icon.flag-icon-dm.c-h1(title='dm')
            div flag-icon-dm
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#do.flag-icon.flag-icon-do.c-h1(title='do')
            div flag-icon-do
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#dz.flag-icon.flag-icon-dz.c-h1(title='dz')
            div flag-icon-dz
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ec.flag-icon.flag-icon-ec.c-h1(title='ec')
            div flag-icon-ec
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ee.flag-icon.flag-icon-ee.c-h1(title='ee')
            div flag-icon-ee
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#eg.flag-icon.flag-icon-eg.c-h1(title='eg')
            div flag-icon-eg
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#eh.flag-icon.flag-icon-eh.c-h1(title='eh')
            div flag-icon-eh
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#er.flag-icon.flag-icon-er.c-h1(title='er')
            div flag-icon-er
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#es.flag-icon.flag-icon-es.c-h1(title='es')
            div flag-icon-es
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#et.flag-icon.flag-icon-et.c-h1(title='et')
            div flag-icon-et
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#fi.flag-icon.flag-icon-fi.c-h1(title='fi')
            div flag-icon-fi
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#fj.flag-icon.flag-icon-fj.c-h1(title='fj')
            div flag-icon-fj
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#fk.flag-icon.flag-icon-fk.c-h1(title='fk')
            div flag-icon-fk
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#fm.flag-icon.flag-icon-fm.c-h1(title='fm')
            div flag-icon-fm
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#fo.flag-icon.flag-icon-fo.c-h1(title='fo')
            div flag-icon-fo
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#fr.flag-icon.flag-icon-fr.c-h1(title='fr')
            div flag-icon-fr
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ga.flag-icon.flag-icon-ga.c-h1(title='ga')
            div flag-icon-ga
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gb.flag-icon.flag-icon-gb.c-h1(title='gb')
            div flag-icon-gb
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gd.flag-icon.flag-icon-gd.c-h1(title='gd')
            div flag-icon-gd
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ge.flag-icon.flag-icon-ge.c-h1(title='ge')
            div flag-icon-ge
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gf.flag-icon.flag-icon-gf.c-h1(title='gf')
            div flag-icon-gf
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gg.flag-icon.flag-icon-gg.c-h1(title='gg')
            div flag-icon-gg
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gh.flag-icon.flag-icon-gh.c-h1(title='gh')
            div flag-icon-gh
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gi.flag-icon.flag-icon-gi.c-h1(title='gi')
            div flag-icon-gi
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gl.flag-icon.flag-icon-gl.c-h1(title='gl')
            div flag-icon-gl
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gm.flag-icon.flag-icon-gm.c-h1(title='gm')
            div flag-icon-gm
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gn.flag-icon.flag-icon-gn.c-h1(title='gn')
            div flag-icon-gn
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gp.flag-icon.flag-icon-gp.c-h1(title='gp')
            div flag-icon-gp
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gq.flag-icon.flag-icon-gq.c-h1(title='gq')
            div flag-icon-gq
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gr.flag-icon.flag-icon-gr.c-h1(title='gr')
            div flag-icon-gr
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gs.flag-icon.flag-icon-gs.c-h1(title='gs')
            div flag-icon-gs
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gt.flag-icon.flag-icon-gt.c-h1(title='gt')
            div flag-icon-gt
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gu.flag-icon.flag-icon-gu.c-h1(title='gu')
            div flag-icon-gu
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gw.flag-icon.flag-icon-gw.c-h1(title='gw')
            div flag-icon-gw
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#gy.flag-icon.flag-icon-gy.c-h1(title='gy')
            div flag-icon-gy
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#hk.flag-icon.flag-icon-hk.c-h1(title='hk')
            div flag-icon-hk
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#hm.flag-icon.flag-icon-hm.c-h1(title='hm')
            div flag-icon-hm
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#hn.flag-icon.flag-icon-hn.c-h1(title='hn')
            div flag-icon-hn
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#hr.flag-icon.flag-icon-hr.c-h1(title='hr')
            div flag-icon-hr
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ht.flag-icon.flag-icon-ht.c-h1(title='ht')
            div flag-icon-ht
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#hu.flag-icon.flag-icon-hu.c-h1(title='hu')
            div flag-icon-hu
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#id.flag-icon.flag-icon-id.c-h1(title='id')
            div flag-icon-id
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ie.flag-icon.flag-icon-ie.c-h1(title='ie')
            div flag-icon-ie
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#il.flag-icon.flag-icon-il.c-h1(title='il')
            div flag-icon-il
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#im.flag-icon.flag-icon-im.c-h1(title='im')
            div flag-icon-im
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#in.flag-icon.flag-icon-in.c-h1(title='in')
            div flag-icon-in
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#io.flag-icon.flag-icon-io.c-h1(title='io')
            div flag-icon-io
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#iq.flag-icon.flag-icon-iq.c-h1(title='iq')
            div flag-icon-iq
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ir.flag-icon.flag-icon-ir.c-h1(title='ir')
            div flag-icon-ir
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#is.flag-icon.flag-icon-is.c-h1(title='is')
            div flag-icon-is
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#it.flag-icon.flag-icon-it.c-h1(title='it')
            div flag-icon-it
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#je.flag-icon.flag-icon-je.c-h1(title='je')
            div flag-icon-je
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#jm.flag-icon.flag-icon-jm.c-h1(title='jm')
            div flag-icon-jm
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#jo.flag-icon.flag-icon-jo.c-h1(title='jo')
            div flag-icon-jo
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#jp.flag-icon.flag-icon-jp.c-h1(title='jp')
            div flag-icon-jp
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ke.flag-icon.flag-icon-ke.c-h1(title='ke')
            div flag-icon-ke
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#kg.flag-icon.flag-icon-kg.c-h1(title='kg')
            div flag-icon-kg
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#kh.flag-icon.flag-icon-kh.c-h1(title='kh')
            div flag-icon-kh
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ki.flag-icon.flag-icon-ki.c-h1(title='ki')
            div flag-icon-ki
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#km.flag-icon.flag-icon-km.c-h1(title='km')
            div flag-icon-km
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#kn.flag-icon.flag-icon-kn.c-h1(title='kn')
            div flag-icon-kn
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#kp.flag-icon.flag-icon-kp.c-h1(title='kp')
            div flag-icon-kp
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#kr.flag-icon.flag-icon-kr.c-h1(title='kr')
            div flag-icon-kr
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#kw.flag-icon.flag-icon-kw.c-h1(title='kw')
            div flag-icon-kw
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ky.flag-icon.flag-icon-ky.c-h1(title='ky')
            div flag-icon-ky
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#kz.flag-icon.flag-icon-kz.c-h1(title='kz')
            div flag-icon-kz
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#la.flag-icon.flag-icon-la.c-h1(title='la')
            div flag-icon-la
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#lb.flag-icon.flag-icon-lb.c-h1(title='lb')
            div flag-icon-lb
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#lc.flag-icon.flag-icon-lc.c-h1(title='lc')
            div flag-icon-lc
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#li.flag-icon.flag-icon-li.c-h1(title='li')
            div flag-icon-li
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#lk.flag-icon.flag-icon-lk.c-h1(title='lk')
            div flag-icon-lk
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#lr.flag-icon.flag-icon-lr.c-h1(title='lr')
            div flag-icon-lr
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ls.flag-icon.flag-icon-ls.c-h1(title='ls')
            div flag-icon-ls
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#lt.flag-icon.flag-icon-lt.c-h1(title='lt')
            div flag-icon-lt
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#lu.flag-icon.flag-icon-lu.c-h1(title='lu')
            div flag-icon-lu
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#lv.flag-icon.flag-icon-lv.c-h1(title='lv')
            div flag-icon-lv
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ly.flag-icon.flag-icon-ly.c-h1(title='ly')
            div flag-icon-ly
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ma.flag-icon.flag-icon-ma.c-h1(title='ma')
            div flag-icon-ma
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mc.flag-icon.flag-icon-mc.c-h1(title='mc')
            div flag-icon-mc
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#md.flag-icon.flag-icon-md.c-h1(title='md')
            div flag-icon-md
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#me.flag-icon.flag-icon-me.c-h1(title='me')
            div flag-icon-me
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mf.flag-icon.flag-icon-mf.c-h1(title='mf')
            div flag-icon-mf
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mg.flag-icon.flag-icon-mg.c-h1(title='mg')
            div flag-icon-mg
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mh.flag-icon.flag-icon-mh.c-h1(title='mh')
            div flag-icon-mh
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mk.flag-icon.flag-icon-mk.c-h1(title='mk')
            div flag-icon-mk
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ml.flag-icon.flag-icon-ml.c-h1(title='ml')
            div flag-icon-ml
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mm.flag-icon.flag-icon-mm.c-h1(title='mm')
            div flag-icon-mm
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mn.flag-icon.flag-icon-mn.c-h1(title='mn')
            div flag-icon-mn
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mo.flag-icon.flag-icon-mo.c-h1(title='mo')
            div flag-icon-mo
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mp.flag-icon.flag-icon-mp.c-h1(title='mp')
            div flag-icon-mp
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mq.flag-icon.flag-icon-mq.c-h1(title='mq')
            div flag-icon-mq
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mr.flag-icon.flag-icon-mr.c-h1(title='mr')
            div flag-icon-mr
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ms.flag-icon.flag-icon-ms.c-h1(title='ms')
            div flag-icon-ms
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mt.flag-icon.flag-icon-mt.c-h1(title='mt')
            div flag-icon-mt
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mu.flag-icon.flag-icon-mu.c-h1(title='mu')
            div flag-icon-mu
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mv.flag-icon.flag-icon-mv.c-h1(title='mv')
            div flag-icon-mv
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mw.flag-icon.flag-icon-mw.c-h1(title='mw')
            div flag-icon-mw
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mx.flag-icon.flag-icon-mx.c-h1(title='mx')
            div flag-icon-mx
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#my.flag-icon.flag-icon-my.c-h1(title='my')
            div flag-icon-my
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#mz.flag-icon.flag-icon-mz.c-h1(title='mz')
            div flag-icon-mz
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#na.flag-icon.flag-icon-na.c-h1(title='na')
            div flag-icon-na
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#nc.flag-icon.flag-icon-nc.c-h1(title='nc')
            div flag-icon-nc
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ne.flag-icon.flag-icon-ne.c-h1(title='ne')
            div flag-icon-ne
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#nf.flag-icon.flag-icon-nf.c-h1(title='nf')
            div flag-icon-nf
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ng.flag-icon.flag-icon-ng.c-h1(title='ng')
            div flag-icon-ng
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ni.flag-icon.flag-icon-ni.c-h1(title='ni')
            div flag-icon-ni
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#nl.flag-icon.flag-icon-nl.c-h1(title='nl')
            div flag-icon-nl
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#no.flag-icon.flag-icon-no.c-h1(title='no')
            div flag-icon-no
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#np.flag-icon.flag-icon-np.c-h1(title='np')
            div flag-icon-np
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#nr.flag-icon.flag-icon-nr.c-h1(title='nr')
            div flag-icon-nr
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#nu.flag-icon.flag-icon-nu.c-h1(title='nu')
            div flag-icon-nu
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#nz.flag-icon.flag-icon-nz.c-h1(title='nz')
            div flag-icon-nz
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#om.flag-icon.flag-icon-om.c-h1(title='om')
            div flag-icon-om
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#pa.flag-icon.flag-icon-pa.c-h1(title='pa')
            div flag-icon-pa
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#pe.flag-icon.flag-icon-pe.c-h1(title='pe')
            div flag-icon-pe
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#pf.flag-icon.flag-icon-pf.c-h1(title='pf')
            div flag-icon-pf
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#pg.flag-icon.flag-icon-pg.c-h1(title='pg')
            div flag-icon-pg
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ph.flag-icon.flag-icon-ph.c-h1(title='ph')
            div flag-icon-ph
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#pk.flag-icon.flag-icon-pk.c-h1(title='pk')
            div flag-icon-pk
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#pl.flag-icon.flag-icon-pl.c-h1(title='pl')
            div flag-icon-pl
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#pm.flag-icon.flag-icon-pm.c-h1(title='pm')
            div flag-icon-pm
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#pn.flag-icon.flag-icon-pn.c-h1(title='pn')
            div flag-icon-pn
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#pr.flag-icon.flag-icon-pr.c-h1(title='pr')
            div flag-icon-pr
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ps.flag-icon.flag-icon-ps.c-h1(title='ps')
            div flag-icon-ps
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#pt.flag-icon.flag-icon-pt.c-h1(title='pt')
            div flag-icon-pt
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#pw.flag-icon.flag-icon-pw.c-h1(title='pw')
            div flag-icon-pw
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#py.flag-icon.flag-icon-py.c-h1(title='py')
            div flag-icon-py
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#qa.flag-icon.flag-icon-qa.c-h1(title='qa')
            div flag-icon-qa
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#re.flag-icon.flag-icon-re.c-h1(title='re')
            div flag-icon-re
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ro.flag-icon.flag-icon-ro.c-h1(title='ro')
            div flag-icon-ro
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#rs.flag-icon.flag-icon-rs.c-h1(title='rs')
            div flag-icon-rs
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ru.flag-icon.flag-icon-ru.c-h1(title='ru')
            div flag-icon-ru
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#rw.flag-icon.flag-icon-rw.c-h1(title='rw')
            div flag-icon-rw
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sa.flag-icon.flag-icon-sa.c-h1(title='sa')
            div flag-icon-sa
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sb.flag-icon.flag-icon-sb.c-h1(title='sb')
            div flag-icon-sb
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sc.flag-icon.flag-icon-sc.c-h1(title='sc')
            div flag-icon-sc
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sd.flag-icon.flag-icon-sd.c-h1(title='sd')
            div flag-icon-sd
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#se.flag-icon.flag-icon-se.c-h1(title='se')
            div flag-icon-se
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sg.flag-icon.flag-icon-sg.c-h1(title='sg')
            div flag-icon-sg
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sh.flag-icon.flag-icon-sh.c-h1(title='sh')
            div flag-icon-sh
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#si.flag-icon.flag-icon-si.c-h1(title='si')
            div flag-icon-si
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sj.flag-icon.flag-icon-sj.c-h1(title='sj')
            div flag-icon-sj
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sk.flag-icon.flag-icon-sk.c-h1(title='sk')
            div flag-icon-sk
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sl.flag-icon.flag-icon-sl.c-h1(title='sl')
            div flag-icon-sl
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sm.flag-icon.flag-icon-sm.c-h1(title='sm')
            div flag-icon-sm
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sn.flag-icon.flag-icon-sn.c-h1(title='sn')
            div flag-icon-sn
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#so.flag-icon.flag-icon-so.c-h1(title='so')
            div flag-icon-so
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sr.flag-icon.flag-icon-sr.c-h1(title='sr')
            div flag-icon-sr
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ss.flag-icon.flag-icon-ss.c-h1(title='ss')
            div flag-icon-ss
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#st.flag-icon.flag-icon-st.c-h1(title='st')
            div flag-icon-st
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sv.flag-icon.flag-icon-sv.c-h1(title='sv')
            div flag-icon-sv
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sx.flag-icon.flag-icon-sx.c-h1(title='sx')
            div flag-icon-sx
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sy.flag-icon.flag-icon-sy.c-h1(title='sy')
            div flag-icon-sy
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#sz.flag-icon.flag-icon-sz.c-h1(title='sz')
            div flag-icon-sz
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#tc.flag-icon.flag-icon-tc.c-h1(title='tc')
            div flag-icon-tc
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#td.flag-icon.flag-icon-td.c-h1(title='td')
            div flag-icon-td
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#tf.flag-icon.flag-icon-tf.c-h1(title='tf')
            div flag-icon-tf
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#tg.flag-icon.flag-icon-tg.c-h1(title='tg')
            div flag-icon-tg
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#th.flag-icon.flag-icon-th.c-h1(title='th')
            div flag-icon-th
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#tj.flag-icon.flag-icon-tj.c-h1(title='tj')
            div flag-icon-tj
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#tk.flag-icon.flag-icon-tk.c-h1(title='tk')
            div flag-icon-tk
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#tl.flag-icon.flag-icon-tl.c-h1(title='tl')
            div flag-icon-tl
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#tm.flag-icon.flag-icon-tm.c-h1(title='tm')
            div flag-icon-tm
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#tn.flag-icon.flag-icon-tn.c-h1(title='tn')
            div flag-icon-tn
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#to.flag-icon.flag-icon-to.c-h1(title='to')
            div flag-icon-to
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#tr.flag-icon.flag-icon-tr.c-h1(title='tr')
            div flag-icon-tr
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#tt.flag-icon.flag-icon-tt.c-h1(title='tt')
            div flag-icon-tt
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#tv.flag-icon.flag-icon-tv.c-h1(title='tv')
            div flag-icon-tv
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#tw.flag-icon.flag-icon-tw.c-h1(title='tw')
            div flag-icon-tw
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#tz.flag-icon.flag-icon-tz.c-h1(title='tz')
            div flag-icon-tz
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ua.flag-icon.flag-icon-ua.c-h1(title='ua')
            div flag-icon-ua
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ug.flag-icon.flag-icon-ug.c-h1(title='ug')
            div flag-icon-ug
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#um.flag-icon.flag-icon-um.c-h1(title='um')
            div flag-icon-um
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#us.flag-icon.flag-icon-us.c-h1(title='us')
            div flag-icon-us
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#uy.flag-icon.flag-icon-uy.c-h1(title='uy')
            div flag-icon-uy
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#uz.flag-icon.flag-icon-uz.c-h1(title='uz')
            div flag-icon-uz
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#va.flag-icon.flag-icon-va.c-h1(title='va')
            div flag-icon-va
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#vc.flag-icon.flag-icon-vc.c-h1(title='vc')
            div flag-icon-vc
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ve.flag-icon.flag-icon-ve.c-h1(title='ve')
            div flag-icon-ve
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#vg.flag-icon.flag-icon-vg.c-h1(title='vg')
            div flag-icon-vg
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#vi.flag-icon.flag-icon-vi.c-h1(title='vi')
            div flag-icon-vi
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#vn.flag-icon.flag-icon-vn.c-h1(title='vn')
            div flag-icon-vn
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#vu.flag-icon.flag-icon-vu.c-h1(title='vu')
            div flag-icon-vu
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#wf.flag-icon.flag-icon-wf.c-h1(title='wf')
            div flag-icon-wf
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ws.flag-icon.flag-icon-ws.c-h1(title='ws')
            div flag-icon-ws
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#ye.flag-icon.flag-icon-ye.c-h1(title='ye')
            div flag-icon-ye
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#yt.flag-icon.flag-icon-yt.c-h1(title='yt')
            div flag-icon-yt
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#za.flag-icon.flag-icon-za.c-h1(title='za')
            div flag-icon-za
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#zm.flag-icon.flag-icon-zm.c-h1(title='zm')
            div flag-icon-zm
          .c-col-sm-2.col-xs-3.c-text-center.c-mb-5
            i#zw.flag-icon.flag-icon-zw.c-h1(title='zw')
            div flag-icon-zw
