# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - fharisnet

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://index.docker.io/v1/
        username: ${{ secrets.AzureAppService_ContainerUsername_b455d811e7e241748db8b416e797170e }}
        password: ${{ secrets.AzureAppService_ContainerPassword_90350fcee2ce4983850d57192b8303af }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: index.docker.io/${{ secrets.AzureAppService_ContainerUsername_b455d811e7e241748db8b416e797170e }}/mcr.microsoft.com/appsvc/staticsite:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'fharisnet'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_1175c797139e43b786f75a614d03b058 }}
        images: 'index.docker.io/${{ secrets.AzureAppService_ContainerUsername_b455d811e7e241748db8b416e797170e }}/mcr.microsoft.com/appsvc/staticsite:${{ github.sha }}'