extends /_layout/default.pug


block view
  style(type='text/css').
    .c-btn {
      margin-bottom: 4px;
    }
  .c-fade-in
    .c-row
      .c-col-12
        .c-card
          .c-card-header
            strong Brand Buttons
          .c-card-body
            h6
              | Size Small
              small
                | Add this class
                code .c-btn-sm
            p
              button.c-btn.c-btn-sm.c-btn-facebook(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/facebook-f.svg" alt="facebook")
                span Facebook
              button.c-btn.c-btn-sm.c-btn-twitter(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/twitter.svg" alt="twitter")
                span Twitter
              button.c-btn.c-btn-sm.c-btn-linkedin(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/linkedin.svg" alt="linkedin")
                span LinkedIn
              button.c-btn.c-btn-sm.c-btn-flickr(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/flickr.svg" alt="flickr")
                span Flickr
              button.c-btn.c-btn-sm.c-btn-tumblr(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/tumblr.svg" alt="tumblr")
                span Tumblr
              button.c-btn.c-btn-sm.c-btn-xing(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/xing.svg" alt="xing")
                span Xing
              button.c-btn.c-btn-sm.c-btn-github(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/github.svg" alt="github")
                span Github
              button.c-btn.c-btn-sm.c-btn-stack-overflow(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/stack-overflow.svg" alt="stack-overflow")
                span StackOverflow
              button.c-btn.c-btn-sm.c-btn-youtube(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/youtube.svg" alt="youtube")
                span YouTube
              button.c-btn.c-btn-sm.c-btn-dribbble(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/dribbble.svg" alt="dribbble")
                span Dribbble
              button.c-btn.c-btn-sm.c-btn-instagram(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/instagram.svg" alt="instagram")
                span Instagram
              button.c-btn.c-btn-sm.c-btn-pinterest(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/pinterest.svg" alt="pinterest")
                span Pinterest
              button.c-btn.c-btn-sm.c-btn-vk(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/vk.svg" alt="vk")
                span VK
              button.c-btn.c-btn-sm.c-btn-yahoo(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/yahoo.svg" alt="yahoo")
                span Yahoo
              button.c-btn.c-btn-sm.c-btn-behance(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/behance.svg" alt="behance")
                span Behance
              button.c-btn.c-btn-sm.c-btn-reddit(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/reddit.svg" alt="reddit")
                span Reddit
              button.c-btn.c-btn-sm.c-btn-vimeo(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/vimeo.svg" alt="vimeo")
                span Vimeo
            h6 Size Normal
            p
              button.c-btn.c-btn-facebook(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/facebook-f.svg" alt="facebook")
                span Facebook
              button.c-btn.c-btn-twitter(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/twitter.svg" alt="twitter")
                span Twitter
              button.c-btn.c-btn-linkedin(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/linkedin.svg" alt="linkedin")
                span LinkedIn
              button.c-btn.c-btn-flickr(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/flickr.svg" alt="flickr")
                span Flickr
              button.c-btn.c-btn-tumblr(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/tumblr.svg" alt="tumblr")
                span Tumblr
              button.c-btn.c-btn-xing(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/xing.svg" alt="xing")
                span Xing
              button.c-btn.c-btn-github(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/github.svg" alt="github")
                span Github
              button.c-btn.c-btn-stack-overflow(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/stack-overflow.svg" alt="stack-overflow")
                span StackOverflow
              button.c-btn.c-btn-youtube(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/youtube.svg" alt="youtube")
                span YouTube
              button.c-btn.c-btn-dribbble(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/dribbble.svg" alt="dribbble")
                span Dribbble
              button.c-btn.c-btn-instagram(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/instagram.svg" alt="instagram")
                span Instagram
              button.c-btn.c-btn-pinterest(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/pinterest.svg" alt="pinterest")
                span Pinterest
              button.c-btn.c-btn-vk(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/vk.svg" alt="vk")
                span VK
              button.c-btn.c-btn-yahoo(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/yahoo.svg" alt="yahoo")
                span Yahoo
              button.c-btn.c-btn-behance(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/behance.svg" alt="behance")
                span Behance
              button.c-btn.c-btn-reddit(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/reddit.svg" alt="reddit")
                span Reddit
              button.c-btn.c-btn-vimeo(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/vimeo.svg" alt="vimeo")
                span Vimeo
            h6
              | Size Large
              small
                | Add this class
                code .c-btn-lg
            p
              button.c-btn.c-btn-lg.c-btn-facebook(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/facebook-f.svg" alt="facebook")
                span Facebook
              button.c-btn.c-btn-lg.c-btn-twitter(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/twitter.svg" alt="twitter")
                span Twitter
              button.c-btn.c-btn-lg.c-btn-linkedin(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/linkedin.svg" alt="linkedin")
                span LinkedIn
              button.c-btn.c-btn-lg.c-btn-flickr(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/flickr.svg" alt="flickr")
                span Flickr
              button.c-btn.c-btn-lg.c-btn-tumblr(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/tumblr.svg" alt="tumblr")
                span Tumblr
              button.c-btn.c-btn-lg.c-btn-xing(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/xing.svg" alt="xing")
                span Xing
              button.c-btn.c-btn-lg.c-btn-github(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/github.svg" alt="github")
                span Github
              button.c-btn.c-btn-lg.c-btn-stack-overflow(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/stack-overflow.svg" alt="stack-overflow")
                span StackOverflow
              button.c-btn.c-btn-lg.c-btn-youtube(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/youtube.svg" alt="youtube")
                span YouTube
              button.c-btn.c-btn-lg.c-btn-dribbble(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/dribbble.svg" alt="dribbble")
                span Dribbble
              button.c-btn.c-btn-lg.c-btn-instagram(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/instagram.svg" alt="instagram")
                span Instagram
              button.c-btn.c-btn-lg.c-btn-pinterest(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/pinterest.svg" alt="pinterest")
                span Pinterest
              button.c-btn.c-btn-lg.c-btn-vk(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/vk.svg" alt="vk")
                span VK
              button.c-btn.c-btn-lg.c-btn-yahoo(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/yahoo.svg" alt="yahoo")
                span Yahoo
              button.c-btn.c-btn-lg.c-btn-behance(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/behance.svg" alt="behance")
                span Behance
              button.c-btn.c-btn-lg.c-btn-reddit(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/reddit.svg" alt="reddit")
                span Reddit
              button.c-btn.c-btn-lg.c-btn-vimeo(type='button')
                img.c-btn-icon.c-mr-2(src="assets/icons/brands/vimeo.svg" alt="vimeo")
                span Vimeo
      // /.c-col
      .c-col-12
        .c-card
          .c-card-header
            strong Brand Buttons
            small &nbsp;Only icons
          .c-card-body
            h6
              | Size Small
              small
                | Add this class
                code .c-btn-sm
            p
              button.c-btn.c-btn-sm.c-btn-facebook(type='button')
                img.c-btn-icon(src="assets/icons/brands/facebook-f.svg" alt="facebook")
              button.c-btn.c-btn-sm.c-btn-twitter(type='button')
                img.c-btn-icon(src="assets/icons/brands/twitter.svg" alt="twitter")
              button.c-btn.c-btn-sm.c-btn-linkedin(type='button')
                img.c-btn-icon(src="assets/icons/brands/linkedin.svg" alt="linkedin")
              button.c-btn.c-btn-sm.c-btn-flickr(type='button')
                img.c-btn-icon(src="assets/icons/brands/flickr.svg" alt="flickr")
              button.c-btn.c-btn-sm.c-btn-tumblr(type='button')
                img.c-btn-icon(src="assets/icons/brands/tumblr.svg" alt="tumblr")
              button.c-btn.c-btn-sm.c-btn-xing(type='button')
                img.c-btn-icon(src="assets/icons/brands/xing.svg" alt="xing")
              button.c-btn.c-btn-sm.c-btn-github(type='button')
                img.c-btn-icon(src="assets/icons/brands/github.svg" alt="github")
              button.c-btn.c-btn-sm.c-btn-stack-overflow(type='button')
                img.c-btn-icon(src="assets/icons/brands/stack-overflow.svg" alt="stack-overflow")
              button.c-btn.c-btn-sm.c-btn-youtube(type='button')
                img.c-btn-icon(src="assets/icons/brands/youtube.svg" alt="youtube")
              button.c-btn.c-btn-sm.c-btn-dribbble(type='button')
                img.c-btn-icon(src="assets/icons/brands/dribbble.svg" alt="dribbble")
              button.c-btn.c-btn-sm.c-btn-instagram(type='button')
                img.c-btn-icon(src="assets/icons/brands/instagram.svg" alt="instagram")
              button.c-btn.c-btn-sm.c-btn-pinterest(type='button')
                img.c-btn-icon(src="assets/icons/brands/pinterest.svg" alt="pinterest")
              button.c-btn.c-btn-sm.c-btn-vk(type='button')
                img.c-btn-icon(src="assets/icons/brands/vk.svg" alt="vk")
              button.c-btn.c-btn-sm.c-btn-yahoo(type='button')
                img.c-btn-icon(src="assets/icons/brands/yahoo.svg" alt="yahoo")
              button.c-btn.c-btn-sm.c-btn-behance(type='button')
                img.c-btn-icon(src="assets/icons/brands/behance.svg" alt="behance")
              button.c-btn.c-btn-sm.c-btn-reddit(type='button')
                img.c-btn-icon(src="assets/icons/brands/reddit.svg" alt="reddit")
              button.c-btn.c-btn-sm.c-btn-vimeo(type='button')
                img.c-btn-icon(src="assets/icons/brands/vimeo.svg" alt="vimeo")
            h6 Size Normal
            p
              button.c-btn.c-btn-facebook(type='button')
                img.c-btn-icon(src="assets/icons/brands/facebook-f.svg" alt="facebook")
              button.c-btn.c-btn-twitter(type='button')
                img.c-btn-icon(src="assets/icons/brands/twitter.svg" alt="twitter")
              button.c-btn.c-btn-linkedin(type='button')
                img.c-btn-icon(src="assets/icons/brands/linkedin.svg" alt="linkedin")
              button.c-btn.c-btn-flickr(type='button')
                img.c-btn-icon(src="assets/icons/brands/flickr.svg" alt="flickr")
              button.c-btn.c-btn-tumblr(type='button')
                img.c-btn-icon(src="assets/icons/brands/tumblr.svg" alt="tumblr")
              button.c-btn.c-btn-xing(type='button')
                img.c-btn-icon(src="assets/icons/brands/xing.svg" alt="xing")
              button.c-btn.c-btn-github(type='button')
                img.c-btn-icon(src="assets/icons/brands/github.svg" alt="github")
              button.c-btn.c-btn-stack-overflow(type='button')
                img.c-btn-icon(src="assets/icons/brands/stack-overflow.svg" alt="stack-overflow")
              button.c-btn.c-btn-youtube(type='button')
                img.c-btn-icon(src="assets/icons/brands/youtube.svg" alt="youtube")
              button.c-btn.c-btn-dribbble(type='button')
                img.c-btn-icon(src="assets/icons/brands/dribbble.svg" alt="dribbble")
              button.c-btn.c-btn-instagram(type='button')
                img.c-btn-icon(src="assets/icons/brands/instagram.svg" alt="instagram")
              button.c-btn.c-btn-pinterest(type='button')
                img.c-btn-icon(src="assets/icons/brands/pinterest.svg" alt="pinterest")
              button.c-btn.c-btn-vk(type='button')
                img.c-btn-icon(src="assets/icons/brands/vk.svg" alt="vk")
              button.c-btn.c-btn-yahoo(type='button')
                img.c-btn-icon(src="assets/icons/brands/yahoo.svg" alt="yahoo")
              button.c-btn.c-btn-behance(type='button')
                img.c-btn-icon(src="assets/icons/brands/behance.svg" alt="behance")
              button.c-btn.c-btn-reddit(type='button')
                img.c-btn-icon(src="assets/icons/brands/reddit.svg" alt="reddit")
              button.c-btn.c-btn-vimeo(type='button')
                img.c-btn-icon(src="assets/icons/brands/vimeo.svg" alt="vimeo")
            h6
              | Size Large
              small
                | Add this class
                code .c-btn-lg
            p
              button.c-btn.c-btn-lg.c-btn-facebook(type='button')
                img.c-btn-icon(src="assets/icons/brands/facebook-f.svg" alt="facebook")
              button.c-btn.c-btn-lg.c-btn-twitter(type='button')
                img.c-btn-icon(src="assets/icons/brands/twitter.svg" alt="twitter")
              button.c-btn.c-btn-lg.c-btn-linkedin(type='button')
                img.c-btn-icon(src="assets/icons/brands/linkedin.svg" alt="linkedin")
              button.c-btn.c-btn-lg.c-btn-flickr(type='button')
                img.c-btn-icon(src="assets/icons/brands/flickr.svg" alt="flickr")
              button.c-btn.c-btn-lg.c-btn-tumblr(type='button')
                img.c-btn-icon(src="assets/icons/brands/tumblr.svg" alt="tumblr")
              button.c-btn.c-btn-lg.c-btn-xing(type='button')
                img.c-btn-icon(src="assets/icons/brands/xing.svg" alt="xing")
              button.c-btn.c-btn-lg.c-btn-github(type='button')
                img.c-btn-icon(src="assets/icons/brands/github.svg" alt="github")
              button.c-btn.c-btn-lg.c-btn-stack-overflow(type='button')
                img.c-btn-icon(src="assets/icons/brands/stack-overflow.svg" alt="stack-overflow")
              button.c-btn.c-btn-lg.c-btn-youtube(type='button')
                img.c-btn-icon(src="assets/icons/brands/youtube.svg" alt="youtube")
              button.c-btn.c-btn-lg.c-btn-dribbble(type='button')
                img.c-btn-icon(src="assets/icons/brands/dribbble.svg" alt="dribbble")
              button.c-btn.c-btn-lg.c-btn-instagram(type='button')
                img.c-btn-icon(src="assets/icons/brands/instagram.svg" alt="instagram")
              button.c-btn.c-btn-lg.c-btn-pinterest(type='button')
                img.c-btn-icon(src="assets/icons/brands/pinterest.svg" alt="pinterest")
              button.c-btn.c-btn-lg.c-btn-vk(type='button')
                img.c-btn-icon(src="assets/icons/brands/vk.svg" alt="vk")
              button.c-btn.c-btn-lg.c-btn-yahoo(type='button')
                img.c-btn-icon(src="assets/icons/brands/yahoo.svg" alt="yahoo")
              button.c-btn.c-btn-lg.c-btn-behance(type='button')
                img.c-btn-icon(src="assets/icons/brands/behance.svg" alt="behance")
              button.c-btn.c-btn-lg.c-btn-reddit(type='button')
                img.c-btn-icon(src="assets/icons/brands/reddit.svg" alt="reddit")
              button.c-btn.c-btn-lg.c-btn-vimeo(type='button')
                img.c-btn-icon(src="assets/icons/brands/vimeo.svg" alt="vimeo")
      // /.c-col
    // /.c-row
